<div class="my-notice">
  <div class="tb-cnt accordion-container">
    <table class="tb basic accordion" id="accordion3">
      <colgroup>
        <col style="width:13%;">
        <col style="width:auto">
        <col style="width:17%;">
        <col style="width:12%;">
      </colgroup>
      <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">제목</th>
        <th scope="col">작성일</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <!-- start: 테이블 셀 컨텐츠 영역 -->
      <template v-for="(item, idx) in noticeList">
        <tr @click="accordionToggle(idx)">
          <td class="td-tit">{{ item.id }}</td>
          <td><p class="txt-overflow" style="width: 250px;">{{ item.title }}</p></td>
          <td class="td-date">{{ String(item.createdAt).substr(0,10) }}</td>
          <td class="ico-cell">
            <div class="panel-heading"><a class="bt-cnt collapsed">
              <div class="bt-icon"><img :src="require('@/assets/images/icn-18-arrow-down.png')"></div>
            </a></div>
          </td>
        </tr>
        <tr>
          <td colspan="9" class="panel-td">
            <div class="collapse">
              <div class="panel-body bg-white">
                <p class="panel-tit pdb-10">{{ item.title }}</p>
                <span class="detail-info">{{ item.content }}</span>
              </div>
            </div>
          </td>
        </tr>
      </template>

      </tbody>
    </table>
  </div>
</div>
