<section class="contents-right">
    <div class="classes-file mgt-10">
        <div class="cnt-top">
            <h2 class="cnt-tit">파일함</h2>
        </div>

        <div class="classes-file-list">
            <div class="list-group">
                <p class="list-tit file-info bd-btm">총 <span class="num">{{ attachments.length }}</span>개 / <span>{{ getFileSize(totalFileSize) }}</span></p>
                <div v-if="allData.length>0" class="scroll-body file" style="height: 565px;">
                    <ul class="file-group mgt-0 mgb-0" style="background-color: #fff; height: inherit;">
                        <li v-for="(item, idx) in attachments"
                            :key="idx"
                            class="list-item bd-btm">
                            <div class="tb-style full">
                                <div class="tb-cell">
                                    <div class="file-info"
                                         :class="getMimeType(item.mimetype)">
                                        <p class="name">{{ item.originalname }}</p>
                                        <span class="size">{{ getFileSize(item.size) }}</span>
                                    </div>
                                </div>
                                <div class="tb-cell">
                                    <div class="file-info-btn txt-right">
                                        <div class="list-popup txt-left">
                                            <v-menu
                                                    min-width="200px"
                                                    :close-on-click="true">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <button
                                                            type="button"
                                                            class="list-popup-btn"
                                                            v-bind="attrs"
                                                            v-on="on">
                                                        <img :src="require('@/assets/images/more.svg')" alt="">
                                                    </button>
                                                </template>
                                                <v-list>
                                                    <v-list-item @click="openFileByNewTab(item.location)">
                                                        <v-list-item-title>파일 열기</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item @click="downloadFile(item.location)">
                                                        <v-list-item-title>파일 다운로드</v-list-item-title>
                                                    </v-list-item>
                                                    <!-- start: 교육과정은 parent_id 와 curriculum_id 도 필요하므로 별도로 렌더링 -->
                                                    <v-list-item v-if="item.post_type!==2" @click="openParentContentPopup(item.post_type, item.mimetype, item.parent_id)">
                                                        <v-list-item-title>파일이 첨부된 글로 이동</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item v-else @click="openParentContentPopup(item.post_type, item.mimetype, item.parent_id, item.curriculum_id)">
                                                        <v-list-item-title>파일이 첨부된 글로 이동</v-list-item-title>
                                                    </v-list-item>
                                                    <!-- end: 교육과정은 parent_id 와 curriculum_id 도 필요하므로 별도로 렌더링 -->
                                                </v-list>
                                            </v-menu>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 파일 없음 -->
                <div v-else class="no-notify">
                    <div class="no-data">
                        <p>파일이 없습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- start: 파일 첨부된 글 내용 팝업 -->
    <transition name="modal">
        <modal v-if="isParentPopup" size="600px" body-padding="0" @modalClose="isParentPopup=false;">
            <div slot="header">
                <div class="popup-close">
                    <button class="close" @click="isParentPopup=false;"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <div class="feed-item" style="border:none">
                        <div class="fd-head">
                            <h3 class="fd-tit">{{ content.title }}</h3>
                            <div class="fd-writer type2">
                                <p class="writer">
                                    <span class="name" :class="memberLevelIcon(postOwner.level)">{{ postOwner.nickname }}</span>
                                    <span class="time">{{ content.createdAt }}</span>
                                    <span class="noti">{{ content.type===0? '일반' : '공지' }}</span>
                                </p>
                            </div>
                            <div class="fd-btn">
                                <button type="button" class="btn only-ico-btn sm bookmark active"></button>
                                <div class="list-popup">
                                    <v-menu
                                            min-width="200px"
                                            :close-on-click="true">
                                        <template v-slot:activator="{ on, attrs }">
                                            <button
                                                    type="button"
                                                    class="list-popup-btn"
                                                    v-bind="attrs"
                                                    v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                                            </button>
                                        </template>
                                        <v-list v-if="postType!==2">
                                            <v-list-item @click="">
                                                <v-list-item-title>일정 수정</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="">
                                                <v-list-item-title>공지로 등록</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="">
                                                <v-list-item-title>일정 보관</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="">
                                                <v-list-item-title>일정 삭제</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                        <v-list v-else>
                                            <v-list-item @click="">
                                                <v-list-item-title>교육과정 수정</v-list-item-title>
                                            </v-list-item>
                                            <v-list-item @click="">
                                                <v-list-item-title>교육과정 삭제</v-list-item-title>
                                            </v-list-item>
                                        </v-list>
                                    </v-menu>
                                </div>
                            </div>
                        </div>
                        <div class="fd-cnt">
                            <p class="fd-txt">{{ content.text }}</p>
                            <template v-if="postType!==2">
                                <div class="fd-inner">
                                    <!-- start: attach 에 이미지파일이 있는 경우 -->
                                    <template v-if="mimeType.includes('image')">
                                        <ul class="img-list clearfix">
                                            <li v-for="item in content.attachment"><a href=""><img :src="item.location" alt=""></a></li>
                                        </ul>
                                    </template>
                                    <!-- end: attach 에 이미지파일이 있는 경우 -->

                                    <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
                                    <template v-else>
                                        <p class="fd-inner-txt">첨부 파일 {{ fileCount }}</p>
                                        <ul class="file-list clearfix">
                                            <li v-for="item in content.attachment"><a :href="item.location">{{ item.originalname }}</a></li>
                                        </ul>
                                    </template>
                                    <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
                                </div>
                            </template>

                            <!-- start: 교육과정은 schema 구조가 다르므로 별도로 렌더링 -->
                            <template v-else>
                                <div class="fd-inner">
                                    <!-- start: attach 에 이미지파일이 있는 경우 -->
                                    <template v-if="mimeType.includes('image')">
                                        <ul class="img-list clearfix">
                                            <li v-for="item in content.course_list">
                                                <a v-for="file in item.attachment" href=""><img :src="file.location" alt=""></a>
                                            </li>
                                        </ul>
                                    </template>
                                    <!-- end: attach 에 이미지파일이 있는 경우 -->

                                    <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
                                    <template v-else>
                                        <p class="fd-inner-txt">첨부 파일 {{ fileCount }}</p>
                                        <ul class="file-list clearfix">
                                            <li v-for="item in content.course_list">
                                                <a v-for="file in item.attachment" :href="file.location">{{ file.originalname }}</a>
                                            </li>
                                        </ul>
                                    </template>
                                    <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
                                </div>
                            </template>
                            <!-- end: 교육과정은 schema 구조가 다르므로 별도로 렌더링 -->

                        </div>

                        <div class="fd-foot clearfix">
                            <span class="fd-viewer">124명 읽음</span>
                            <span class="fd-comment">댓글 12</span>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <btn type="navi" @btnClick="isParentPopup=false;">닫기</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 파일 첨부된 글 내용 팝업 -->

</section>
