<section class="contents-right">
    <div class="classes-file mgt-10">
        <div class="cnt-top">
            <h2 class="cnt-tit">파일함</h2>
        </div>

        <div class="classes-file-list">
            <div class="list-group">
                <p class="list-tit file-info bd-btm">총 <span class="num">{{ allData.length }}</span>개 / <span>15.9</span> MB</p>
                <div class="scroll-body file" style="height: 565px;">
                    <ul class="file-group mgt-0 mgb-0" style="background-color: #fff; height: inherit;">
                        <li v-for="(item, idx) in allData"
                            :key="idx"
                            class="list-item bd-btm">
                            <div class="tb-style full">
                                <div class="tb-cell">
                                    <div class="file-info"
                                         :class="getMimeType(item.mimetype)">
                                        <p class="name">{{ item.originalname }}</p>
                                        <span class="position">{{ getFileSize(item.size) }} MB</span>
                                    </div>
                                </div>
                                <div class="tb-cell">
                                    <div class="file-info-btn txt-right">
                                        <div class="list-popup txt-left">
                                            <v-menu
                                                    min-width="200px"
                                                    :close-on-click="true">
                                                <template v-slot:activator="{ on, attrs }">
                                                    <button
                                                            type="button"
                                                            class="list-popup-btn"
                                                            v-bind="attrs"
                                                            v-on="on">
                                                        <img :src="require('@/assets/images/more.svg')" alt="">
                                                    </button>
                                                </template>
                                                <v-list>
                                                    <v-list-item @click="openFileByNewTab(item.location)">
                                                        <v-list-item-title>파일 열기</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item @click="">
                                                        <v-list-item-title>파일 다운로드</v-list-item-title>
                                                    </v-list-item>
                                                    <v-list-item @click="">
                                                        <v-list-item-title>파일이 첨부된 글로 이동</v-list-item-title>
                                                    </v-list-item>
                                                </v-list>
                                            </v-menu>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
