<div class="contents">
    <div class="contents-inner">
        <div class="all-form">
            <h2 class="main-tit">클래스 탈퇴 완료</h2>

            <div class="form-wrapper">
                <div class="form-cnt" style="height:320px;">
                    <div class="form-card bg2">
                        <p class="card-tit fw-500"><span class="fc-red">꿈꾸는 5학년 1반</span> 클래스에서<br>탈퇴가 완료되었습니다.</p>
                    </div>
                </div>
                <div class="form-btm">
                    <div class="btn-group ct">
                        <button type="button" class="btn primary red" @click="goHome">홈으로 가기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>