
<!-- 멤버 관리 팝업 모음 -->

<div class="contents home">
    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8 (멤버 활동 관리) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">멤버 활동 관리</p>
            <div class="popup-close">
                <button class="close"><img src="assets/images/close.svg" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="member-activity">
                <div class="activity-tit grey">
                    <p><strong>차단 멤버 목록</strong> <a href="" class="more-btn"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a></p>
                </div>
                <div class="activity-tit">
                    <p>멤버 2118</p>
                </div>
                <div class="member-management-list scroll-body" style="height:540px;">
                    <ul>
                        <li class="member-item">
                            <div class="member-type manager">
                                <p class="member-name">김미영선생님</p>
                                <p class="member-tit">운영자</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                        <li class="member-item">
                            <div class="member-type staff">
                                <p class="member-name">김경희선생님</p>
                                <p class="member-tit">스탭 멤버</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                        <li class="member-item">
                            <div class="member-type staff">
                                <p class="member-name">박철수선생님</p>
                                <p class="member-tit">스탭 멤버</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                        <li class="member-item">
                            <div class="member-type staff">
                                <p class="member-name">새봄선생님</p>
                                <p class="member-tit">스탭 멤버</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">저장</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.9 (스탭 관리) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">스탭 관리</p>
            <div class="popup-close">
                <button class="close"><img src="assets/images/close.svg" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="member-activity">
                <div class="activity-tit">
                    <p>스탭 3</p>
                </div>
                <div style="height:586px;">
                    <div class="member-management-list scroll-body" style="max-height:536px;">
                        <ul>
                            <li class="member-item">
                                <div class="member-type staff">
                                    <p class="member-name">김경희선생님</p>
                                    <p class="member-tit">스탭 멤버</p>
                                </div>
                                <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                            </li>
                            <li class="member-item">
                                <div class="member-type staff">
                                    <p class="member-name">박철수선생님</p>
                                    <p class="member-tit">스탭 멤버</p>
                                </div>
                                <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                            </li>
                            <li class="member-item">
                                <div class="member-type staff">
                                    <p class="member-name">새봄선생님</p>
                                    <p class="member-tit">스탭 멤버</p>
                                </div>
                                <a href="" class="member-more"><img :src="require('@/assets/images/more.svg')" alt=""></a>
                            </li>
                        </ul>
                    </div>

                    <div class="add-staff">
                        <a href="" class="txt-btn"><img :src="require('@/assets/images/add.svg')" alt="">스탭 추가</a>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">저장</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.9.1 (스탭 추가) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit"><a href="" class="mgr-10"><img src="assets/images/arrow-left.svg" alt=""></a> 스탭 추가하기 목록</p>
            <div class="popup-close">
                <button class="close"><img src="assets/images/close.svg" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="member-activity">
                <div class="activity-tit">
                    <p>일반 멤버 2115</p>
                </div>
                <div class="member-management-list scroll-body" style="height:586px;">
                    <ul>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                        <li class="member-item">
                            <div class="member-type member">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="" class="member-more">스탭 추가하기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">저장</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.9.1.1 (스탭 추가 - 권한 설정) -->
    <modal v-if="true">
        <div slot="header">
            <!-- header custom coding-->
            <div class="popup-icon add"></div>
            <div class="popup-close">
                <button class="close"><img src="assets/images/close.svg" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-cnt">
                <h2 class="popup-tit pdb-0">스탭 추가하기</h2>
            </div>
            <div class="member-activity">
                <div class="member-management-list bd-none">
                    <ul>
                        <li class="member-item bd-none pdb-0">
                            <div class="member-type member mgb-15">
                                <p class="member-name">박정수 엄마</p>
                                <p class="member-tit">
                                    <span>일반 멤버</span>
                                    <img :src="require('@/assets/images/arrow-line.svg')" class="icon-img sm" alt="">
                                    <span>스탭 멤버</span>
                                </p>
                            </div>
                            <ul class="auth-list">
                                <li>
                                    <p class="auth-tit">알림 관리</p>
                                    <div class="auth-btn">
                                        <div class="form-switcher">
                                            <input type="checkbox" id="authNotice" checked>
                                            <label for="authNotice"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="auth-tit">일정 관리</p>
                                    <div class="auth-btn">
                                        <div class="form-switcher">
                                            <input type="checkbox" id="authSchedule" checked>
                                            <label for="authSchedule"></label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <p class="auth-tit">교육과정 관리</p>
                                    <div class="auth-btn">
                                        <div class="form-switcher">
                                            <input type="checkbox" id="authEdu" checked>
                                            <label for="authEdu"></label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">스탭 추가</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->
</div>
