<div class="contents home">
    <div class="contents-inner">
        <div class="contents-group">
            <section class="contents-left">
                <div class="class-home">
                    <div class="class-home-info">
                        <div class="info-img">
                            <img :src="require('@/assets/images/bg-icon.png')" alt="">
                            <a href="" class="img-change"><img :src="require('@/assets/images/btn-round2.png')" alt=""></a>
                        </div>
                        <div class="info-txt">
                            <p class="info-cn">꿈꾸는 5학년 1반</p>
                            <span class="info-or">파파야초등학교</span>
                            <ul class="info-list">
                                <li>2019</li>
                                <li>비공개클래스</li>
                                <li><a href="">멤버 2122</a></li>
                            </ul>
                            <p class="info-tag">
                                #꿈꾸는아이들 #파파야초등학교 #재미있는 #파파야 #어드벤처
                            </p>
                        </div>
                        <div class="class-bookmark">
                            <button type="button" class="btn ico-btn ico-left active"><span class="icon heart"></span>즐겨찾기</button>
                        </div>
                    </div>
                    <div class="class-menu">
                        <ul class="menu-list">
                            <li><a href="javascript:void(0);" class="type1">클래스 홈</a></li>
                            <li><a href="javascript:void(0);" class="type2">알림</a></li>
                            <li><a href="javascript:void(0);" class="type3">일정</a></li>
                            <li><a href="javascript:void(0);" class="type4">파일함</a></li>
                            <li><a href="javascript:void(0);" class="type5">교육과정</a></li>
                            <li><a href="javascript:void(0);" class="type6 active">클래스 설정</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <transition name="slide-out" mode="out-in">
                <router-view></router-view>
            </transition>

        </div>
    </div>
</div>
