
<!-- 클래스 관리메뉴 팝업 모음 -->

<div class="contents">
    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.3 (클래스 기본 정보 관리) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">클래스 기본 정보 관리</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="class-basic-info">
                <div class="info-top">
                    <img :src="require('@/assets/images/school-on.png')" alt="">
                    <p class="group-type">학교</p>
                </div>

                <div class="info-cnt">
                    <div class="info-form">
                        <div class="form-group">
                            <label for="schoolName">학교 이름</label>
                            <button type="button" class="btn primary grey sm">검색</button>
                            <input type="text" class="form-control" id="schoolName" value="파파야 초등학교" disabled style="width:430px">
                        </div>
                        <div class="form-group mgt-40">
                            <label for="className">클래스 이름</label>
                            <input type="text" class="form-control" id="className" value="꿈꾸는 5학년 1반">
                        </div>
                        <div class="form-group mgt-40">
                            <span class="label">공개 범위 <a href="" class="tip-info"><img :src="require('@/assets/images/info.svg')" class="icon-img" alt=""></a></span>
                            <div class="checkbox-group">
                                <div class="btn-radio">
                                    <input type="radio" name="privacy" id="closedClass" checked>
                                    <label for="closedClass">비공개 클래스</label>
                                </div>
                                <div class="btn-radio">
                                    <input type="radio" name="privacy" id="openedClass">
                                    <label for="openedClass">오픈 클래스</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">저장</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.4 (클래스 태그 관리) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">클래스 태그 관리</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-cnt">
                <p class="popup-txt">클래스를 표현할 수 있는 태그를 추가해 보세요. 총 10개까지 등록 가능합니다.</p>

                <div class="tag-cnt">
                    <span class="label">등록된 태그 <strong>6/10</strong></span>
                    <div class="tag-list mgt-16">
                        <div class="hashtag"><span class="tag-label">꿈꾸는아이들</span> <a href="" class="tag-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a></div>
                        <div class="hashtag"><span class="tag-label">파파야초등학교</span> <a href="" class="tag-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a></div>
                        <div class="hashtag"><span class="tag-label">재미있는</span> <a href="" class="tag-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a></div>
                        <div class="hashtag"><span class="tag-label">초등학교</span> <a href="" class="tag-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a></div>
                        <div class="hashtag"><span class="tag-label">파파야</span> <a href="" class="tag-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a></div>
                        <div class="hashtag"><span class="tag-label">어드벤처</span> <a href="" class="tag-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a></div>
                        <button type="button" class="btn ico-btn ico-left sm"><img :src="require('@/assets/images/add.svg')" class="icon" alt="">태그추가</button>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">저장</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.4.2 (클래스 태그 관리 - 태그 검색중/완료) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <div class="popup-icon search"></div>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-search">
                <h2 class="popup-tit">태그를 검색해 보세요.</h2>
                <div class="form-group inline">
                    <input type="text" class="form-control" id="input3" value="파파야" style="width:370px">
                    <button type="button" class="btn primary grey sm">검색</button>
                </div>
            </div>
            <div class="popup-search-result">
                <div class="popup-search-list">
                    <ul>
                        <li class="popup-search-item"><a href=""><strong>파파야</strong></a></li>
                        <li class="popup-search-item"><a href=""><strong>파파야</strong>초등학교</a></li>
                        <li class="popup-search-item"><a href=""><strong>파파야</strong>중학교</a></li>
                        <li class="popup-search-item"><a href=""><strong>파파야</strong>고등학교</a></li>
                        <li class="popup-search-item"><a href="">레드<strong>파파야</strong></a></li>
                        <li class="popup-search-item"><a href="">골드<strong>파파야</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.5 (가입 안내 문구 설정) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">가입 안내 문구 설정</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-cnt">
                <p class="popup-txt">가입 안내 문구는 멤버가 클래스 가입 시 노출됩니다.</p>

                <div class="form-group mgt-20">
                    <label for="guideTxt">가입 안내 문구</label>
                    <textarea class="form-textarea mgt-10" id="guideTxt" placeholder="text"></textarea>
                    <small class="form-message count">0/100</small>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">저장</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.6 (가입 질문 설정) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">가입 질문 설정</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-cnt">
                <p class="popup-txt">가입 질문 설정 시 멤버가 클래스 가입 시 질문을 대답해야만 클래스 가입이 가능합니다.<br>질문의 갯수는 총 3개까지 등록할 수 있습니다.</p>
            </div>
            <div class="profile-qna-setting">
                <div class="qan-setting-top">
                    <p>가입 질문 설정</p>
                    <div class="qna-setting-btn">
                        <div class="form-switcher">
                            <input type="checkbox" id="toggle1" checked>
                            <label for="toggle1"></label>
                        </div>
                    </div>
                </div>

                <div class="qna-setting-list">
                    <p>질문 목록</p>
                    <ul class="qna-list">
                        <li class="list-item">
                            <span class="num">1</span>
                            <div class="qna-input">
                                <div class="form-group" style="width:490px;">
                                    <input type="text" class="form-control popup-type" id="input4" value="자녀와의 관계가 어떻게 되시나요? (예. 엄마, 아빠 등)">
                                    <!-- form-delete active 시 display:block; -->
                                    <button type="button" class="btn only-ico-btn form-delete active"><img :src="require('@/assets/images/delete.svg')" alt=""></button>
                                </div>
                            </div>
                        </li>

                        <li class="list-item">
                            <span class="num">2</span>
                            <div class="qna-input">
                                <div class="form-group" style="width:490px;">
                                    <input type="text" class="form-control popup-type" id="input5" value="살고 있는 지역을 간단히 써주세요. (예. 서울 성북구)">
                                    <!-- form-delete active 시 display:block; -->
                                    <button type="button" class="btn only-ico-btn form-delete active"><img :src="require('@/assets/images/delete.svg')" alt=""></button>
                                </div>
                            </div>
                        </li>

                        <li class="list-item">
                            <span class="num disabled">3</span>
                            <div class="qna-input">
                                <div class="form-group" style="width:490px;">
                                    <input type="text" class="form-control popup-type" id="input6" placeholder="질문을 30자 이내로 입력해 주세요.">
                                    <!-- form-delete active 시 display:block; -->
                                    <button type="button" class="btn only-ico-btn form-delete active"><img :src="require('@/assets/images/delete.svg')" alt=""></button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">취소</button>
                <button type="button" class="btn primary navi">저장</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.7 (가입 현황 관리) -->
    <modal v-if="false">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">가입 현황 관리</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-cnt">
                <p class="popup-txt">가입 신청자 대기 리스트입니다.</p>
            </div>

            <div class="apply-list scroll-body" style="height:580px;">
                <ul>
                    <li class="apply-item">
                        <p class="apply-name">김민재아빠</p>
                        <span class="apply-date">2분 전 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">태수 엄마</p>
                        <span class="apply-date">어제 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">김기태</p>
                        <span class="apply-date">2020. 1. 21 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">김미나</p>
                        <span class="apply-date">2020. 1. 3 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">윤태민</p>
                        <span class="apply-date">2019. 12. 31 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">윤태민</p>
                        <span class="apply-date">2019. 12. 29 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">윤태민</p>
                        <span class="apply-date">2019. 12. 29 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">윤태민</p>
                        <span class="apply-date">2019. 12. 29 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                    <li class="apply-item">
                        <p class="apply-name">윤태민</p>
                        <span class="apply-date">2019. 12. 29 신청</span>
                        <a href="" class="apply-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.7.1 (가입 현황 관리 - 가입 신청 상세) -->
    <modal v-if="true">
        <div slot="header">
            <!-- header custom coding-->
            <div class="popup-icon add"></div>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-cnt">
                <h2 class="popup-tit pdb-0">가입 신청 상세</h2>
            </div>
            <div class="member-profile">
                <p class="request-date">2019. 10. 30 오후 11:00에 신청</p>

                <div class="join-detail">
                    <div class="join-detail-top">
                        <p class="join-top-tit">클래스 닉네임</p>
                        <span class="join-top-txt">김민재아빠</span>
                    </div>

                    <div class="join-detail-cnt">
                        <div class="join-qna">
                            <p class="join-qna-q">1. 자녀와의 관계가 어떻게 되시나요? (예. 엄마, 아빠 등)</p>
                            <p class="join-qna-a">아빠</p>
                        </div>
                        <div class="join-qna">
                            <p class="join-qna-q">2. 살고 있는 지역을 간단히 써주세요. (예. 서울 성북구)</p>
                            <p class="join-qna-a">서울 강남구</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn outline">거절</button>
                <button type="button" class="btn primary navi">신청 수락</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

</div>
