<div class="my-chage">
  <template v-if="!isPwConfirmed">
    <h3>현재 비밀번호 확인</h3>

    <div class="form-group inline mgt-40">
      <label for="oPwd" class="required">비밀번호</label>
      <input type="password" class="form-control" id="oPwd" placeholder="비밀번호를 입력해 주세요." style="width:356px" v-model="pwdFormData.oPwd">
    </div>

    <div class="btn-box">
      <btn type="outline" @btnClick="gotoMyProfile">취소</btn>
      <btn type="navi" @btnClick="pwdConfirm">확인</btn>
    </div>
  </template>

  <template v-else>
    <h3>비밀번호 재설정</h3>

    <div class="form-group inline mgt-40">
      <label for="nPwd" class="required">새 비밀번호</label>
      <input type="password" class="form-control" id="nPwd" placeholder="새 비밀번호를 입력해 주세요." style="width:356px" v-model="pwdFormData.nPwd">
    </div>

    <div class="form-group mgt-40" style="padding-left: 123px">
      <input type="password" class="form-control" id="rePwd" placeholder="새 비밀번호를 다시 입력해 주세요." style="width:356px" v-model="pwdFormData.rePwd">
    </div>

    <div class="btn-box">
      <btn type="outline" @btnClick="gotoMyProfile">취소</btn>
      <btn type="navi" @btnClick="pwdChangeSubmit">변경하기</btn>
    </div>
  </template>
</div>