
.form-item>p{margin-bottom:0;}
.theme--light.v-calendar-weekly .v-calendar-weekly__day:not(:last-child),
.theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday:not(:last-child){
  border-right:0;
}
.v-calendar-weekly__day-label .v-btn{font-size:14px;}
/*달력 클릭했을때 배경 */
.theme--light.v-btn:focus {
  color:#fff;
  &:before{
    opacity: 1;
    background-color:#1d1d4c;
  }
}
//현재 month 가 아닌 이전/다음 month 의 요일
.theme--light.v-calendar-weekly .v-calendar-weekly__day.v-outside,
.theme--light.v-calendar-weekly .v-calendar-weekly__head-weekday.v-outside{
  background-color: #f9f9f9;
  .v-btn__content{
    color:#9d9db2;
  }
}
//달력 상단 요일
.v-calendar-weekly__head-weekday{
  font-size:14px;
}

.v-text-field input{font-size:14px;}
.form-group.time .v-icon{font-size:14px;}
.time-select-menu.bg-white{
  background-color:#fff !important;
  .v-input__icon{
    height:16px;
    width:16px;
    min-width:16px;
    .v-icon{
      font-size:16px;
    }
  }
  .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot{
    padding:0 8px;
  }

}
.form-group{
  .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)>.v-input__control>.v-input__slot{
    padding:0;
  }
  &.date, &.time{
    .v-text-field input{text-align:right;width:125px;}
  }
}


//캘린더 헤더
.v-calendar.v-calendar-events .v-calendar-weekly__head-weekday{margin-right:0;}
//캘린더 관련 scss 추가
.v-event-draggable {
  padding-left: 6px;
}

.v-event-timed {
  user-select: none;
  -webkit-user-select: none;
}

.v-event-drag-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  height: 4px;
  cursor: ns-resize;

  &::after {
    display: none;
    position: absolute;
    left: 50%;
    height: 4px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 16px;
    margin-left: -8px;
    opacity: 0.8;
    content: '';
  }

  &:hover::after {
    display: block;
  }
}

// v-snackbar 관련
.under-popup {
  margin-bottom: calc(50vh - 238px);
}
.v-sheet.v-snack__wrapper {
  border-radius: 0;
}
//전체 a태그에 vuetify 가 컬러를 변경하고 있어서 여기서 변경해줌. 그외에 a 태크에 color 는 전부 별도 설정 해야 함.
.v-application a{ color: #0f0f15 !important; }
/*curriculum 수정*/
.v-application--wrap{
  .curriculum-wrap a {color: #57576d !important;}
  .curriculum-wrap p {margin-bottom: 0;}
}
/* myProfile */
.mypage-cnt {
  .v-application p {margin-bottom: 0;}
  .v-text-field.v-text-field--solo .v-input__control {min-height: auto;}
}