/* Error: Undefined mixin.
 *    ,
 * 46 |     @include pos-abs($top: 0, $left: 0);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   _form.scss 46:5  @import
 *   pages.scss 4:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 46 \2502      @include pos-abs($top: 0, $left: 0);\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   _form.scss 46:5  @import\a   pages.scss 4:9   root stylesheet";
}
