<div class="my-customer">
    <div class="customer-top pd-desc">
        <p>아직 해결되지 않은 문제가 있으신가요?</p>
        <div class="bookmark-btn"><a href="mailto:info@inition.kr" class="btn primary grey sm">문의하기</a></div>
    </div>
    <div class="tb-cnt accordion-container">
        <table class="tb basic accordion" id="accordion3">
            <colgroup>
                <col style="width:16%;">
                <col style="width:auto">
                <col style="width:12%;">
            </colgroup>
            <thead>
            <tr>
                <th scope="col">카테고리</th>
                <th scope="col">제목</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <!-- start: 테이블 셀 컨텐츠 영역 -->
            <template v-for="(item, idx) in faqList">
                <tr @click="accordionToggle(idx)">
                    <td class="td-tit">[{{ item.category_name }}]</td>
                    <td><p class="txt-overflow" style="width:400px;">{{ item.question }}</p></td>
                    <td class="ico-cell">
                        <div class="panel-heading"><a class="bt-cnt collapsed">
                            <div class="bt-icon"><img :src="require('@/assets/images/icn-18-arrow-down.png')"></div>
                        </a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="panel-td">
                        <div class="collapse">
                            <div class="panel-body" style="background-color: #fff">
                                <p class="panel-tit pdb-10">{{ item.question }}</p>
                                <span class="detail-info">{{ item.answer }}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </template>

            </tbody>
        </table>
    </div>
</div>
