<div class="mypage-cnt">
    <div class="cnt-top">
        <h2 class="cnt-tit">고객센터</h2>
    </div>

    <div class="my-customer">
        <div class="customer-top pd-desc">
            <p>아직 해결되지 않은 문제가 있으신가요?</p>
            <div class="bookmark-btn"><a href="" class="btn primary grey sm">문의하기</a></div>
        </div>
        <div class="tb-cnt accordion-container">
            <table class="tb basic accordion" id="accordion3">
                <colgroup>
                    <col style="width:16%;">
                    <col style="width:auto">
                    <col style="width:12%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">카테고리</th>
                    <th scope="col">제목</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <!-- start: 테이블 셀 컨텐츠 영역 -->
                <tr>
                    <td class="td-tit">[로그인]</td>
                    <td><p class="txt-overflow" style="width:400px;">로그인이 잘 안됩니다. 이유가 무엇인가요? 로그인이 잘 안됩니다.로그인이 잘 안됩니다. 이유가 무엇인가요? 로그인이 잘 안됩니다.로그인이 잘 안됩니다. 이유가 무엇인가요? 로그인이 잘 안됩니다.로그인이 잘 안됩니다. 이유가 무엇인가요? 로그인이 잘 안됩니다.</p></td>
                    <td class="ico-cell">
                        <div class="panel-heading"><a class="bt-cnt" data-toggle="collapse" href="#accMn-53"><div class="bt-icon"><img src="../assets/images/icn-18-arrow-down.png"></div></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="panel-td">
                        <div class="collapse show" id="accMn-53" data-parent="#accordion3">
                            <div class="panel-body" style="background-color: #fff">
                                <p class="panel-tit pdb-10">로그인이 잘 안됩니다. 이유가 무엇인가요? 로그인이 잘 안됩니다. 이유가 무엇인가요?</p>
                                <span class="detail-info"> FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. </span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="td-tit">[카테고리]</td>
                    <td><p class="txt-overflow" style="width:400px;">긴급 서버 점검 안내</p></td>
                    <td class="ico-cell">
                        <div class="panel-heading"><a class="bt-cnt collapsed" data-toggle="collapse" href="#accMn-50"><div class="bt-icon"><img src="../assets/images/icn-18-arrow-down.png"></div></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="panel-td">
                        <div class="collapse" id="accMn-50" data-parent="#accordion3">
                            <div class="panel-body" style="background-color: #fff">
                                <p class="panel-tit pdb-10">파파야 V 0.5.2 업데이트 안내</p>
                                <span class="detail-info"> FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. </span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="td-tit">[카테고리]</td>
                    <td><p class="txt-overflow" style="width:400px;">긴급 서버 점검 안내</p></td>
                    <td class="ico-cell">
                        <div class="panel-heading"><a class="bt-cnt collapsed" data-toggle="collapse" href="#accMn-51"><div class="bt-icon"><img src="../assets/images/icn-18-arrow-down.png"></div></a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="9" class="panel-td">
                        <div class="collapse" id="accMn-51" data-parent="#accordion3">
                            <div class="panel-body" style="background-color: #fff">
                                <p class="panel-tit pdb-10">파파야 V 0.5.2 업데이트 안내</p>
                                <span class="detail-info"> FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. FAQ 내용이 들어갑니다. </span>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
