<section class="contents-right">
    <div class="non-popup">
        <div class="popup-header">
            <p class="popup-header-tit">클래스 기본 정보 관리</p>
            <div class="popup-close">
                <button class="close" @click="goBack"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div class="popup-body">
            <div class="class-basic-info">
                <div class="info-top">
                    <img :src="require('@/assets/images/school-on.png')" alt="">
                    <p class="group-type">학교</p>
                </div>

                <div class="info-cnt">
                    <div class="info-form">
                        <div class="form-group">
                            <label for="schoolName">학교 이름</label>
                            <btn type="grey" size="sm">검색</btn>
                            <input type="text" class="form-control" id="schoolName"
                                   v-model="info.g_name" readonly style="width:430px">
                        </div>
                        <div class="form-group mgt-40">
                            <label for="className">클래스 이름</label>
                            <input type="text" class="form-control" id="className"
                                   v-model="info.name">
                        </div>
                        <div class="form-group mgt-40">
                            <span class="label">공개 범위 <button type="button" class="tip-info"><img :src="require('@/assets/images/info.svg')" class="icon-img" alt=""></button></span>
                            <div class="checkbox-group">
                                <div class="btn-radio">
                                    <input type="radio" name="privacy" id="closedClass" :checked="classInfo.is_private === true">
                                    <label for="closedClass">비공개 클래스</label>
                                </div>
                                <div class="btn-radio">
                                    <input type="radio" name="privacy" id="openedClass" :checked="classInfo.is_private === false">
                                    <label for="openedClass">오픈 클래스</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-footer">
            <div class="btn-group rt">
                <btn type="outline" @btnClick="goBack">취소</btn>
                <btn type="navi">저장</btn>
            </div>
        </div>
    </div>
</section>