

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="a6">
      <p class="find-txt">비밀번호 재설정을 위한 인증방법을 선택해 주세요. </p>
      <div class="find-info">
        <div class="find-type">
          <!--<div class="btn-radio">
            <input type="radio" name="radio" id="radio1" checked>
            <label for="radio1">회원 정보에 등록된 모바일 번호로 인증</label>
          </div>-->
          <radio-button btn-id="radio1"
                        radio-name="radio"
                        btn-value="mobile"
                        :radio-data="formData.radioValue"
                        @click="optionFindChange">회원 정보에 등록된 모바일 번호로 인증</radio-button>
        </div>
        <div class="find-info-input" :class="{'active':activeInputField('mobile')}">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="아이디를 입력해 주세요." v-model="formData.userId"  style="width:306px">
          </div>
          <div class="form-group inline">
            <input type="text" class="form-control" placeholder="모바일 번호 ‘-‘없이 입력해 주세요." v-model="formData.mobile" style="width:216px">
            <button type="button" class="btn basic x32 sm secondary fill" :disabled="!userMobileState && formData.userId!==''" @click.stop="getUserAuthByMobile">인증</button>
          </div>
        </div>
      </div>
      <div class="find-info">
        <div class="find-type">
          <!--<div class="btn-radio">
            <input type="radio" name="radio" id="radio2">
            <label for="radio2">회원 정보에 등록된 이메일로 인증</label>
          </div>-->
          <radio-button btn-id="radio2"
                        radio-name="radio"
                        btn-value="email"
                        :radio-data="formData.radioValue"
                        @click="optionFindChange">회원 정보에 등록된 이메일로 인증</radio-button>
        </div>
        <div class="find-info-input" :class="{'active':activeInputField('email')}">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="아이디를 입력해 주세요."  style="width:306px">
          </div>
          <div class="form-group inline">
            <input type="text" class="form-control" placeholder="이메일 주소를 입력해 주세요."  style="width:216px">
            <button type="button" class="btn basic x32 sm secondary fill" :disabled="!userEmailState" @click.stop="getUserAuthByEmail">인증</button>
          </div>
        </div>
      </div>

      <div class="find-btn">
        <div class="btn-group">
          <button type="button" class="btn primary red big wd-full" :class="{'disabled':!verificationConfirm() }" @click="confirmClickHandler">확인</button>
        </div>
      </div>
      <div class="page-back"><a href="" @click.prevent="gotoLoginHandler">로그인으로 돌아가기</a></div>
    </div>
  </div>

