<!-- Tab panes -->
  <div class="tab-content" style="height:588px;">
    <div role="tabpanel" class="tab-pane" v-if="!isConfirmComplete">

      <p class="find-txt">비밀번호 재설정을 위한 인증방법을 선택해 주세요. </p>
      <!-- start: 회원 정보에 등록된 모바일 번호로 인증 -->
      <div class="find-info">
        <div class="find-type">
          <!--<div class="btn-radio">
            <input type="radio" name="radio" id="radio1" checked>
            <label for="radio1">회원 정보에 등록된 모바일 번호로 인증</label>
          </div>-->
          <radio-button btn-id="radio1"
                        radio-name="radio"
                        btn-value="mobile"
                        :radio-data="formData.radioValue"
                        @click="optionFindChange">회원 정보에 등록된 모바일 번호로 인증</radio-button>
        </div>
        <div class="find-info-input" :class="{'active':activeInputField('mobile')}">
            <div class="form-group">
              <ValidationProvider name="아이디" rules="required" v-slot="{ errors }">
                <input type="text" class="form-control" placeholder="아이디를 입력해 주세요."
                       v-model="formData.userId"  style="width:306px">
                <p class="form-message error">{{ errors[0] }}</p>
              </ValidationProvider>
            </div>

            <!--<div class="form-group inline">
              <ValidationProvider name="모바일 번호" rules="required|mobile" v-slot="{ errors }">
                <input type="text" class="form-control" placeholder="모바일 번호 ‘-‘없이 입력해 주세요."
                       v-model="formData.mobile" style="width:216px">
                &lt;!&ndash;<button type="button" class="btn basic x32 sm outline fill"
                        :disabled="!userMobileState"
                        @click.stop="getUserAuthByMobile">인증</button>&ndash;&gt;
                <btn type="grey" size="sm" :state="!userMobileState" @btnClick="getUserAuthByMobile">인증</btn>
                <p class="form-message approval" v-if="isMobileChk">모바일 인증이 완료 되었습니다. </p>
                <p class="form-message error">{{ errors[0] }}</p>
              </ValidationProvider>
            </div>-->

          <InputGroup title="인증"
                      name="모바일 번호"
                      rules="required|mobile"
                      placeholder="모바일 번호 ‘-‘없이 입력해 주세요."
                      v-model="formData.mobile"
                      input-size="216"
                      btn-type="grey"
                      btn-size="sm"
                      :success="isMobileChk"
                      success-feedback="모바일 인증이 완료 되었습니다. "
                      :btn-state="!userMobileState"
                      @buttonClick="getUserAuthByMobile"
          ></InputGroup>


          <InputGroup class="mgt-40" v-if="isMobileChk"
                      :title="isVerifiedCode? '재전송':'인증'"
                      name="인증번호"
                      rules="required"
                      placeholder="인증번호를 입력해 주세요."
                      v-model="formData.verifiedCode"
                      input-size="216"
                      btn-type="grey"
                      btn-size="sm"
                      :success="isVerifiedCode"
                      success-feedback="인증이 완료 되었습니다. 아래 확인 버튼을 눌러 주세요. "
                      :btn-state="!required(formData.verifiedCode)"
                      @buttonClick="verifyCompleteByMobile"
          ></InputGroup>
          <!--<div class="mgt-40" v-if="isMobileChk"  style="position:relative;">
            <input type="text" class="form-control" v-model="formData.verifiedCode" placeholder="인증번호를 입력해 주세요." style="width:220px;">
            &lt;!&ndash;<button type="button" class="btn basic x32 sm outline fill"
                    @click.stop="verifyCompleteByMobile">{{ isVerifiedCode? '재전송':'인증' }}</button>&ndash;&gt;
            <btn type="grey" size="sm" :state="!required(formData.verifiedCode)" @btnClick="verifyCompleteByMobile">{{ isVerifiedCode? '재전송':'인증' }}</btn>
            <p class="form-message approval" v-if="isVerifiedCode">인증이 완료 되었습니다. 아래 확인 버튼을 눌러 주세요.</p>
          </div>-->
        </div>
      </div>
      <!-- end: 회원 정보에 등록된 모바일 번호로 인증 -->

      <!-- start: 회원 정보에 등록된 이메일로 인증 -->
      <div class="find-info">
        <div class="find-type">
          <!--<div class="btn-radio">
            <input type="radio" name="radio" id="radio2">
            <label for="radio2">회원 정보에 등록된 이메일로 인증</label>
          </div>-->
          <radio-button btn-id="radio2"
                        radio-name="radio"
                        btn-value="email"
                        :radio-data="formData.radioValue"
                        @click="optionFindChange">회원 정보에 등록된 이메일로 인증</radio-button>
        </div>
        <div class="find-info-input" :class="{'active':activeInputField('email')}">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="아이디를 입력해 주세요."  style="width:306px">
          </div>
          <div class="form-group inline">
            <input type="text" class="form-control" placeholder="이메일 주소를 입력해 주세요."  style="width:216px">
            <button type="button" class="btn basic x32 sm outline fill"
                    :disabled="!userEmailState"
                    @click.stop="getUserAuthByEmail">인증</button>
          </div>
        </div>
      </div>
      <!-- end: 회원 정보에 등록된 이메일로 인증 -->

      <div class="find-btn">
        <div class="btn-group">
          <button type="button" class="btn primary red lg wd-full" :class="{'disabled':!verificationConfirm() }" @click="confirmClickHandler">확인</button>
        </div>
      </div>
      <div class="page-back"><a href="" @click.prevent="gotoLoginHandler">로그인으로 돌아가기</a></div>
    </div>

    <!-- start: 새로운 비밀번호 입력 부분 -->
    <div role="tabpanel" class="tab-pane" v-else>
      <div class="reset-pw-input">
        <p class="reset-txt">새로운 비밀번호를 설정해 주세요.</p>

        <ValidationObserver>

            <!--<div class="form-group">
              <ValidationProvider name="새비밀번호" rules="required" v-slot="{ errors }">
                <input type="password" class="form-control" placeholder="비밀번호를 입력해 주세요."
                       v-model="pwdFormData.nPwd">
                <p class="form-message error">{{ errors[0] }}</p>
              </ValidationProvider>
            </div>-->

          <InputGroup name="새비밀번호"
                      rules="required"
                      input-type="password"
                      placeholder="비밀번호를 입력해 주세요."
                      v-model="pwdFormData.nPwd"
          ></InputGroup>

          <InputGroup name="재확인 비밀번호"
                      rules="required|confirmed:@새비밀번호"
                      input-type="password"
                      placeholder="비밀번호를 입력해 주세요."
                      v-model="pwdFormData.rePwd"
          ></InputGroup>

            <!--<div class="form-group">
              <ValidationProvider name="재확인 비밀번호" rules="required|confirmed:@새비밀번호" v-slot="{ errors }">
                <input type="password" class="form-control" placeholder="비밀번호를 다시 입력해 주세요."
                       v-model="pwdFormData.rePwd">
                <p class="form-message error">{{ errors[0] }}</p>
              </ValidationProvider>
            </div>-->

        </ValidationObserver>

      </div>

      <div class="find-btn">
        <div class="btn-group">
          <button type="button" class="btn primary red lg wd-full" @click="pwdChangeSubmit">확인</button>
        </div>
      </div>
      <div class="page-back"><a href="" @click.prevent="gotoLoginHandler">로그인으로 돌아가기</a></div>
    </div>
    <!-- end: 새로운 비밀번호 입력 부분 -->



  </div>

