<section class="contents-right">
    <div class="classes-member">
        <div class="cnt-top">
            <h2 class="cnt-tit">멤버 <strong>{{ totalMemberNum }}</strong></h2>
            <div class="cnt-top-btn">
                <button type="button" class="btn ico-btn ico-left navi sm">
                    <img :src="require('@/assets/images/icn-18-add-white.svg')" class="icon" alt="">멤버 초대하기
                </button>
            </div>
        </div>

        <div class="member-search">
            <input type="text" class="mb-search-bar" placeholder="멤버를 검색해 주세요.">
            <button type="button" class="btn only-ico-btn"><img :src="require('@/assets/images/search.svg')" alt=""></button>
        </div>

        <div class="classes-member-list">
            <p class="list-tit">클래스 운영자</p>
            <ul class="member-list">
                <li v-for="(item, idx) in adminList"
                    :key="idx"
                    class="list-item">
                    <div class="member-info" :class="memberLevelIcon(item.level)">
                        <p class="name">{{ item.nickname }}</p>
                        <span class="position">{{ memberLevelTxt(item.level) }}</span>
                    </div>
                    <div class="member-info-btn">
                        <div class="list-popup">
                            <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                            <div class="list-popup-menu pos-right active" style="transform:translate3d(42px, 0,0);">
                                <button type="button" class="list-popup-item" @click="isDetailPopup = true">멤버정보</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="accordion">
                <!-- accordion 1-->
                <div class="accordion-tit">
                    <p class="list-tit">스탭 멤버 <strong>{{ staffList.length }}</strong></p>
                    <!-- accordion-cnt가 active일 경우 accordion-btn도 active -->
                    <button class="accordion-btn sm rt-10 active" data-toggle="collapse" data-target="#accordion1"></button>
                </div>
                <div class="accordion-cnt active">
                    <ul class="member-list">
                        <li v-for="(item, idx) in staffList"
                            :key="idx"
                            class="list-item">
                            <div class="member-info" :class="memberLevelIcon(item.level)">
                                <p class="name">{{ item.nickname }}</p>
                                <span class="position">{{ memberLevelTxt(item.level) }}</span>
                            </div>
                            <div class="member-info-btn">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                    <div class="list-popup-menu pos-right active" style="transform:translate3d(42px, 0,0);">
                                        <button type="button" class="list-popup-item" @click="isDetailPopup = true">멤버 정보</button>
                                        <button type="button" class="list-popup-item" @click="isDetailPopup = true">멤버 차단</button>
                                        <button type="button" class="list-popup-item" @click="isDetailPopup = true">멤버 강제 탈퇴</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- accordion 1-->
                <div class="accordion-tit">
                    <p class="list-tit">일반 멤버 <strong>{{ memberList.length }}</strong></p>
                    <!-- accordion-cnt가 active일 경우 accordion-btn도 active -->
                    <button class="accordion-btn sm rt-10 active" data-toggle="collapse" data-target="#accordion1"></button>
                </div>
                <div class="accordion-cnt active">
                    <ul class="member-list">
                        <li v-for="(item, idx) in memberList"
                            :key="idx"
                            class="list-item">
                            <div class="member-info" :class="memberLevelIcon(item.level)">                                <p class="name">{{ item.nickname }}</p>
                                <span class="position">{{ memberLevelTxt(item.level) }}</span>
                            </div>
                            <div class="member-info-btn">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                    <div class="list-popup-menu pos-right active" style="transform:translate3d(42px, 0,0);">
                                        <button type="button" class="list-popup-item" @click="isDetailPopup = true">멤버 정보</button>
                                        <button type="button" class="list-popup-item" @click="isDetailPopup = true">멤버 차단</button>
                                        <button type="button" class="list-popup-item" @click="isDetailPopup = true">멤버 강제 탈퇴</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 검색결과 없음 -->
        <!--
        <div class="classes-member-list">
            <div class="search-none">
                <div class="search-none-inner">
                    <p><img :src="require('@/assets/images/class.png')" alt=""></p>
                    <p class="m-txt">검색 결과가 없습니다.</p>
                    <p class="s-txt">상단 멤버 초대하기 버튼을 통해 클래스에 초대 가능합니다.</p>
                </div>
            </div>
        </div>
        -->

    </div>

    <!-- start: 공통 팝업 / 파일명 : W.4.5.6.1 (멤버정보 - 상세) -->
    <transition name="modal">
        <modal v-if="isDetailPopup" size="540px" body-padding="0">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon profile"></div>
                <div class="popup-close">
                    <button class="close" @click="isDetailPopup = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">멤버 프로필 상세</h2>
                </div>
                <div class="member-profile">
                    <div class="profile-inner">
                        <div class="profile-info staff">
                            <p>김경희선생님</p>
                            <span>스탭 멤버</span>
                        </div>
                        <div class="profile-btn">
                            <div class="list-popup">
                                <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                <div class="list-popup-menu pos-right active" style="transform:translate3d(42px, 0, 0);">
                                    <button type="button" class="list-popup-item">list1</button>
                                    <button type="button" class="list-popup-item">list1</button>
                                    <button type="button" class="list-popup-item">list1</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="profile-list">
                        <li class="list-item">
                            <p class="list-tit">모바일 번호</p>
                            <div class="basic-info">
                                <p>01012345678</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <p class="list-tit">아이디</p>
                            <div class="basic-info">
                                <p>ky123</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <p class="list-tit">이메일 주소</p>
                            <div class="basic-info">
                                <p>ky123@gmail.com</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <p class="list-tit">가입 질문 응답</p>
                            <div class="basic-info">
                                <div class="accordion-tit">
                                    <!-- accordion-cnt가 active일 경우 accordion-btn도 active -->
                                    <button class="accordion-btn" data-toggle="collapse" data-target="#accordion1"></button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- class="active" 일 경우 open -->
                    <div class="accordion-cnt active"  id="accordion1">
                        <ul class="profile-qna">
                            <li>
                                <p class="question">1. 자녀와의 관계가 어떻게 되시나요? (예. 엄마, 아빠 등)</p>
                                <p class="answer">엄마</p>
                            </li>
                            <li>
                                <p class="question">2. 살고 있는 지역을 간단히 써주세요. (예. 서울 성북구)</p>
                                <p class="answer">서울 구로구</p>
                            </li>
                            <li>
                                <p class="question">3. 하고 싶은 말 적어주세요.</p>
                                <p class="answer">잘 부탁드립니다.</p>
                            </li>
                        </ul>
                    </div>
                    <!-- //accordion 3-->
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.1.1 (멤버 활동 관리-차단-확인) -->
    <transition name="modal">
        <modal v-if="isBlockModal" size="540px" body-padding="0">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon block"></div>
                <div class="popup-close">
                    <button class="close" @click="isBlockModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <h2 class="popup-tit">선택한 멤버를 차단하시곘습니까?</h2>
                    <p class="popup-txt">
                        차단된 멤버에게는 차단 해제 전까지 해당 클래스에 접근하거나 가입이 불가능하며 클래스 검색 및 노출이 제한됩니다.차단을 계속 하시겠습니까?
                    </p>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type staff">
                                    <p class="member-name">김경희선생님</p>
                                    <p class="member-tit">스탭 멤버</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="isBlockModal = false">취소</btn>
                    <btn type="navi" @btnClick="isBlockModal = false">차단하기</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.2.1 (멤버 활동 관리-탈퇴-확인) -->
    <transition name="modal">
        <modal v-if="isBanModal" size="540px" body-padding="0">
            <div slot="header">
                <div class="popup-icon leave"></div>
                <div class="popup-close">
                    <button class="close" @click="isBanModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit">선택한 멤버를 강제 탈퇴시키겠습니까?</h2>
                    <p class="popup-txt">
                        멤버 강제 탈퇴 시 멤버가 작성했던 글, 댓글 등은 삭제되지 않습니다.
                    </p>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type staff">
                                    <p class="member-name">김경희선생님</p>
                                    <p class="member-tit">스탭 멤버</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="isBanModal = false">취소</btn>
                    <btn type="navi" @btnClick="isBanModal = false">강제 탈퇴</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->
</section>