<section class="contents-right">
    <div class="classes-member">
        <div class="cnt-top">
            <h2 class="cnt-tit">멤버 <strong>{{ totalMemberNum }}</strong></h2>
            <div class="cnt-top-btn">
                <button type="button" class="btn ico-btn ico-left navi sm" @click="isInvitePopup = true">
                    <img :src="require('@/assets/images/icn-18-add-white.svg')" class="icon" alt="">멤버 초대하기
                </button>
            </div>
        </div>

        <div class="member-search">
            <input type="text" class="mb-search-bar"
                   id="searchMember"
                   placeholder="멤버를 검색해 주세요."
                   @keyup="search(searchValue)"
                   v-model="searchValue">

            <button type="button" class="btn only-ico-btn"><img :src="require('@/assets/images/search.svg')" alt=""></button>
            <!-- start: 로딩 바 -->
            <div class="lds-roller" v-show="loadingModel"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <!-- end: 로딩 바 -->
        </div>

        <template v-if="classMemberList.length >= 1">
            <div class="classes-member-list">
                <p class="list-tit">클래스 운영자</p>
                <ul class="member-list">
                    <li v-for="(item, idx) in classifyLevel(1)"
                        :key="idx"
                        class="list-item">
                        <div class="member-info" :class="memberLevelIcon(1)">
                            <p class="name">{{ item.nickname }}</p>
                            <span class="position">{{ memberLevelTxt(1) }}</span>
                        </div>
                        <div class="member-info-btn">
                            <div class="list-popup">
                                <button type="button" class="list-popup-btn" @click="isAdminToggle = !isAdminToggle"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                <div class="list-popup-menu pos-right" :class="{'active': isAdminToggle}" style="transform:translate3d(42px,0,0);">
                                    <button type="button" class="list-popup-item" @click="detailPopupOpen(item.user_id, item.level, item.nickname, item.id)">멤버정보</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div v-for="(item, idx) in accordionList" :key="idx" class="accordion mgb-28">
                    <div class="accordion-tit">
                        <p class="list-tit">{{ item.listTit }} <strong>{{ classifyLevel(item.level).length }}</strong></p>
                        <!-- accordion-cnt가 active일 경우 accordion-btn도 active -->
                        <button class="accordion-btn sm rt-10" :class="{'active': item.active}" @click="item.active = !item.active"></button>
                    </div>
                    <div class="accordion-cnt" :class="{'active': item.active}">
                        <ul class="member-list">
                            <li v-for="(data, index) in classifyLevel(item.level)"
                                :key="index"
                                class="list-item">
                                <div class="member-info" :class="memberLevelIcon(data.level)">
                                    <p class="name">{{ data.nickname }}</p>
                                    <span class="position">{{ memberLevelTxt(data.level) }}</span>
                                </div>
                                <div class="member-info-btn">
                                    <div class="list-popup">
                                        <button type="button" class="list-popup-btn" @click="listPopupToggle(idx, index)"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                        <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                                            <button type="button" class="list-popup-item" @click="detailPopupOpen(data.user_id, data.level, data.nickname, data.id)">멤버정보</button>
                                            <button v-show="myMemberLevel===1" type="button" class="list-popup-item" @click="blockModalOpen(data.id)">멤버 차단</button>
                                            <button v-show="myMemberLevel===1" type="button" class="list-popup-item" @click="banModalOpen(data.id)">멤버 강제 탈퇴</button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </template>

        <!-- 검색결과 없음 -->
        <template v-else-if="classMemberList.length === 0">
            <div class="classes-member-list">
                <div class="search-none">
                    <div class="search-none-inner">
                        <p><img :src="require('@/assets/images/class.png')" alt=""></p>
                        <p class="m-txt">검색 결과가 없습니다.</p>
                        <p class="s-txt">상단 멤버 초대하기 버튼을 통해 클래스에 초대 가능합니다.</p>
                    </div>
                </div>
            </div>
        </template>
    </div>

    <!-- start: 공통 팝업 / 파일명 : W.4.5.6.3 (클래스 페이지-멤버 초대) -->
    <transition name="modal">
        <modal v-if="isInvitePopup" size="600px" body-padding="0" @modalClose="isInvitePopup=false;isSnackbar=false;">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon add"></div>
                <div class="popup-close">
                    <button class="close" @click="closeInvitePopup"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <h2 class="popup-tit">멤버 초대하기</h2>
                    <p class="popup-txt">아래 링크를 복사하여 클래스에 멤버를 초대해 주세요.</p>

                    <div class="popup-input">
                        <div class="form-group inline">
                            <input type="text" class="form-control"
                                   id="inviteLink"
                                   :value="'https://papayaclass.com/class/bbhca62kmlxzb28'"
                                   style="width:370px;color:#373749;"
                                   readonly>
                            <btn type="grey" size="sm" @btnClick="copyLink">링크복사</btn>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="closeInvitePopup">취소</btn>
                    <btn type="navi" @btnClick="closeInvitePopup">확인</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: W.4.5.6.3 (클래스 페이지-멤버 초대) 링크 복사 완료 토스트 팝업 -->
    <v-snackbar v-model="isSnackbar"
                class="under-popup"
                :color="'rgba(29,29,29,0.8)'"
                :width="600"
                :height="50"
                :timeout="2000">
        초대링크 복사가 완료되었습니다.
    </v-snackbar>
    <!-- end: W.4.5.6.3 (클래스 페이지-멤버 초대) 링크 복사 완료 토스트 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.6.1 (멤버정보 - 상세) -->
    <transition name="modal">
        <modal v-if="isDetailPopup" size="540px" body-padding="0" @modalClose="isDetailPopup=false;">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon profile"></div>
                <div class="popup-close">
                    <button class="close" @click="isDetailPopup = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">멤버 프로필 상세</h2>
                </div>
                <div class="member-profile">
                    <div class="profile-inner">
                        <div class="profile-info"
                             :class="memberLevelIcon(memberLevel)">
                            <p>{{ nickname }}</p>
                            <span>{{ memberLevelTxt(memberLevel) }}</span>
                        </div>
                        <div class="profile-btn">
                            <div class="list-popup">
                                <button type="button" class="list-popup-btn" @click="isDetailMenu = !isDetailMenu"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                <div class="list-popup-menu pos-right" :class="{'active': isDetailMenu}" style="transform:translate3d(42px, 0, 0);">
                                    <button class="list-popup-item" @click="blockModalOpen(memberId)">멤버 차단</button>
                                    <button class="list-popup-item" @click="banModalOpen(memberId)">강제 탈퇴</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="profile-list">
                        <li class="list-item">
                            <p class="list-tit">모바일 번호</p>
                            <div class="basic-info">
                                <p>{{ mobileNo }}</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <p class="list-tit">아이디</p>
                            <div class="basic-info">
                                <p>{{ userId }}</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <p class="list-tit">이메일 주소</p>
                            <div class="basic-info">
                                <p>{{ email }}</p>
                            </div>
                        </li>
                        <li class="list-item">
                            <p class="list-tit">가입 질문 응답</p>
                            <div class="basic-info">
                                <div class="accordion-tit">
                                    <!-- accordion-cnt가 active일 경우 accordion-btn도 active -->
                                    <button class="accordion-btn" :class="{'active': isDetailAccordion}" @click="isDetailAccordion = !isDetailAccordion"></button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- class="active" 일 경우 open -->
                    <div class="accordion-cnt" :class="{'active': isDetailAccordion}">
                        <ul class="profile-qna">
                            <li v-for="(item, idx) in qnaList" :key="idx">
                                <p class="question">{{ idx+1 }}. {{ item.question }}</p>
                                <p class="answer">{{ item.answer }}</p>
                            </li>
                        </ul>
                    </div>
                    <!-- //accordion 3-->
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.1.1 (멤버 활동 관리-차단-확인) -->
    <transition name="modal">
        <modal v-if="isBlockModal" size="540px" body-padding="0" @modalClose="isBlockModal=false;">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon block"></div>
                <div class="popup-close">
                    <button class="close" @click="isBlockModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <h2 class="popup-tit">선택한 멤버를 차단하시곘습니까?</h2>
                    <p class="popup-txt">
                        차단된 멤버에게는 차단 해제 전까지 해당 클래스에 접근하거나 가입이 불가능하며 클래스 검색 및 노출이 제한됩니다.차단을 계속 하시겠습니까?
                    </p>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type"
                                     :class="memberLevelIcon(memberLevel)">
                                    <p class="member-name">{{ nickname }}</p>
                                    <p class="member-tit">{{ memberLevelTxt(memberLevel) }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="isBlockModal = false">취소</btn>
                    <btn type="navi" @btnClick="memberBlockSubmit">차단하기</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.1.2 (멤버 활동 관리-차단-완료) -->
    <transition name="modal">
        <modal v-if="isBlockCompleteModal" size="540px" body-padding="0" @modalClose="isBlockCompleteModal=false;">
            <div slot="header">
                <div class="popup-icon block"></div>
                <div class="popup-close">
                    <button class="close" @click="isBlockCompleteModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">멤버 차단이 완료되었습니다.</h2>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type"
                                     :class="memberLevelIcon(memberLevel)">
                                    <p class="member-name">{{ nickname }}</p>
                                    <p class="member-tit">{{ memberLevelTxt(memberLevel) }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="navi" @click="isBlockCompleteModal = false">확인</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.2.1 (멤버 활동 관리-탈퇴-확인) -->
    <transition name="modal">
        <modal v-if="isBanModal" size="540px" body-padding="0" @modalClose="isBanModal=false;">
            <div slot="header">
                <div class="popup-icon leave"></div>
                <div class="popup-close">
                    <button class="close" @click="isBanModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit">선택한 멤버를 강제 탈퇴시키겠습니까?</h2>
                    <p class="popup-txt">
                        멤버 강제 탈퇴 시 멤버가 작성했던 글, 댓글 등은 삭제되지 않습니다.
                    </p>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type"
                                     :class="memberLevelIcon(memberLevel)">
                                    <p class="member-name">{{ nickname }}</p>
                                    <p class="member-tit">{{ memberLevelTxt(memberLevel) }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="isBanModal = false">취소</btn>
                    <btn type="navi" @btnClick="isBanModal = false">강제 탈퇴</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.2.2 (멤버 활동 관리-탈퇴-완료) -->
    <transition name="modal">
        <modal v-if="isBanCompleteModal" size="540px" body-padding="0" @modalClose="isBanCompleteModal=false;">
            <div slot="header">
                <div class="popup-icon leave"></div>
                <div class="popup-close">
                    <button class="close" @click="isBanCompleteModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit">멤버 강제 탈퇴가 완료되었습니다.</h2>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type"
                                     :class="memberLevelIcon(memberLevel)">
                                    <p class="member-name">{{ nickname }}</p>
                                    <p class="member-tit">{{ memberLevelTxt(memberLevel) }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="navi" @btnClick="isBanCompleteModal = false">확인</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->
</section>