//3.1 로그인

.login {
  .membership {
    color: #fff;
    float: right;
    font-size: 14px;
    line-height: 38px;
  }
  .con-inner {
    width: 1040px;
    height: 760px;
    margin: 60px auto 0 auto;
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 667px;
      height: 378px;
      margin-top: 200px;
      background: url(../images/illust-login.png) no-repeat 0 0;
    }

    .login-main-wrap {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      width: 420px;
      height: 660px;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
      padding: 40px;
      background-color: #fff;
      .login-maintxt {
        font-size: 24px;
        padding-top: 24px;
      }
      .login-box {
        padding: 40px 0;
        font-size: 14px;
        font-weight: 500;
        color: #57576d;
        input[value] {
          color: #d9d9d9;
        }
        input[type="text"],
        input[type="password"] {
          background-color: #ffffff;
          width: 340px;
          padding: 5px 0 0 0;
          border-bottom: 1px solid #c9cad5;
          line-height: 38px;
          font-size: 16px;
          letter-spacing: 1px;
          color: #57576d;
          &::-moz-placeholder {
            color: #c9cad5;
          }
          &:-ms-input-placeholder {
            color: #c9cad5;
          }
          &::-webkit-input-placeholder {
            color: #c9cad5;
          }
        }
        .login-box-id {
          padding-bottom: 35px;
        }
      }
      .btn-login {
        width: 340px;
        height: 48px;
        border-radius: 24px;
        background-color: #ff4d4d;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .info-wrap {
    text-align: center;
    margin-top: 180px;
    &-find,
    &-join {
      position: relative;
      .link-txt {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        font-weight: 500;
        font-size: 14px;
      }
      .link-txt ~ .link-txt:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 16px;
        background-color: #999;
      }
    }
    &-join {
      margin-top: 6px;
      span {
        color: #6d6d6d;
        font-size: 14px;
        padding-left: 10px;
      }
    }
  }
}

//  W.3.2.1 아이디찾기-모바일번호로 본인인증 //
.login-sub-wrap {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  height: 660px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
  .lg-link-find {
    padding: 45px 40px 10px 40px;
    display: table;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    li {
      display: table-cell;
      width: 50%;
      text-align: center;
      a {
        height: 20px;
        font-size: 16px;
        text-align: center;
      }
    }
    .id-txt {
      color: #0f0f15;
      font-weight: 500;
      &:after {
        border-bottom: 2px solid #0f0f15;
        content: "";
        display: block;
        width: 90px;
        position: absolute;
        bottom: -1px;
        left: 79px;
      }
    }
    .pw-txt {
      color: #57576d;
    }
  }

  .login-txt {
    font-size: 14px;
    color: #57576d;
    line-height: 1.57;
  }

  .find-wrap {
    padding-bottom: 40px;
    position: relative;
    &-txt {
      line-height: 1.57;
      color: #373749;
      font-size: 14px;
      input[type="radio"] {
        margin-right: 13px;
      }
    }
    &-blank {
      .txt-field {
        width: 210px;
        border-bottom: 1px solid #373749;
        padding: 30px 0 10px 0;
        margin-left: 30px;
        font-size: 14px;
        opacity: 0.2;
      }
    }
    .verify-btn {
      width: 80px;
      height: 32px;
      border-radius: 16px;
      background-color: #f6f6f6;
      color: #d9d9d9;
      font-size: 12px;
      position: absolute;
      top: 68px;
      right: 40px;
    }
  }
  .confirm-btn-wrap {
    width: 100%;
    text-align: center;
    .confirm-btn {
      width: 340px;
      height: 48px;
      border-radius: 24px;
      background-color: #ff4d4d;
      opacity: 0.2;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .back-lg-wrap {
    width: 100%;
    text-align: right;
    padding: 10px 40px;
  }
  .back-lg-btn {
    font-weight: 500;
    font-size: 14px;
    color: #0f0f15;
  }
}
// W.3.2.1.1 아이디찾기-모바일번호로 본인인증 완료 후 아이디 안내 //

.con-sub-box {
  padding: 40px;
  font-size: 16px;
  letter-spacing: 1px;
  color: #57576d;
  line-height: 22px;
  .bg-back {
    background: url(/dist/images/illust-confirm.png) no-repeat 0 0;
    width: 320px;
    height: 273px;
    margin: 80px auto 0 auto;
  }
}

.back-btn-wrap {
  width: 100%;
  text-align: center;
  .back-btn {
    width: 340px;
    height: 48px;
    border-radius: 24px;
    background-color: #ff4d4d;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
}

// W.3.2.2 아이디찾기-등록된 이메일로 아이디 발송 //

.find-info-box {
  margin-bottom: 210px;
}

// W.3.2.2.1 아이디찾기-등록된 이메일로 아이디 발송 //

.bg-back2 {
  background: url(/dist/images/illust-email.png) no-repeat 0 0;
  width: 260px;
  height: 295px;
  margin: 58px auto 0 auto;
}

// W.3.3.1 비밀번호재설정-모바일번호로 본인인증 //
.verify-btn2 {
  width: 80px;
  height: 32px;
  border-radius: 16px;
  background-color: #f6f6f6;
  color: #d9d9d9;
  font-size: 12px;
  position: absolute;
  top: 127px;
  right: 40px;
}

.margin100 {
  margin-bottom: 152px;
}

.reset-pw-txt {
  color: #0f0f15;
  font-weight: 500;
  &:after {
    border-bottom: 2px solid #0f0f15;
    content: "";
    display: block;
    width: 120px;
    position: absolute;
    bottom: -1px;
    right: 65px;
  }
}
.reset-id-txt {
  color: #57576d;
}

//W.3.3.2 비밀번호재설정 - 등록된 이메일로 본인인증
.reset-info-box {
  margin-bottom: 152px;
}

//W.3.3.3 비밀번호 재설정 - 새 비밀번호 입력
.new-pw-wrap {
  padding: 20px 40px;
  margin-bottom: 270px;
  .new-pw-txt {
    font-size: 14px;
    color: #57576d;
    line-height: 22px;
  }
  input[type="password"] {
    width: 340px;
    padding: 25px 0 0 0;
    border-bottom: 1px solid #c9cad5;
    line-height: 38px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #57576d;
    background-color: #ffffff;
    &::-moz-placeholder {
      color: #c9cad5;
    }
    &:-ms-input-placeholder {
      color: #c9cad5;
    }
    &::-webkit-input-placeholder {
      color: #c9cad5;
    }
  }
}

// W.2.0 회원가입선택, 2.3 회원가입완료

.signUp-page {
  width: 100%;
  background-color: #f4f5f6;
  .logintxt {
    color: black;
    float: right;
    font-size: 14px;
    padding: 10px 20px 0 20px;
  }
  .contents {
    margin: 100px 0;
    &-login {
      padding-bottom: 180px;
    }
    &-signup {
      margin: 40px 0 100px 0;
    }

    .con-size {
      .text-group {
        position: relative;
        width: 1020px;
        margin: 0 auto;
        padding: 70px 0 40px 0;
        font-size: 16px;
        h2 {
          padding-bottom: 30px;
          line-height: 35px;
          font-size: 26px;
        }
        .text-pd {
          padding-top: 20px;
        }
        // .main-txt {
        //   margin-bottom: 20px;
        // }
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          width: 390px;
          height: 402px;
          background: url(../images/illust-welcome.png) no-repeat 0 0;
        }
      }
    }
  }
}

.signup-box {
  width: 100%;
  margin-top: 145px;
  display: table;
  height: 257px;
  color: #fff;
  overflow: hidden;
  p {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
  }
  .signup-area {
    width: 50%;
    padding: 40px 35px 0 0;
    display: table-cell;
    &.left {
      background-color: #1d1d4c;
    }
    &.right {
      padding: 40px 0 0 35px;
      background-color: #ff4d4d;
    }
    .desc-group {
      position: relative;
      width: 480px;
      height: 165px;
    }
  }
}

.btn-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/arrow-right.png) no-repeat 13px 13px #fff;
}

// W.2.1.1 일반 회원가입 - 약관동의

.membertxt {
  font-size: 26px;
  text-align: center;
  color: #0f0f15;
}

.con-box {
  width: 800px;
  padding: 40px 60px;
  margin: 40px auto 100px auto;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
  .verify-txt {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #0f0f15;
    border-bottom: 1px solid #f4f5f6;
    padding-bottom: 20px;
  }
  .contents-list {
    border-bottom: 1px solid #f4f5f6;
    padding: 18px;
    color: #0f0f15;
    position: relative;
    font-size: 16px;
    .contents-list > input[type="checkbox"] {
      position: absolute;
      left: 0;
      top: 10px;
      width: 24px;
      height: 24px;
    }
  }

  .last-list {
    margin-bottom: 60px;
  }

  .scrollbox {
    overflow-y: scroll;
    width: 680px;
    height: 200px;
    padding: 20px 20px 0 54px;
    font-size: 14px;
    color: #57576d;
    line-height: 22px;
    background-color: #f4f5f6;
    .title-txt {
      padding: 10px 0;
    }
  }
}

.btnbox {
  text-align: right;
  .btn-next-g {
    width: 120px;
    line-height: 42px;
    border-radius: 20px;
    color: #fff;
    background-color: #c9cad5;
  }
}

.contents-list > input[type="checkbox"] + label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #c9cad5;
  cursor: pointer;
}
.contents-list > input[type="checkbox"]:checked + label {
  width: 20px;
  height: 20px;
  background: url(../images/check.png) no-repeat -9px -9px;
  border: 1.5px solid #57576d;
}

.check-all,
.btn-check {
  display: inline-block;
  width: 600px;
  margin-left: 32px;
  font-weight: 400;
}

.btn-check {
  background: url(../images/arrowdown.png) no-repeat right;
}

.btn-check.on {
  background: url(../images/arrow-up.png) no-repeat right;
}

//2.3 회원가입 완료
.btn-box {
  text-align: left;
  margin-top: 45px;
  .btn-into {
    width: 120px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    border-radius: 31px;
    background-color: #ff4d4d;
  }
}

//2.1.2 일반 회원가입 본인인증

.card-box {
  width: 800px;
  padding: 40px 60px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #fff;
  .verify-txt {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #0f0f15;
    border-bottom: 1px solid #f4f5f6;
    padding-bottom: 20px;
  }
  .card-inner {
    text-align: center;
    padding: 30px 30px 10px 30px;
    .txt-p {
      font-size: 16px;
      color: #0f0f15;
    }
    .txt-s {
      font-size: 14px;
      color: #57576d;
      padding-top: 10px;
    }
  }
  .card-mb {
    padding-bottom: 184px;
  }
  .txt-pb {
    padding-bottom: 30px;
  }
}

.btn-group {
  width: 100%;
  text-align: center;
  .btn-verify {
    width: 158px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    border-radius: 31px;
    background-color: #ff4d4d;
  }
}

.btnbox {
  text-align: right;
  .btn-prev-w,
  .btn-next-g {
    width: 120px;
    height: 40px;
    line-height: 42px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
  }
  .btn-prev-w {
    color: #57576d;
    border: 1px solid #c9cad5;
    margin-right: 10px;
    background-color: #fff;
  }
  .btn-next-g {
    color: #fff;
    background-color: #c9cad5;
  }
}

//2.1.2.2 일반 회원가입 - 본인인증 - 인증완료
.card-inner-bg {
  &:after {
    content: "";
    display: inline-block;
    width: 233px;
    height: 199px;
    margin-top: 20px;
    background: url(../images/illust-confirm-small.png) no-repeat 0 0;
  }
}

// 2.1.3 일반 회원가입 - 개인정보 입력

.signUp-form {
  width: 100%;
  background-color: #f4f5f6;
  .logintxt {
    color: black;
    float: right;
    font-size: 14px;
    padding: 10px 20px 0 20px;
  }
  .txt-wrap-m {
    padding: 30px 0 0 40px;
    &:nth-of-type(1) {
      font-size: 14px;
      color: #0f0f15;
    }
    .txt-s {
      padding-top: 3px;
      font-size: 12px;
      color: #57576d;
    }
  }
}

.table-wrap {
  width: 600px;
  margin: 0 auto;
  .t-body {
    .t-head {
      width: 20%;
      .label-style {
        font-size: 14px;
        color: #373749;
        margin: 50px 0 10px 0;
        letter-spacing: 1px;
        font-weight: 500;
        color: #57576d;
      }

      .reddot {
        position: relative;
        &:before {
          position: absolute;
          top: 7px;
          right: -10px;
          content: "";
          clear: both;
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: #ff4d4d;
          border-radius: 50%;
        }
      }
    }
    .t-head > .pw-modify {
      padding-bottom: 80px;
    }
    .t-head > .cell-modify {
      margin: 0;
    }
    .t-head > .add-modify {
      padding-bottom: 155px;
    }
  }
}

.input-style {
  width: 390px;
  font-size: 14px;
  color: #373749;
  padding: 50px 0 10px 0;
  border-bottom: 1px solid #c9cad5;
  letter-spacing: 1px;
  &::-moz-placeholder {
    color: #373749;
    opacity: 0.2;
  }
  &:-ms-input-placeholder {
    color: #373749;
    opacity: 0.2;
  }
  &::-webkit-input-placeholder {
    color: #373749;
    opacity: 0.2;
  }
}

//본인인증 번호 불러오기
.form-checkbox {
  padding-top: 50px;
}
.form-checkbox > input[type="checkbox"] + label {
  display: inline-block;
  width: 23px;
  height: 23px;
  border: 1px solid #c9cad5;
  cursor: pointer;
}
.form-checkbox > input[type="checkbox"]:checked + label {
  width: 23px;
  height: 23px;
  background: url(../images/arrowdown.png) no-repeat -2px -3px;
}

.btn-agree {
  display: inline-block;
  width: 250px;
  line-height: 23px;
  color: #57576d;
  font-size: 14px;
  font-weight: 400;
  margin-left: 35px;
}

//모바일칸만 따로 수정
.input-modify {
  width: 390px;
  font-size: 14px;
  color: #373749;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #c9cad5;
  letter-spacing: 1px;
  &::-moz-placeholder {
    color: #373749;
    opacity: 0.2;
  }
  &:-ms-input-placeholder {
    color: #373749;
    opacity: 0.2;
  }
  &::-webkit-input-placeholder {
    color: #373749;
    opacity: 0.2;
  }
}

//2.1.3 레디오버튼(수신, 미수신)
.radio-wrap {
  padding: 42px 0 10px 0;
  .radio-list {
    display: inline-block;
    margin-right: 60px;
  }
}
.txt-email {
  color: #57576d;
  opacity: 0.2;
  font-size: 14px;
  margin-bottom: 60px;
}

.btn-wrap {
  position: relative;
  .btn-verify2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    color: #d9d9d9;
    font-size: 12px;
    background-color: #f6f6f6;
  }
}

.btnbox {
  text-align: right;
  .btn-prev-w,
  .btn-next-b {
    width: 120px;
    height: 40px;
    line-height: 42px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
  }
  .btn-prev-w {
    color: #57576d;
    border: 1px solid #c9cad5;
    margin-right: 10px;
    background-color: #fff;
  }
  .btn-next-b {
    color: #fff;
    background-color: #1d1d4c;
  }
}

//2.1.2.1 만 14세 미만 회원입니다 팝업

.container-popup {
  position: relative;
  min-height: 1000px;
  background-color: #d9d9d9;
  .pop-wrap {
    position: fixed;
    top: 250px;
    left: 50%;
    width: 540px;
    margin-left: -270px;
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
    &::before {
      content: "";
      clear: both;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
      background: url(../images/popup-icon.png) no-repeat 0 0;
    }
  }
  .pop-txt {
    display: block;
    font-size: 18px;
    color: #0f0f15;
    padding: 20px 0;
  }
  .pop-txt-s {
    display: inline-block;
    font-size: 14px;
    color: #57576d;
    padding-bottom: 20px;
  }
}

.btnbox {
  text-align: right;
  .btn-prev-w,
  .btn-next-b {
    width: 120px;
    height: 40px;
    line-height: 42px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
  }
  .btn-prev-w {
    color: #57576d;
    border: 1px solid #c9cad5;
    margin-right: 10px;
    background-color: #fff;
  }
  .btn-next-b {
    color: #fff;
    background-color: #1d1d4c;
  }
}
.close-btn {
  position: absolute;
  top: 30px;
  right: 40px;
}

//4.1 가입 클래스 목록

.myclass-list {
  background-color: #f4f5f6;
  .wrapper-header {
    width: 100%;
    background-color: #1d1d4c;
    .header-inner {
      width: 1020px;
      margin: 0 auto;
      .list-wrap {
        text-align: right;
        .header-list {
          vertical-align: middle;
          display: inline-block;
          line-height: 40px;
          li {
            float: left;
            color: #fff;
            opacity: 0.8;
            font-size: 14px;
            padding: 0 20px;
            text-align: center;
          }
          .active {
            color: #fff;
            opacity: 1;
          }
        }
        .header-list2 {
          vertical-align: middle;
          display: inline-block;
          margin-left: 30px;
          li {
            float: left;
            padding: 0 10px;
            line-height: 35px;
          }
          .arrow-down {
            margin-top: 10px;
            display: inline-block;
          }
        }
      }
    }
  }
  .con-size {
    margin-top: 140px;
    .text-group {
      position: relative;
      width: 1020px;
      margin: 0 auto;
      padding: 30px 0 80px 0;
      font-size: 16px;
      > h2 {
        padding-bottom: 30px;
        line-height: 35px;
        font-size: 26px;
      }
      > p {
        color: #57576d;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 390px;
        height: 402px;
        background: url(../images/illust-welcome.png) no-repeat 0 0;
      }
    }
  }
}

.class-group {
  width: 1040px;
  margin: 0 auto;
  position: relative;
  .myclass {
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 15px;
  }
  .updated-txt {
    width: 160px;
    height: 40px;
    line-height: 42px;
    padding-left: 20px;
    font-size: 14px;
    color: #57576d;
    border-radius: 19px;
    box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
    background-color: #fff;
    &::after {
      content: "";
      clear: both;
      display: inline-block;
      width: 40px;
      height: 20px;
      background: url(../images/arrowdown.png) no-repeat 8px 2px;
    }
  }
  .class-g-list {
    overflow: hidden;
    margin-bottom: 430px;
    .new-class {
      text-align: center;
      margin: 10px;
      float: left;
      text-align: center;
      width: 240px;

      padding: 84px 30px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 20px 0 rgba(15, 15, 21, 0.05);
      &::before {
        content: "";
        clear: both;
        display: block;
        margin: 0 auto 10px auto;
        width: 80px;
        height: 80px;
        background: url(../images/class.png) no-repeat 0 0;
      }

      .new-class-txt {
        color: #c9cad5;
        font-size: 16px;
      }
    }
    .classes {
      text-align: center;
      margin: 10px;
      float: left;
      text-align: center;
      width: 240px;
      padding: 40px 30px 25px 30px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 20px 0 rgba(15, 15, 21, 0.05);
      a {
        display: block;
        &::before {
          content: "";
          clear: both;
          display: block;
          margin: 0 auto 20px auto;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: url(../images/bg-icon.png) no-repeat 0 0;
        }
      }

      .class-txt {
        .txt-p {
          font-weight: 500;
          font-size: 16px;
          color: #0f0f15;
        }
        > strong {
          font-size: 14px;
          display: block;
          color: #848499;
          padding: 5px 0 10px 0;
          font-weight: 500;
        }
        > span {
          font-size: 12px;
          color: #848499;
          padding: 8px;
        }
        .dot {
          position: relative;
          &:before {
            content: "";
            clear: both;
            position: absolute;
            top: 13px;
            left: -2px;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #57576d;
          }
        }
      }
      .updated {
        width: 180px;
        text-align: left;
        margin: 40px auto 0 auto;
        padding-top: 8px;
        padding-left: 15px;
        position: relative;
        color: #57576d;
        .reddot {
          position: relative;
          &:after {
            position: absolute;
            top: 5px;
            left: -10px;
            content: "";
            clear: both;
            display: inline-block;
            width: 4px;
            height: 4px;
            background-color: #ff4d4d;
            border-radius: 50%;
          }
        }

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          clear: both;
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url(../images/btn-round.png) no-repeat 0 0;
        }
      }
    }
  }
}

//4.3.1.1.5 클래스 만들기

//4.3.1.1 클래스 만들기-분류 선택-학교

.box-group li a.image-on1 {
  background: url(../images/school-on.png) no-repeat 53px 15px;
  color: #0f0f15;
  font-weight: 500;
}

.box-group .bd-373749 {
  border-radius: 5px;
  border: 1.5px solid #373749;
}

.serch-box {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 53px;
  .search-txt1 {
    font-size: 14px;
    color: #57576d;
    font-weight: 500;
    .search-txt2 {
      width: 390px;
      border-bottom: 1px solid #c9cad5;
      font-size: 14px;
      font-weight: 400;
      margin-left: 65px;
      padding: 10px 0 10px 0;
      color: #848499;
      line-height: 20px;
      &::-moz-placeholder {
        color: #848499;
      }
      &:-ms-input-placeholder {
        color: #848499;
      }
      &::-webkit-input-placeholder {
        color: #848499;
      }
    }
  }
  .search-btn {
    color: #1d1d1d;
    font-size: 12px;
    font-weight: 500;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    background-color: #f6f6f6;
    margin-bottom: -10px;
  }
}

//4.3.1.2 클래스 만들기-분류 선택-단체
.box-group li a.image-on2 {
  background: url(../images/institute-on.png) no-repeat 53px 15px;
  color: #0f0f15;
  font-weight: 500;
}

//4.3.1.3 클래스 만들기-분류 선택-소모임
.box-group li a.image-on3 {
  background: url(../images/group-on.png) no-repeat 53px 15px;
  color: #0f0f15;
  font-weight: 500;
}

//4.3.1 클래스 만들기 - 분류 선택
.newclass {
  background-color: #f4f5f6;
  .wrapper-header {
    width: 100%;
    padding: 10px 0;
    background-color: #1d1d4c;
    .header-inner {
      width: 1020px;
      margin: 0 auto;
      .list-wrap {
        text-align: right;
        .header-list {
          vertical-align: middle;
          display: inline-block;
          line-height: 40px;
          li {
            float: left;
            color: #fff;
            opacity: 0.8;
            font-size: 14px;
            padding: 0 20px;
            text-align: center;
          }
        }
        .header-list2 {
          vertical-align: middle;
          display: inline-block;
          margin-left: 30px;
          li {
            float: left;
            padding: 0 10px;
            line-height: 35px;
          }
          .arrow-down {
            margin-top: 10px;
            display: inline-block;
          }
        }
      }
    }
  }
  .contents {
    margin: 40px 0 70px 0;
  }
}

//4.3.2 클래스 만들기-상세정보입력
.inform-box {
  display: inline-block;
  position: relative;
  padding: 35px 45px;
  .inform-list {
    font-size: 14px;
    color: #57576d;
    padding-bottom: 30px;
    .txt-500 {
      font-weight: 500;
      display: inline-block;
      color: #57576d;
    }
  }
  .inform-txt {
    width: 390px;
    border-bottom: 1px solid #c9cad5;
    font-size: 14px;
    font-weight: 400;
    margin-left: 65px;
    padding: 10px 0 10px 0;
    &::-moz-placeholder {
      color: #f4f5f6;
    }
    &:-ms-input-placeholder {
      color: #f4f5f6;
    }
    &::-webkit-input-placeholder {
      color: #f4f5f6;
    }
  }
  .select-box {
    width: 390px;
    border-radius: 0px;
    -webkit-appearance: none;
    color: #373749;
    padding: 10px 0 8px 0;
    font-size: 14px;
    font-weight: 400;
    margin-left: 40px;
    border-bottom: 1px solid #c9cad5;
    background-color: #fff;
  }
  .select-arrow {
    position: absolute;
    top: 115px;
    right: 50px;
    width: 24px;
    height: 24px;
    background: url(../images/arrowdown.png) no-repeat 0 0;
  }

  .bg-notice {
    position: relative;
    padding-right: 25px;
    &:after {
      content: "";
      clear: both;
      display: inline-block;
      position: absolute;
      top: 2px;
      right: 0;
      width: 15px;
      height: 15px;
      background: url(../images/notice.png) no-repeat 0 0;
    }
  }

  .radio-box {
    padding: 10px 0;
    display: inline-block;
    margin-left: 50px;
  }
}

//4.3.3 클래스 만들기-생성완료
.card-bg {
  &::after {
    content: "";
    clear: both;
    display: block;
    width: 240px;
    height: 232px;
    background: url(../images/illust-welcome-small.png) no-repeat 0 0;
    margin: 20px auto;
  }
  .complete-txt {
    font-size: 18px;
    font-weight: 500;
  }
}

//4.5.1 클래스 페이지-홈

.classpage {
  background-color: #f4f5f6;
  .wrapper-header {
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    .header-inner {
      width: 1020px;
      margin: 0 auto;
      .list-wrap {
        display: inline-block;
        width: 650px;
        text-align: right;
        .header-list {
          vertical-align: middle;
          display: inline-block;
          line-height: 40px;
          li {
            float: left;
            color: #0f0f15;
            opacity: 0.8;
            font-size: 14px;
            padding: 0 20px;
            text-align: center;
          }
        }
        .header-list2 {
          vertical-align: middle;
          display: inline-block;
          margin-left: 30px;
          li {
            float: left;
            padding: 0 10px;
            line-height: 35px;
          }
          .arrow-down {
            margin-top: 10px;
            display: inline-block;
          }
        }
      }
    }
  }

  .con-size {
    width: 880px;
    margin: 0 auto 150px auto;
    .left-group {
      float: left;
      .left-box {
        position: relative;
        text-align: center;
        padding: 35px 20px 28px 20px;
        width: 260px;
        margin-top: 20px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
        background-color: #ffffff;
        &:before {
          content: "";
          clear: both;
          display: block;
          margin: 0 auto;
          width: 80px;
          height: 80px;
          background: url(../images/bg-icon.png) no-repeat 0 0;
        }
        .left-maintxt {
          display: inline-block;
          padding-top: 20px;
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          color: #0f0f15;
        }

        > p {
          font-size: 14px;
          font-weight: 500;
          padding-bottom: 13px;
          color: #848499;
        }
        .camera-img {
          position: absolute;
          top: 82px;
          right: 90px;
        }
        > span {
          padding: 0 7px;
          font-size: 12px;
          color: #848499;
        }
        .dot {
          position: relative;
          &:before {
            content: "";
            clear: both;
            position: absolute;
            top: 6px;
            left: -2px;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #57576d;
          }
        }
        .txt-bold {
          font-size: 12px;
          font-weight: 500;
          color: #0f0f15;
          .img-pd {
            padding-bottom: 2px;
          }
        }
        .hashtag {
          font-size: 12px;
          color: #57576d;
          padding: 23px 0 20px 0;
        }
        .btn-like {
          width: 120px;
          height: 40px;
          border-radius: 20px;
          border: solid 1px #c9cad5;
          background-color: #ffffff;
          color: #ff4d4d;
          font-weight: 500;
          position: relative;
          padding-left: 15px;
          &::before {
            position: absolute;
            top: 10px;
            left: 25px;
            content: "";
            clear: both;
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url(../images/heart.png) no-repeat 0 0;
          }
        }
      }
      .class-box {
        width: 260px;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
        background-color: #fff;
        .active-grey {
          font-size: 14px;
          font-weight: 500;
          color: #0f0f15;
          padding: 15px 0 15px 70px;
          position: relative;
          background-color: #f4f5f6;
          &:after {
            content: "";
            clear: both;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 150px;
            height: 50px;
            background: url(../images/classhome.png) no-repeat 30px 12px;
          }
        }
        .class-list {
          li {
            padding: 15px 0 15px 70px;
            position: relative;
            font-size: 14px;
            a {
              display: block;
              color: #57576d;
              &:after {
                content: "";
                clear: both;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 150px;
                height: 50px;
                background: url(../images/classnote.png) no-repeat 30px 12px;
              }
            }
          }
        }
      }
    }

    .right-group {
      width: 600px;
      float: right;
      h3 {
        font-size: 18px;
        padding: 35px 20px 20px 20px;
      }
      .notice-list {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: #0f0f15;
        padding: 13px 48px;
        border-radius: 5px;
        background-color: #ffffff;
        &:after {
          content: "";
          clear: both;
          display: block;
          position: absolute;
          top: 14px;
          left: 25px;
          width: 40px;
          height: 40px;
          background: url(../images/notice2.png) no-repeat 0 0;
        }

        > span {
          padding-left: 10px;
          color: #57576d;
          line-height: 1.57;
        }
        .arrowdown-img {
          position: absolute;
          top: 10px;
          right: 20px;
        }
      }
      .notice-contents {
        position: relative;
        padding: 32px 40px 20px 75px;
        margin-top: 10px;
        width: 600px;
        border-radius: 5px;
        border: solid 1px #f4f5f6;
        background-color: #ffffff;
        .notice-main-txt {
          font-size: 18px;
          font-weight: 500;
          color: #0f0f15;
          &:before {
            content: "";
            clear: both;
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../images/date-round.png) no-repeat 0 0;
            position: absolute;
            top: 29px;
            left: 30px;
          }
        }
        .more {
          position: absolute;
          top: 30px;
          right: 40px;
          a {
            margin-left: 20px;
          }
        }

        .notice-txt {
          padding: 10px 20px 20px 25px;
          position: relative;
          > span {
            font-size: 14px;
            display: block;
            &:before {
              display: inline-block;
              position: absolute;
              top: 8px;
              left: 0;
              width: 18px;
              height: 19px;
              content: "";
              clear: both;
              background: url(../images/star.png) no-repeat 0 0;
            }
          }

          .time-txt {
            position: relative;
            color: #57576d;
            padding-left: 15px;
            &:before {
              content: "";
              clear: both;
              position: absolute;
              top: 6px;
              left: 6px;
              display: inline-block;
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background-color: #57576d;
            }
          }
        }
        .contents-txt {
          padding-bottom: 7px;
          font-size: 14px;
          font-weight: 400;
          color: #57576d;
          line-height: 1.57;
        }

        .image-wrap {
          a {
            float: left;
            .pic1 {
              width: 238px;
              height: 310px;
              margin-right: 10px;
              margin-left: -1px;
            }
            .pic2 {
              width: 236px;
              height: 150px;
              margin-bottom: 10px;
            }
          }
        }

        .link-wrap {
          > span {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            padding: 14px;
            margin: 10px 10px 0 0;
            border-radius: 5px;
            border: solid 1px #c9cad5;
            background-color: #ffffff;
            .pd-left {
              position: relative;
              padding: 0 10px 0 30px;
              &:after {
                position: absolute;
                top: -4px;
                left: 0;
                content: "";
                clear: both;
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../images/pic7.png) no-repeat;
              }
            }
            .pd-left2 {
              position: relative;
              padding: 0 10px 0 30px;
              &:after {
                position: absolute;
                top: -4px;
                left: 0;
                content: "";
                clear: both;
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../images/pic6.png) no-repeat;
              }
            }
          }
        }

        .txt-wrap {
          padding: 20px 0 10px 0;
          .txt-left {
            font-size: 14px;
            color: #c9cad5;
          }
        }
      }
    }
  }
}

//여기 수정 중

.right-group-1 {
  // width: 600px;
  // float: right;
  h3 {
    font-size: 18px;
    padding: 35px 20px 20px 20px;
  }
  .notice-list-1 {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #0f0f15;
    padding: 13px 48px;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
    &:after {
      content: "";
      clear: both;
      display: block;
      position: absolute;
      top: 14px;
      left: 25px;
      width: 40px;
      height: 40px;
      background: url(../images/notice2.png) no-repeat 0 0;
    }

    > span {
      padding-left: 10px;
      color: #57576d;
      line-height: 1.57;
    }
    .arrowdown-img {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
  .conbox {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #0f0f15;
    padding: 14px 20px 14px 40px;
    background-color: #ffffff;
    border-top: 1px solid #f4f5f6;
    > p {
      font-size: 14px;
      color: #0f0f15;
    }
    > span {
      font-size: 12px;
      padding-left: 22px;
    }
    .bg-star {
      position: relative;
      &:before {
        display: inline-block;
        position: absolute;
        top: -4px;
        left: -2px;
        width: 18px;
        height: 19px;
        content: "";
        clear: both;
        background: url(../images/star.png) no-repeat 0 0;
      }
    }
    .bg-crown {
      position: relative;
      &:after {
        display: inline-block;
        position: absolute;
        top: -3px;
        left: -1px;
        width: 18px;
        height: 19px;
        content: "";
        clear: both;
        background: url(../images/bg-crown.png) no-repeat 0 0;
      }
    }
    .more {
      position: absolute;
      top: 25px;
      right: 25px;
      > a {
        padding-left: 20px;
        // &.active {
        //   background: url(../images/pic10.png) no-repeat 0 0;
        // }
      }
    }

    .time-txt {
      position: relative;
      color: #57576d;
      padding-left: 15px;
      &:before {
        content: "";
        clear: both;
        position: absolute;
        top: 6px;
        left: 6px;
        display: inline-block;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: #57576d;
      }
    }
  }
}

//4.5.3.1.1 클래스 페이지-일정-월간 뷰

.right-group {
  .yellow-dot {
    &:after {
      content: "";
      clear: both;
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #ffd100;
      border-radius: 50%;
      margin: 0 0 3px 8px;
    }
  }
  .scdimg-mt {
    margin-top: 18px;
  }
}

// 5.1 모든알림
.all-notice {
  background-color: #f4f5f6;
  .wrapper-header {
    width: 100%;
    padding: 10px 0;
    background-color: #1d1d4c;
    .header-inner {
      width: 1020px;
      margin: 0 auto;
      .list-wrap {
        text-align: right;
        .header-list {
          vertical-align: middle;
          display: inline-block;
          line-height: 40px;
          li {
            float: left;
            color: #fff;
            opacity: 0.8;
            font-size: 14px;
            padding: 0 20px;
            text-align: center;
          }
          .active {
            color: #fff;
            opacity: 1;
          }
        }
        .header-list2 {
          vertical-align: middle;
          display: inline-block;
          margin-left: 30px;
          li {
            float: left;
            padding: 0 10px;
            line-height: 35px;
          }

          .arrow-down {
            margin-top: 10px;
            display: inline-block;
          }
        }
      }
    }
  }
  .con-size {
    .text-group {
      position: relative;
      width: 1020px;
      margin: 0 auto;
      padding: 30px 0 80px 0;
      font-size: 16px;
      h2 {
        padding-bottom: 30px;
        line-height: 35px;
        font-size: 26px;
      }
      p {
        color: #57576d;
      }
      .main-txt {
        margin-bottom: 20px;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 390px;
        height: 402px;
        background: url(../images/illust-welcome.png) no-repeat 0 0;
      }
    }
  }
}

.all-notice {
  .con-size {
    width: 920px;
    margin: 0 auto 150px auto;
    .left-group {
      float: left;
      width: 300px;
      h3 {
        font-size: 16px;
        color: #0f0f15;
        padding: 20px 30px;
        background-color: #fff;
      }
      .class-box {
        overflow-y: scroll;
        width: 300px;
        height: 280px;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
        background-color: #fff;
        .active-grey {
          font-size: 14px;
          font-weight: 500;
          color: #0f0f15;
          padding: 20px 0 20px 70px;
          position: relative;
          background-color: #f4f5f6;
          a {
            &:after {
              content: "";
              clear: both;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 150px;
              height: 50px;
              background: url(../images/profile-class.png) no-repeat 28px 15px;
            }
          }
        }
        .class-list {
          li {
            padding: 20px 0 20px 70px;
            position: relative;
            font-size: 14px;
            a {
              display: block;
              &:after {
                content: "";
                clear: both;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 150px;
                height: 50px;
                background: url(../images/profile-class.png) no-repeat 28px 13px;
              }
            }
          }
        }
      }
    }
    .right-group {
      width: 602px;
      float: right;
      h3 {
        color: #0f0f15;
        font-size: 18px;
        padding: 14px 20px 14px 20px;
      }

      > p {
        position: relative;
        width: 600px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        color: #57576d;
        padding: 13px 48px;
        border-radius: 5px;
        border: solid 1px #f4f5f6;
        background-color: #ffffff;
        &:after {
          content: "";
          clear: both;
          display: block;
          position: absolute;
          top: 13px;
          left: 15px;
          width: 40px;
          height: 40px;
          background: url(../images/pic8.png) no-repeat 0 0;
        }
        // &:before {
        //   content: "";
        //   clear: both;
        //   display: block;
        //   position: absolute;
        //   top: 10px;
        //   right: 0;
        //   width: 40px;
        //   height: 40px;
        //   background: url(../images/arrowdown.png) no-repeat 0 0;
        // }
      }
      .notice-contents {
        position: relative;
        padding: 30px 40px;
        margin-top: 10px;
        width: 600px;
        border-radius: 5px;
        border: solid 1px #f4f5f6;
        background-color: #ffffff;
        .notice-main-txt {
          padding-left: 30px;
          font-size: 18px;
          font-weight: 500;
          color: #0f0f15;
        }
        .more {
          position: absolute;
          top: 30px;
          right: 40px;
          a {
            margin-left: 20px;
          }
        }

        .notice-txt {
          padding: 20px 20px 20px 40px;
          position: relative;
          > span {
            display: block;
            &:before {
              display: inline-block;
              position: absolute;
              top: 10px;
              left: 0;
              width: 15px;
              height: 15px;
              content: "";
              clear: both;
              background: url(../images/star.png) no-repeat 0 0;
            }
          }
          > span {
            .time-txt {
              position: relative;
              color: #57576d;
              padding-left: 15px;
              &:before {
                content: "";
                clear: both;
                position: absolute;
                top: 6px;
                left: 6px;
                display: inline-block;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #57576d;
              }
            }
          }
        }
        .contents-txt {
          padding-bottom: 7px;
          font-size: 14px;
          font-weight: 400;
          color: #57576d;
          line-height: 1.57;
        }
        .main-red {
          font-size: 14px;
          font-weight: 500;
          margin-top: 28px;
          display: inline-block;
        }
        .image-wrap {
          a {
            float: left;
            .pic1 {
              margin-right: 10px;
              margin-left: -2px;
            }
            .pic2 {
              margin-bottom: 10px;
            }
          }
        }

        .link-wrap {
          > span {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            padding: 14px;
            margin: 10px 10px 0 0;
            border-radius: 5px;
            border: solid 1px #c9cad5;
            background-color: #ffffff;
            .pd-left {
              position: relative;
              padding: 0 10px 0 30px;
              &:after {
                position: absolute;
                top: -4px;
                left: 0;
                content: "";
                clear: both;
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../images/pic7.png) no-repeat;
              }
            }
            .pd-left2 {
              position: relative;
              padding: 0 10px 0 30px;
              &:after {
                position: absolute;
                top: -4px;
                left: 0;
                content: "";
                clear: both;
                display: inline-block;
                width: 24px;
                height: 24px;
                background: url(../images/pic6.png) no-repeat;
              }
            }
          }
          .vote-txt {
            width: 520px;
            font-size: 16px;
          }
          .date-txt {
            display: block;
            font-size: 12px;
            font-weight: 400;
            color: #848499;
            padding: 10px 0 0 30px;
          }
        }

        .txt-wrap {
          padding: 20px 0 10px 0;
          .txt-left {
            font-size: 14px;
            color: #c9cad5;
          }
          .txt-right {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// .link-last-wrap {
// width: 520px;
// overflow: hidden;
// position: relative;
// &:after {
//   position: absolute;
//   top: 0;
//   right: 0;
//   content: "";
//   clear: both;
//   display: block;
//   width: 160px;
//   height: 130px;
//   background: url(../images/pic4.png) no-repeat 0 0;
// }
// }

.link-last-wrap {
  overflow: hidden;
  width: 520px;
  height: 130px;
  border-radius: 5px;
  border: solid 1px #c9cad5;
  background-color: #ffffff;
  a {
    display: block;
  }
}

.txt-box {
  padding: 20px;
  width: 350px;
  display: inline-block;
}
.txt-main {
  font-size: 14px;
  font-weight: 500;
  color: #0f0f15;
}

.txt-contents {
  color: #57576d;
  font-size: 12px;
  padding: 10px 0;
  display: inline-block;
}

.txt-add {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  color: #0f0f15;
  font-size: 12px;
  line-height: 20px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    clear: both;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/pic9.png) no-repeat 0 0;
  }
}

.after-line {
  &:after {
    content: "|";
    clear: both;
    display: inline-block;
    padding: 0 8px 0 10px;
  }
}

.location {
  font-size: 12px;
  color: #57576d;
  line-height: 42px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  .lo-list {
    width: 1040px;
    margin: 0 auto;
    li:first-child {
      background: none;
      padding-left: 10px;
    }
    li {
      display: inline-block;
      padding-left: 24px;
      background: url(../images/arrow-right-small.png) no-repeat 2px 11px;
    }
  }
}

.box-group {
  margin: 0 auto;
  border-spacing: 15px;
  display: table;
  li {
    display: table-cell;
    width: 190px;
    border-radius: 5px;
    border: solid 1px #c9cad5;
    a {
      display: block;
      padding-top: 110px;
      font-size: 16px;
      color: #848499;
      margin: 0 0 10px 0;
    }
  }
}

.box-group li a.classimage1 {
  background: url(../images/school.png) no-repeat 53px 15px;
}
.box-group li a.classimage2 {
  background: url(../images/institute.png) no-repeat 53px 15px;
}
.box-group li a.classimage3 {
  background: url(../images/group.png) no-repeat 53px 15px;
}

.pd-box {
  padding-bottom: 90px;
}

.txt-left2 {
  font-size: 14px;
  color: #0f0f15;
  text-align: left;
  padding: 0 0 10px 15px;
}

//6.1.1 모든 일정-월간 뷰(캘린더)

.schedule-box {
  width: 300px;
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);
  background-color: #ffffff;
}

.right-group {
  .scd-txt {
    display: inline-block;
    font-size: 18px;
    padding: 14px 20px 24px 20px;
  }
  .scd-img {
    display: block;
    float: right;
  }

  .scd-contents {
    margin-top: 10px;
    width: 600px;
    border-radius: 5px;
    border: solid 1px #f4f5f6;
    background-color: #ffffff;
    .scd-con1 {
      padding: 20px;
      .btn-prev {
        margin-right: 10px;
      }
    }
    .date-txt {
      font-size: 18px;
      font-weight: 500;
      vertical-align: middle;
      padding-left: 20px;
    }
    .round-btn-wrap {
      float: right;
    }
    .round-btn {
      display: inline-block;

      width: 80px;
      height: 32px;
      line-height: 34px;
      font-size: 12px;
      font-weight: 500;

      color: #373749;
      text-align: center;

      border-radius: 20px;
      background-color: #f4f5f6;
    }
    .round-select {
      display: inline-block;
      .select-list {
        width: 80px;
        height: 32px;
        line-height: 34px;
        font-size: 12px;
        font-weight: 500;

        color: #57576d;
        padding-left: 17px;

        border-radius: 20px;
        background-color: #fff;
        -webkit-appearance: none;
        border: solid 1px #c9cad5;

        margin-left: 10px;
      }
      .bg-arrow {
        background: url(../images/arrow-down-w.png) no-repeat 50px 9px;
      }
    }
  }

  .scd-con2 {
    border-top: 1px solid #f4f5f6;
    padding: 20px;
  }
}
