<div class="mypage-cnt">
    <div class="cnt-top">
        <h2 class="cnt-tit">MY프로필</h2>
    </div>

    <div class="my-profile">
        <div class="my-profile-section">
            <p class="section-tit">내 정보</p>

            <div class="my-profile-list">
                <div class="list-item">
                    <p class="list-tit">이름</p>
                    <div class="list-right">
                        <span>김지영 선생님</span>
                        <a href="" class="list-btn"><img src="./assets/images/edit.svg" alt=""></a>
                    </div>
                </div>
                <div class="list-item">
                    <p class="list-tit">생일</p>
                    <div class="list-right">
                        <div class="form-group date">
                            <input type="text" class="form-control" size="10" value="2020. 2. 28">
                            <span class="date-area">1988.10.31</span>
                            <button type="button" class="btn form-btn form-calendar"></button>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <p class="list-tit">성별</p>
                    <div class="list-right">
                        <div class="list-popup">
                            <button type="button" class="list-popup-btn">여자 <img src="assets/images/arrow-right.svg" class="sm" alt=""></button>
                            <div class="list-popup-menu pos-right" style="transform:translate3d(75px, 0, 0);">
                                <a href="" class="list-popup-item">여자</a>
                                <a href="" class="list-popup-item">남자</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-profile-section">
            <p class="section-tit">가입 정보</p>

            <div class="my-profile-list">
                <div class="list-item">
                    <p class="list-tit">아이디</p>
                    <div class="list-right">
                        <span>papaya123</span>
                    </div>
                </div>
                <div class="list-item">
                    <p class="list-tit">모바일 번호</p>
                    <div class="list-right">
                        <span>010-1234-5678</span>
                        <a href="" class="list-btn"><img src="./assets/images/edit.svg" alt=""></a>
                    </div>
                </div>
                <div class="list-item">
                    <p class="list-tit">이메일 주소</p>
                    <div class="list-right">
                        <span>papaya@gamil.com</span>
                        <a href="" class="list-btn"><img src="./assets/images/edit.svg" alt=""></a>
                    </div>
                </div>
                <div class="list-item">
                    <p class="list-tit">비밀번호</p>
                    <div class="list-right">
                        <span>********</span>
                        <a href="" class="list-btn"><img src="./assets/images/edit.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-profile-section">
            <p class="section-tit">기타</p>

            <div class="my-profile-list">
                <div class="list-item">
                    <p class="list-tit">서비스 탈퇴하기</p>
                    <div class="list-right">
                        <a href="" class="list-btn"><img src="./assets/images/arrow-right.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>