<div>
  <!-- start: 공통 팝업 / 파일명 : W.4.5.2.2 (알림 - 새 알림 작성-fit) -->
  <transition name="modal">
    <modal v-if="isOpen" size="600px" body-padding="0" @modalClose="popupChange( false )">
      <template v-if="postDetailModel!==undefined">
        <div slot="header">
          <!-- header custom coding-->
          <p class="popup-header-tit">알림 수정</p>
          <div class="popup-close">
            <button class="close" @click="popupChange( false )"><img :src="require('@/assets/images/close.svg')" alt="">
            </button>
          </div>
        </div>
        <div slot="body">
          <!-- body custom coding-->
          <div class="popup-form">
            <div class="scroll-body" style="height:50vh">
              <div class="popup-form-top">
                <div class="form-item post-classes selected"> <!-- class 선택 시 form-item 에 selected 추가됨 -->
                  <p>
                    <!-- getProfileImg : mixin 에 정의됨. -->
                    <span class="icon"><img :src="getProfileImg(myClassHomeModel.image_url)" class="icon-img" alt=""></span>
                    <span class="gr-name">{{ myClassHomeModel.g_name }}</span>
                    <strong class="cls-name">{{ myClassHomeModel.name }}</strong>
                  </p>

                </div>
                <div class="form-item">
                  <!--              <input type="text" class="form-control popup-type" placeholder="제목을 20자 이내로 작성해 주세요.">
                  v-model="scheduleData.title" @input="addScheduleTitleChange"-->
                  <txt-field add-class="popup-type"
                             placeholder="제목을 20자 이내로 작성해 주세요."
                             v-model="postDataModel.title">{{postDataModel.title}}</txt-field>

                </div>
              </div>
              <div class="popup-form-cnt">
                <div class="form-item post-cnt" style="max-height:300px;height:auto;overflow-y:auto;overflow-x:hidden;margin:0;">
                  <!-- start: 일정 상세 내용 입력창 -->
                  <textarea
                          style="padding: 0 40px;"
                          ref="scheduleDetailAreaTxt"
                          v-model="postDataModel.text"
                          class="form-textarea auto-resize"
                          placeholder="일정 내용을 작성해 주세요."
                          @input="postDetailAreaInputHandler( $event.target.value )"></textarea>
                  <!-- end: 일정 상세 내용 입력창 -->
                </div>
              </div>
              <div class="popup-form-btm">

                <alarm-preview :alarm-item="alarmData.alarmAt" @remove="removeAlarmItem" @modify="modifyAlarm"></alarm-preview>

                <!-- start: 첨부 이미지 파일 미리보기 -->
                <image-preview :file-items="imgFileURLItemsModel"
                               @remove="onRemoveImgPreviewItems"
                               @removeAll="onRemoveAllPreview"></image-preview>
                <!-- end: 첨부 이미지 파일 미리보기 -->

                <!-- start: 투표 첨부 미리보기 -->
                <vote-preview :file-items="voteItemModel.vote"
                              :length="voteItemModel.vote_choice_list.length"
                              title="title"
                              choice="multi_choice"
                              finish-at="finishAt"
                              mode="anonymous_mode"
                              @remove="voteDataClear"
                              @modify="onModifyVote"></vote-preview>
                <!-- end: 투표 첨부 미리보기 -->

                <!-- start: 첨부 파일 리스트 -->
                <file-preview :file-items="attachFileItemsModel"
                              name="name"
                              @removeFile="removeAttachFileItem"
                              @removeAttachFileAll="removeAllAttachFile"></file-preview>
                <!-- end: 첨부 파일 리스트 -->

                <!-- start: 링크 리스트 -->
                <link-preview :link-items="linkListItems"
                              :title="linkTitle"
                              @remove="removeLinkItem"
                              @modify="modifyLink"></link-preview>
                <!-- end: 링크 리스트 -->
              </div>


            </div>

            <div class="form-add-btn">
              <ul class="clearfix">
                <li>
                  <a href="#" class="info-img" @click.prevent="addImgFileInputFocus">
                    <img :src="require('@/assets/images/image.svg')" alt="">
                    <input class="input-file" type="file" name="files" id="imgFileInput" accept="image/*" multiple @change="addFileToImage( $event.target.files )" hidden />
                  </a>
                </li>
                <li>
                  <a href="#" @click.prevent="addFilesInputFocus">
                    <img :src="require('@/assets/images/file.svg')" alt="">
                    <input class="input-file" type="file" name="files" id="attachFileInput" accept=".pdf, .xls, .xlsx, .ppt, .pptx, .doc, .docx" multiple @change="addAttachFileTo( $event.target.files )" hidden />
                  </a>
                </li>
                <li><a href="" @click.prevent="editVotePopupOpen"><img :src="require('@/assets/images/vote.svg')" alt=""></a></li>
                <li><a href="" @click.prevent="addLinkPopupOpen"><img :src="require('@/assets/images/link.svg')" alt=""></a></li>
                <li><a href="" @click.prevent="addReservationPopupOpen"><img :src="require('@/assets/images/time-outline.svg')" alt=""></a></li>
              </ul>
              <!--          <div class="form-temp-save"><a href="" class="txt-btn">임시저장</a></div>-->
            </div>
          </div>
        </div>
        <div slot="footer">
          <div class="btn-group rt">
            <button type="button" class="btn primary navi" :disabled="!isSubmitValidate" @click="onAddPostSubmit">수정</button>
          </div>
        </div>
      </template>


    </modal>
  </transition>

  <edit-vote-popup :is-open="isOpenEditVotePopup" @close="onVotePopupClose" @submit="onAddVote"></edit-vote-popup>
  <add-link-popup :is-open="isOpenAddLinkPopup" @close="onLinkPopupClose" @submit="onAddLink"></add-link-popup>
  <add-reservation-popup :is-open="isOpenAddReservation" @close="onReservationPopupClose" @submit="onAddReservation"></add-reservation-popup>
</div>
<!-- end: 공통 팝업 -->
