<div>
    <transition name="modal">
        <!-- start: 공통 팝업 / 파일명 : W.4.5.2.4 (알림 상세) -->
        <modal v-if="isOpen" size="600px" body-padding="0" @modalClose="popupChange(false)">
            <template v-if="postDetailModel!==undefined">
                <div slot="header">
                    <!-- header custom coding-->
                    <p class="popup-header-tit">{{ postDetailModel.title }}</p>
                    <ul class="feed-info clearfix">
                        <li>{{ postDetailModel.createdAt }}</li>
                        <li>{{ postDetailModel.count }}명 읽음</li>
                    </ul>

                    <div class="popup-btn">
                        <button type="button" class="btn only-ico-btn sm bookmark active"></button>

                        <div class="list-popup mgl-20">
                            <v-menu
                                    min-width="200px"
                                    :close-on-click="true">
                                <template v-slot:activator="{ on, attrs }">
                                    <button v-if="true"
                                            type="button"
                                            class="list-popup-btn"
                                            v-bind="attrs"
                                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                                    </button>
                                </template>
                                <v-list>
                                    <v-list-item @click="">
                                        <v-list-item-title>일정 수정</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="">
                                        <v-list-item-title>공지로 등록</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="">
                                        <v-list-item-title>일정 보관</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="">
                                        <v-list-item-title>일정 삭제</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </div>
                    </div>
                </div>
                <div slot="body">
                    <!-- body custom coding-->
                    <div class="scroll-body" style="height:50vh">

                        <div class="popup-form">
                            <div class="popup-form-top">
                                <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                                    <p>
                                        <span class="icon"><img :src="require('@/assets/images/bg-icon.png')" class="icon-img" alt=""></span>
                                        <span class="gr-name">{{ myClassHomeModel.g_name }}</span>
                                        <strong class="cls-name">{{ myClassHomeModel.name }}</strong>
                                    </p>

                                    <p class="post-writer">{{ ( postDetailModel)? postDetailModel.owner.nickname : '' }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="popup-feed-detail pdb-40" style="min-height:30vh">
                            <div class="fd-cnt">
                                <p class="fd-txt">{{ postDetailModel.text }}</p>

                                <a href="" @click.prevent="openPhotoViewer">
                                    <!-- start: attach 에 이미지파일이 있는 경우 -->
                                    <list-in-img-preview :file-items="imgPreviewInit( postDetailModel.attachment )"
                                                         location="location"></list-in-img-preview>
                                    <!-- end: attach 에 이미지파일이 있는 경우 -->
                                </a>


                                 <!-- start: 투표가 있는 경우 -->
                                  <detail-in-vote-preview :items="postDetailModel.vote"
                                                   choices-list="vote_choices"
                                                   user-choices="user_choices"
                                                   title="title"
                                                   choice="multi_choice"
                                                   finish-at="finishAt"
                                                   mode="anonymous_mode"></detail-in-vote-preview>
                                 <!-- end: 투표가 있는 경우 -->

                                <!-- start: 링크가 있는 경우-->
                              <list-in-link-preview
                                      :file-items="postDetailModel.link"
                                      title="title"
                                      url="url" children="link_items"></list-in-link-preview>
                                <!-- end: 링크가 있는 경우 -->

                                <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
                              <list-in-file-preview :file-items="attachFilePreviewInit( postDetailModel.attachment )" name="originalname" location="location"></list-in-file-preview>
                                <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->

                            </div>
                        </div>
                      <!-- start: 댓글 -->
                      <!-- 0: 알림 , 1: 일정 -->
                      <comment-area :parent-type="0"
                                    :parent-id="postDetailModel.id"
                                    :member-id="myClassHomeModel.me.id"></comment-area>
                      <!-- end: 댓글 -->

                    </div>
                    <div slot="footer">
                        <comment-btm :parent-type="0"
                                     :parent-id="postDetailModel.id"
                                     :member-id="myClassHomeModel.me.id"></comment-btm>
                    </div>
                </div>
            </template>

        </modal>
        <!-- end: 공통 팝업 -->

    </transition>

    <photo-viewer v-if="isPhotoViewer" :is-photo-viewer="isPhotoViewer" :img-data="imgPreviewInit(postDetailModel.attachment)" @change="onPhotoViewerStatus"></photo-viewer>
</div>
