<section class="contents-right">
  <div class="classes-feed notification" v-if="isPageLoaded">
    <div class="cnt-top">
      <h2 class="cnt-tit">알림</h2>
      <div class="cnt-top-btn">
        <!--<v-menu
                     top  //absolute 위치로 상단 정렬
                     nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                     nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                     origin="center center"  // transform-origin
                     v-model="timeMenu"  // value 값으로 노출
                     :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                     :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                     transition="scale-transition" // 스케일 모션
                     content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                     offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                     -->
        <v-menu
                origin="left top"
                v-model="startDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="auto">
          <template v-slot:activator="{ on, attrs }">
            <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
          </template>
          <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  show-adjacent-months 상세 텍스트 제거 -->
          <v-date-picker v-model="startDatePickerModel"
                         no-title
                         :show-current="currentDate"
                         :event-color="date => date[9] % 2 ? 'red' : 'yellow'"
                         :events="pickerEvents"
                         @input="startDatePickerChange" @mouseenter:day="onClickPickerDay"></v-date-picker>
        </v-menu>

      </div>
    </div>
    <div class="top-notify">
      <div class="accordion">
        <!-- accordion 1-->
        <div class="accordion-tit">
          <a href="javascript:void(0);" class="accordion-btn active" @click.prevent="onReservedMenuDownUp">
            <span class="icon"><img :src="require('@/assets/images/time-outline.svg')" class="icon-img" alt=""></span>
            <span class="mgl-4">{{ reservedTotalItem }}개의 예약 알림이 있습니다.</span>
          </a>
        </div>

        <div class="accordion-cnt" id="accordion1" :class="{'active':reservedChk}" v-if="reservedTotalItem>0" >
          <div class="notify-feed" v-for="(item, index) in reservedItems" :key="`reserve-${index}`">
            <h3 class="fd-tit">{{ item.title }}</h3>
            <p class="fd-schedule">{{item.startAt}}에 등록 예정</p>
            <div class="fd-btn">
              <div class="list-popup">
                <v-menu
                        min-width="200px"
                        :close-on-click="true">
                  <template v-slot:activator="{ on, attrs }">
                    <button v-if="isOwner( item.owner.user_id, item.user_id)"
                            type="button"
                            class="list-popup-btn"
                            v-bind="attrs"
                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                    </button>
                  </template>
                  <v-list>
                    <v-list-item @click="">
                      <v-list-item-title>알림 수정</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="onDeleteReservedByPostId( item.id )">
                      <v-list-item-title>알림 삭제</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>
          </div>
        </div>
        <!-- //accordion 1-->
      </div>
    </div>

    <template v-if="postListItemsModel.length>0">
      <!-- start: 리스트 뷰 :post-list-items="postListItemsModel" -->
      <notification-list-view
              :comments-total-items="commentsTotalItemsModel"
              @click:detailPost="onDetailPostOpen">
      </notification-list-view>
      <!-- start: scroll paging -->
      <scroll-observer :is-loader="loaderModel" @update="scrollObserver"></scroll-observer>
      <!-- end: scroll paging -->
      <!-- end: 리스트 뷰 -->
    </template>
    <template v-else>
      <!-- 등록된 알림 없음 -->
      <div class="no-notify">
        <div class="no-data">
          <img :src="require('@/assets/images/icn-80-notice-nodata.svg')" alt="">
          <p>등록된 알림이 없습니다.</p>
          <span>새 알림을 작성해 주세요.</span>
          <div class="mgt-20">
            <btn type="navi" @btnClick="onAddPostPopupOpen">새 알림 작성</btn>
          </div>
        </div>
      </div>
    </template>

    <div class="noti-add">
      <a href="" class="classes-add-btn" @click.prevent="onAddPostPopupOpen"></a>
    </div>
  </div >

  <!-- start: 알림 신규 생성 -->
  <add-notify-popup :is-open="isAddPopupOpen" @change="onAddPostPopupStatus" @submit="onAddPost"></add-notify-popup>
  <!-- end: 알림 신규 생성 -->

<!--  <div class="lds-ripple" v-if="isLoading"><div></div><div></div></div>-->
</section>
