<section class="contents-right">
  <div class="classes-feed notification" v-if="isPageLoaded">
    <div class="cnt-top">
      <h2 class="cnt-tit">알림</h2>
      <div class="cnt-top-btn">
        <!--<v-menu
                     top  //absolute 위치로 상단 정렬
                     nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                     nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                     origin="center center"  // transform-origin
                     v-model="timeMenu"  // value 값으로 노출
                     :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                     :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                     transition="scale-transition" // 스케일 모션
                     content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                     offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                     -->
        <v-menu
                origin="left top"
                v-model="startDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="auto">
          <template v-slot:activator="{ on, attrs }">
            <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
          </template>
          <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  상세 텍스트 제거 -->
          <v-date-picker v-model="startDatePickerModel" no-title @input="startDatePickerChange"></v-date-picker>
        </v-menu>

      </div>
    </div>
    <div class="top-notify">
      <div class="accordion">
        <!-- accordion 1-->
        <div class="accordion-tit">
          <a href="javascript:void(0);" class="accordion-btn active" data-toggle="collapse" data-target="#accordion1">
            <span class="icon"><img :src="require('@/assets/images/time-outline.svg')" class="icon-img" alt=""></span>
            <span class="mgl-4">{{ reservedTotal }}개의 예약 알림이 있습니다.</span>
          </a>
        </div>

        <div class="accordion-cnt active" id="accordion1" v-if="reservedTotal>0">
          <div class="notify-feed" v-for="item in reservedItems">
            <h3 class="fd-tit">{{ item.title }}</h3>
            <p class="fd-schedule">오후 11시에 등록 예정</p>
            <div class="fd-btn">
              <div class="list-popup">
                <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                <div class="list-popup-menu pos-right active"  style="transform:translate3d(35px, 0, 0);">
                  <a href="" class="list-popup-item">알림 수정</a>
                  <a href="" class="list-popup-item">공지로 등록</a>
                  <a href="" class="list-popup-item">알림 보관</a>
                  <a href="" class="list-popup-item">알림 삭제</a>
                </div>
              </div>
            </div>
          </div>

          <div class="notify-feed">
            <h3 class="fd-tit">2학기 전학년 전과목 평가계획안</h3>
            <p class="fd-schedule">내일 오후 2시 50분에 등록 예정</p>
            <div class="fd-btn">
              <div class="list-popup">
                <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                <div class="list-popup-menu pos-right"  style="transform:translate3d(35px, 0, 0);">
                  <a href="" class="list-popup-item">알림 수정</a>
                  <a href="" class="list-popup-item">공지로 등록</a>
                  <a href="" class="list-popup-item">알림 보관</a>
                  <a href="" class="list-popup-item">알림 삭제</a>
                </div>
              </div>
            </div>
          </div>

          <div class="notify-feed">
            <h3 class="fd-tit">파파야 초등학교 기간제교사 채용 공고</h3>
            <p class="fd-schedule">2020. 4. 21 오전 11시 30분에 등록 예정</p>
            <div class="fd-btn">
              <div class="list-popup">
                <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                <div class="list-popup-menu pos-right"  style="transform:translate3d(35px, 0, 0);">
                  <a href="" class="list-popup-item">알림 수정</a>
                  <a href="" class="list-popup-item">공지로 등록</a>
                  <a href="" class="list-popup-item">알림 보관</a>
                  <a href="" class="list-popup-item">알림 삭제</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //accordion 1-->
      </div>
    </div>

    <notification-list-view v-if="postListItemsModel.length>0"
            :post-list-items="postListItemsModel"
            :comments-total-items="commentsTotalItemsModel"
            @click:detailPost="onDetailPostOpen"></notification-list-view>

    <!-- 등록된 알림 없음 -->
    <div class="no-notify" v-else>
        <div class="no-data">
            <img :src="require('@/assets/images/icn-80-notice-nodata.svg')" alt="">
            <p>등록된 알림이 없습니다.</p>
            <span>새 알림을 작성해 주세요.</span>
            <div class="mgt-20">
                <button type="button" class="btn primary navi">새 알림 작성</button>
            </div>
        </div>
    </div>

    <div class="noti-add">
      <a href="" class="classes-add-btn" @click.prevent="onAddPostPopupOpen"></a>
    </div>
  </div >

  <notify-detail-popup :is-open="isDetailPopupOpen" :post-id="detailPostIdModel" @change="onDetailPostPopupStatus"></notify-detail-popup>
   <add-notify-popup :is-open="isAddPopupOpen" @change="onAddPostPopupStatus" @submit="onAddPost"></add-notify-popup>
</section>
