<div v-if="isPhotoViewer" class="popup photo-viewer" style="z-index:11">
    <div class="viewer-inner">
        <div class="viewer-close">
            <button class="close" @click="closePhotoViewer"><img :src="require('@/assets/images/close-white.svg')" alt=""></button>
        </div>
        <ul class="viewer-list">
            <li class="viewer-item active"><img :src="imgData[activeNum].location" alt="" style="width:540px;max-height:calc(100vh - 140px)"></li>
        </ul>

        <div class="viewer-control">
            <a href="" class="control prev" @click.prevent="showPrevImage"><img :src="require('@/assets/images/left-white.svg')" alt="" class="float-lt"></a>
            <a href="" class="control next" @click.prevent="showNextImage"><img :src="require('@/assets/images/right-white.svg')" alt="" class="float-rt"></a>
        </div>

        <div class="viewer-page">
            <span class="current-page">{{ activeNum+1 }}</span> / <span class="all-page">{{ imgData.length }}</span>
        </div>
    </div>
</div>