<div class="form-wrapper">
  <h3 class="form-sub-tit ct">클래스 기본 정보 등록</h3>
  <div class="form-cnt">
    <div class="class-created">
      <p class="pdb-50">클래스 기본 정보를 등록해주세요.</p>

      <div class="tb-cnt mgt-60">
        <table class="tb tb-form">
          <colgroup>
            <col style="width:120px;">
            <col style="width:auto;">
          </colgroup>
          <tbody>
          <tr>
            <th class="top">클래스 이름</th>
            <td>
              <div class="form-group">
                <txt-field size="390"
                           v-model="classFormData.name"
                           rules="required"
                           valid-name="클래스 이름"
                           placeholder="클래스 이름을 20자 이내로 입력해주세요."></txt-field>
              </div>
            </td>
          </tr>
          <tr>
            <th class="top">클래스 시작년도</th>
            <td>
              <!--<select class="form-control" style="width:390px;">
                <option value="" selected>2019</option>
                <option value="">2018</option>
                <option value="">2017</option>
              </select>-->
              <select-box id="startYear" size="390" :items="startYears" @change="updateYears" :selected-value="selectDataModel"></select-box>
            </td>
          </tr>
          <tr>
            <th class="top">공개 범위<span class="info-icon"><img :src="require('@/assets/images/info.svg')" class="icon-img" alt=""></span></th>
            <td>
              <div class="checkbox-group">
                <!--<div class="btn-radio">
                  <input type="radio" name="radio" id="radio1" checked>
                  <label for="radio1">비공개 클래스</label>
                </div>
                <div class="btn-radio">
                  <input type="radio" name="radio" id="radio2">
                  <label for="radio2">오픈 클래스</label>
                </div>
                -->
                <radio-button btn-id="chk1"
                              radio-name="radio"
                              btn-value="yes"
                              active-value="yes"
                              v-model="classFormData.is_private"
                              @click="privateOptionChange">비공개 클래스</radio-button>
                <radio-button btn-id="chk2"
                              radio-name="radio"
                              btn-value="no"
                              v-model="classFormData.is_private"
                              @click="privateOptionChange">오픈 클래스</radio-button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="form-btm">
    <div class="btn-group rt">
      <btn type="outline" @btnClick="prevStep">이전</btn>
      <btn type="navi" :disabled="!isValidation" @btnClick="submit">다음</btn>
    </div>
  </div>
</div>
