
<div>
    <!-- start: 공통 팝업 / 파일명 : W.4.5.5.1 (교육과정 만들기) (4.5.5.1 ~ 4.5.5.1.1)-->
    <transition name="modal" >
        <modal v-if="isOpen" size="600px" body-padding="0" @modalClose="popupChange(false)">
            <div slot="header">
                <!-- header custom coding-->
                <p class="popup-header-tit mgb-0">새 교육과정 등록</p>
                <div class="popup-close">
                    <button class="close" @click="popupChange(false)"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-form">
                    <div class="popup-form-top">
                        <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                            <p>
                                <span class="icon"><img :src="require('@/assets/images/bg-icon.png')" class="icon-img" alt=""></span>
                                <span class="gr-name">파파야초등학교</span>
                                <strong class="cls-name">꿈꾸는 5학년 1반</strong>
                            </p>
                        </div>
                        <div class="form-item">
                            <txt-field id="curriculumTitle"
                                       add-class="popup-type"
                                       placeholder="제목을 20자 이내로 작성해 주세요."
                                       v-model="makeCurriculumData.title"
                                       rules="required"
                                       valid-name="제목">
                            </txt-field>
                        </div>
                    </div>
                    <div class="popup-form-cnt">
                        <div class="form-item post-cnt" style="height:154px;">
                            <textarea class="form-textarea" v-model="makeCurriculumData.goal" placeholder="일정 내용을 작성해 주세요."></textarea>
                        </div>

                        <div class="add-curriculum bd-top">
                            <p class="tit mgb-0">수업 설정</p>

                            <div class="add-curr-item">
                                <p class="add-curr-tit">수업 회차</p>
                                <div class="form-box">
                                    <div class="form-group">
                                        <input type="number" class="form-control" value="10" @input="setCourseList($event.target.value)">
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-body" style="height:124px;">
                                <div v-for="(item, index) in courseListNumModel" class="add-curr-item" :key="`curriculumDetailDataNum-${index}`">

                                    <a href="#" class="add-curr-tit" @click.prevent="addCoursePopupOpen(index)">
                                        <span class="curr-num">{{ index+1 }} 회차</span>
                                        <span>새 교육과정 {{ index+1 }}</span>
                                    </a>

                                    <div class="form-box">
                                        <div class="list-popup">
                                            <v-menu
                                                    nudge-left="30px"
                                                    origin="center top"
                                                    v-model="courseListNumModel[index]"
                                                    transition="scale-transition"
                                                    content-class="time-select-menu bg-white"
                                                    offset-y offset-x>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <button type="button" class="list-popup-btn"
                                                            v-bind="attrs"
                                                            v-on="on"><img :src="require('@/assets/images/more.svg')" class="sm" alt=""></button>
                                                </template>
                                                <v-list>
                                                    <v-list-item
                                                            v-for="(item, index) in currentCourseSettingItems"
                                                            :key="index"
                                                            @click="CourseSettingsModel=item">
                                                        <v-list-item-title>{{ item }}</v-list-item-title>
                                                    </v-list-item>
                                                </v-list>
                                            </v-menu>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <button type="button" class="btn navi" @click="setCurriculumDataToFormData">등록</button>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <add-course-popup
            :is-open="isOpenAddCoursePopup"
            :make-curriculum-data="makeCurriculumData"
            :course-idx="courseIdx"
            :form-data="formData"
            @close="onCoursePopupClose"
            @submit="onAddCourse"></add-course-popup>

</div>