<div class="mgt-10">
    <div class="cnt-top">
        <h2 class="cnt-tit">교육과정</h2>
    </div>

    <div class="curriculum-list clearfix">
        <div class="curr-list-group">
            <div v-for="(item, index) in curriculumListItems.curriculum_list" :key="index" class="curr-item">
                <div class="fd-head">
                    <p class="fd-tit">{{ item.title }}</p>
                    <div class="fd-writer type2">
                        <p class="writer mgb-0">
                            <span class="name" :class="{'manager':isOwner( item.owner.user_id, item.user_id)}">{{ item.owner.nickname }}</span>
                        </p>
                    </div>
                </div>
                <div class="fd-cnt">
                    <p class="fd-txt">
                        <a href="#" @click.prevent="onDetailCurriculumOpen( item.id )">{{ item.text }}</a>
                    </p>
                </div>
                <div class="fd-foot">
                    <p class="en-count">총 {{ item.course_list.length }}회차 수업 등록</p>
                    <div class="fd-btn">
                        <div class="list-popup">
                            <v-menu
                                    min-width="160px"
                                    :close-on-click="true">
                                <template v-slot:activator="{ on, attrs }">
                                   <button v-if="isOwner( item.owner.user_id, item.user_id)"
                                            type="button"
                                            class="list-popup-btn"
                                            v-bind="attrs"
                                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                                    </button>
                                </template>
                                <v-list>
                                    <v-list-item @click="onModifyCurriculumPopupOpen(item.id)">
                                        <v-list-item-title class="lt">교육과정 수정</v-list-item-title>
                                    </v-list-item>
                                    <v-list-item @click="deleteCurriculum( item.id )">
                                        <v-list-item-title class="lt">교육과정 삭제</v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="simple-notify" v-show="curriculumListItems.total===0">
        <div class="no-data">
            <img :src="require('@/assets/images/icn-80-notice-nodata.svg')" alt="">
            <p>등록된 교육과정이 없습니다.</p>
        </div>
    </div>

    <div class="curriculum-add" v-show="isOwner">
        <a href="" class="curriculum-add-btn" @click.prevent="onAddCurriculumPopupOpen(10)"></a>
    </div>

    <!-- start: 공통 팝업 / (수업 회차 50 초과 입력시 안내 팝업) -->
    <transition name="modal">
        <modal v-if="isCreateError" size="540px" body-padding="0" @modalClose="isClassCurr=false">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon error"></div>
                <div class="popup-close">
                    <button class="close" @click="isCreateError = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <h2 class="popup-tit">잘못된 회차 설정입니다.</h2>
                    <p class="popup-txt">
                        회차 설정은 최대 50회까지 입력할 수 있습니다.
                    </p>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <btn type="navi" @btnClick="isCreateError = false">확인</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->


    <add-curriculum-popup
            :is-open="isAddPopupOpen"
            :make-curriculum-data="makeCurriculumData"
            @change="onAddCurriculumPopupStatus"
            @submit="onAddCurriculum"></add-curriculum-popup>

    <curriculum-detail-popup
            :is-open="isDetailPopupOpen"
            :curriculum-detail-item="curriculumDetailItem"
            @change="onDetailCurriculumPopupStatus"></curriculum-detail-popup>

    <modify-curriculum-popup
            :is-open="isModifyPopupOpen"
            :card-id="cardId"
            @change="onModifyCurriculumPopupStatus"
            @submit="onModifyCurriculum"></modify-curriculum-popup>

</div>
