<div>
    <!-- start: 공통 팝업 / 파일명 : W.4.5.5.3 (교육과정 - 상세) -->
    <transition name="modal">
        <modal v-if="isOpen" size="600px" body-padding="0" @modalClose="popupChange(false)">
            <div slot="header">
                <!-- header custom coding-->
                <p class="popup-header-tit mgb-0">{{ curriculumDetailModel.title }}</p>

                <div class="popup-btn" v-if="getIsMember(curriculumDetailModel.owner.user_id )">
                    <div class="list-popup">
                        <v-menu
                                min-width="160px"
                                :close-on-click="true">
                            <template v-slot:activator="{ on, attrs }">
                                <button
                                        type="button"
                                        class="list-popup-btn"
                                        v-bind="attrs"
                                        v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                                </button>
                            </template>
                            <v-list>
                                <v-list-item @click="onModifyCurriculumPopupOpen( curriculumDetailModel.id )">
                                    <v-list-item-title class="lt">교육과정 수정</v-list-item-title>
                                </v-list-item>
                                <v-list-item @click="deleteCurriculum( curriculumDetailModel.id )">
                                    <v-list-item-title class="lt">교육과정 삭제</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </div>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-form">
                    <div class="popup-form-top">
                        <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                            <p>
                                <span class="icon"><img v-once :src="getProfileImg(myClassHomeModel.image_url)" class="icon-img" alt=""></span>
                                <span class="gr-name">{{myClassHomeModel.g_name}}</span>
                                <strong class="cls-name">{{myClassHomeModel.name}}</strong>
                            </p>

                            <span class="post-writer" :class="{'manager':isOwner( curriculumDetailModel.owner.user_id, curriculumDetailModel.user_id)}">{{ curriculumDetailModel.owner.nickname }}</span>
                        </div>
                    </div>
                </div>

                <div class="popup-feed-detail scroll-body" style="max-height:500px;">
                    <div class="fd-cnt">
                        <p class="fd-txt">{{ curriculumDetailModel.text }}</p>

                        <div class="fd-inner">
                            <div class="curriculum-list">
                                <div v-for="(item, index) in curriculumDetailModel.course_list" :key="index" class="curriculum-item">
                                    <a href="#" class="open-course" @click="onDetailCourseOpen(item.curriculum_id, item.id)">
                                        <span class="turn">{{ index + 1 }} 회차</span>
                                        <div class="curriculum-info">
                                            <p class="subject-tit mgb-0">{{ item.title===''? index+1+'회차수업' : item.title }}</p>
                                            <div class="subject-schedule" v-if="item.startDay!=='Invalid date' && item.startTime!==null && item.endTime!==null">
                                                <span v-show="item.startDay!=='Invalid date'">{{ item.startDay }}</span>
                                                <span v-show="item.startTime!==null">{{ item.startTime }}</span>
                                                <span v-show="item.endTime!==null">{{ item.endTime }}</span>
                                            </div>
                                            <div class="subject-sub">
                                                <span v-if="getImgFileLen(curriculumDetailModel.course_list[index].attachment)>0">이미지 {{ getImgFileLen(curriculumDetailModel.course_list[index].attachment) }}</span>
                                                <span v-if="getFileDataSort(curriculumDetailModel.course_list[index].attachment).length>0">파일 {{ getFileDataSort(curriculumDetailModel.course_list[index].attachment).length }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <course-detail-popup
            :is-open="isOpenCourseDetailPopup"
            :course-id="courseId"
            :curriculum-detail-item="curriculumDetailItem"
            :course-detail-item="courseDetailItem"
            @close="onCourseDetailPopupClose"></course-detail-popup>

    <modify-curriculum-popup
            :is-open="isModifyPopupOpen"
            :card-id="cardId"
            @change="onModifyCurriculumPopupStatus"
            @submit="onModifyCurriculum"></modify-curriculum-popup>


</div>
