<v-app>
    <section class="contents-right">
    <div class="mgt-10">
        <div class="cnt-top">
            <h2 class="cnt-tit">교육과정</h2>
        </div>

      <v-app style="background-color:transparent">
        <div class="curriculum-list clearfix">
            <div class="curr-list-group">
                <div v-for="(item, index) in allEducationList.curriculum_list" :key="index" class="curr-item">
                    <div class="fd-head">
                        <p class="fd-tit">{{ item.title }}</p>
                        <div class="fd-writer type2">
                            <p class="writer">
                                <span class="name">김미영선생님</span>
                            </p>
                        </div>
                    </div>
                    <div class="fd-cnt">
                        <p class="fd-txt">
                            <a href="#" @click.prevent="cardClickHandler( item.id )">{{ item.text }}</a>
                        </p>
                    </div>
                    <div class="fd-foot">
                        <p class="en-count">총 {{ item.course_list.length }}회차 수업 등록</p>
<!--                        <div class="fd-btn">-->
<!--                            <div class="list-popup">-->

<!--                                &lt;!&ndash;<div class="list-popup-menu pos-right" style="transform:translate3d(87px, 0, 0)">-->
<!--                                  <a href="" class="list-popup-item">교육과정 수정</a>-->
<!--                                  <a href="" class="list-popup-item">교육과정 삭제</a>-->
<!--                                </div>&ndash;&gt;-->

<!--                              &lt;!&ndash;  v-model 를 수정함 카트 v-model="item.isChk"  &ndash;&gt;-->
<!--                                <v-menu-->
<!--                                        nudge-left="30px"-->
<!--                                        origin="center top"-->
<!--                                        v-model="item.isChk"-->
<!--                                        transition="scale-transition"-->
<!--                                        content-class="time-select-menu bg-white"-->
<!--                                        min-width="180px"-->
<!--                                        offset-y-->
<!--                                        offset-x>-->
<!--                                    <template v-slot:activator="{ on, attrs }">-->
<!--                                        <button type="button" class="list-popup-btn"-->
<!--                                                v-model="settingItemsModel[index].sItem"-->
<!--                                                v-bind="attrs"-->
<!--                                                v-on="on">-->
<!--                                            &lt;!&ndash;<span>{{ getSelectedSettingMenuItem( index ) }}</span>&ndash;&gt;-->
<!--                                            <img :src="require('@/assets/images/more.svg')" class="sm" alt="">-->
<!--                                        </button>-->
<!--                                    </template>-->
<!--                                    <v-list>-->
<!--                                        <v-list-item-->
<!--                                                v-for="( mMenu, mIdx ) in settingItemsModel[index].vo"-->
<!--                                                :key="mIdx"-->
<!--                                                @click="settingMenuClickHandler( index, mMenu )">-->
<!--                                            <v-list-item-title>{{ mMenu }}</v-list-item-title>-->
<!--                                        </v-list-item>-->
<!--                                    </v-list>-->
<!--                                </v-menu>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>
                </div>
            </div>
            <div class="curriculum-add">
                <button class="curriculum-add-btn" @click="isCreateClass = true"></button>
            </div>
        </div>
      </v-app>

    </div>


    <!-- start: 공통 팝업 / 파일명 : W.4.5.5.1 (교육과정 만들기) (4.5.5.1 ~ 4.5.5.1.1)-->
    <transition name="modal" >
        <modal v-if="isCreateClass" size="600px" body-padding="0" @modalClose="isCreateClass=false">
            <div slot="header">
                <!-- header custom coding-->
                <p class="popup-header-tit">새 교육과정 등록</p>
                <div class="popup-close">
                    <button class="close" @click="isCreateClass = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-form">
                    <div class="popup-form-top">
                        <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                            <p>
                                <span class="icon"><img :src="require('@/assets/images/bg-icon.png')" class="icon-img" alt=""></span>
                                <span class="gr-name">파파야초등학교</span>
                                <strong class="cls-name">꿈꾸는 5학년 1반</strong>
                            </p>
                        </div>
                        <div class="form-item">
                            <input type="text" class="form-control popup-type" placeholder="제목을 20자 이내로 작성해 주세요.">
                        </div>
                    </div>
                    <div class="popup-form-cnt">
                        <div class="form-item post-cnt" style="height:154px;">
                            <textarea class="form-textarea" placeholder="일정 내용을 작성해 주세요."></textarea>
                        </div>

                        <div class="add-curriculum bd-top">
                            <p class="tit">수업 설정</p>

                            <div class="add-curr-item">
                                <p class="add-curr-tit">수업 회차</p>
                                <div class="form-box">
                                    <div class="form-group">
                                        <input type="number" class="form-control" v-model.number="currListNum" @input="setCurriNum($event.target.value)">
                                    </div>
                                </div>
                            </div>
                            <div class="scroll-body" style="height:124px;">
                                <div v-for="(item, index) in currListNumModel" class="add-curr-item" :key="`currListNum-${index}`">
                                    <p class="add-curr-tit">
                                        <a href="#" @click.prevent="curriculumClickHandler( index )">
                                            <span class="curr-num">{{ index+1 }} 회차</span>
                                            <span>새 교육과정 {{ index+1 }}</span>
                                        </a>
                                    </p>
                                    <div class="form-box">
                                        <div class="list-popup">
<!--                                            <button type="button" class="list-popup-btn" @click="moreMenuToggle()"><img :src="require('@/assets/images/more.svg')" alt=""></button>-->
<!--                                            &lt;!&ndash; 더보기 &ndash;&gt;-->
<!--                                            <div class="list-popup-menu pos-right" :class="{'active': isMoreMenu}" style="transform:translate3d(35px, 0, 0);">-->
<!--                                                <button class="list-popup-item" value="0" >교육과정 수정</button>-->
<!--                                                <button class="list-popup-item active" value="1" >교육과정 삭제</button>-->
<!--                                            </div>-->

                                            <v-menu
                                                    nudge-left="30px"
                                                    origin="center top"
                                                    v-model="currListNumModel[index]"
                                                    transition="scale-transition"
                                                    content-class="time-select-menu bg-white"
                                                    offset-y offset-x>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <button type="button" class="list-popup-btn"
                                                            v-bind="attrs"
                                                            v-on="on"><img :src="require('@/assets/images/more.svg')" class="sm" alt=""></button>
                                                </template>
                                                <v-list>
                                                    <v-list-item
                                                            v-for="(item, index) in currentCourseSettingItems"
                                                            :key="index"
                                                            @click="CourseSettingsModel=item">
                                                        <v-list-item-title>{{ item }}</v-list-item-title>
                                                    </v-list-item>
                                                </v-list>
                                            </v-menu>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="popup-form-btm">
                        <div class="form-add-btn">
                            <div class="form-temp-save"><a href="" class="txt-btn">임시저장</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <button type="button" class="btn navi" disabled>등록</button>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.5.2 (교육과정 만들기 - 수업내용입력) (4.5.5.2 ~ 4.5.5.2.2) -->
    <transition name="modal">
        <modal v-if="isClassCurr" size="540px" body-padding="0" @modalClose="isClassCurr=false">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon edu"></div>
                <div class="popup-close">
                    <button class="close" @click="isClassCurr = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <p class="popup-txt type2">교육과정</p>
                    <h2 class="popup-tit pdb-0">{{ countNumber + 1 }} 회차 수업</h2>
                </div>

                <div class="popup-form">
                    <div class="popup-form-top">
                        <div class="form-item">
                            <input type="text" class="form-control popup-type" placeholder="수업 제목을 20자 이내로 작성해 주세요.">
                        </div>
                    </div>
                    <div class="popup-form-cnt">
                        <div class="form-item">
                            <p>수업 날짜</p>
                            <!--<div class="form-box">-->
                            <!--<div class="form-group date">-->
                            <!--<input type="text" class="form-control" size="10" value="2020. 2. 28">-->
                            <!--<span class="date-area">2020. 2. 28</span>-->
                            <!--<button type="button" class="btn form-btn form-calendar"></button>-->
                            <!-- </div>-->
                            <!--</div>-->

                            <div class="form-box">
                                <div class="form-group date" style="float:left;">
                                    <!--
                                 <v-menu
                                           top  //absolute 위치로 상단 정렬
                                           nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                                           nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                                           origin="center center"  // transform-origin
                                           v-model="timeMenu"  // value 값으로 노출
                                           :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                                           :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                                           transition="scale-transition" // 스케일 모션
                                           content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                                           offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                                 -->
                                    <v-menu
                                            v-model="startDateMenu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="auto">
                                        <template v-slot:activator="{ on, attrs }">
                                            <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                                            <v-text-field
                                                    v-model="startDatePickerModel"
                                                    v-bind="attrs"
                                                    v-on="on" hide-details solo flat>
                                                <template v-slot:append>
                                                    <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
                                                </template>
                                            </v-text-field>
                                        </template>
                                        <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  상세 텍스트 제거 -->
                                        <v-date-picker v-model="startDatePickerModel" no-title  @input="startDateMenu = false"></v-date-picker>
                                    </v-menu>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <p>수업 시작 시간</p>
                            <div class="form-box">
                                <!--<div class="form-group time">-->
                                <!--<input type="text" class="time-control no-time" size="8" value="시간 없음">-->
                                <!--<button type="button" class="btn form-btn form-time"></button>-->
                                <!--</div>-->
                                <div class="form-group time">
                                    <v-menu
                                            nudge-left="30px"
                                            origin="center top"
                                            v-model="startTimeMenu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            content-class="time-select-menu bg-white"
                                            offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                    v-model="currentStartTimeModel"
                                                    v-bind="attrs"
                                                    v-on="on"
                                                    hide-details solo flat>
                                                <template v-slot:append>
                                                    <button type="button" class="btn form-btn form-time" v-on="on"></button>
                                                </template>
                                            </v-text-field>
                                        </template>
                                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                                        <v-select v-model="startTimeSelectModel.apm" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="startTimeSelectModel.hour" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}시</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="startTimeSelectModel.minute" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}분</span>
                                            </template>
                                        </v-select>
                                    </v-menu>
                                </div>

                            </div>
                        </div>
                        <div class="form-item">
                            <p>수업 종료 시간</p>
                            <div class="form-box">
                                <!--<div class="form-group time">-->
                                <!--<input type="text" class="time-control no-time" size="8" value="시간 없음">-->
                                <!--<button type="button" class="btn form-btn form-time"></button>-->
                                <!--</div>-->
                                <div class="form-group time">
                                    <v-menu
                                            nudge-left="30px"
                                            origin="center top"
                                            v-model="endTimeMenu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            content-class="time-select-menu bg-white"
                                            offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                    v-model="currentEndTimeModel"
                                                    v-bind="attrs"
                                                    v-on="on"
                                                    hide-details solo flat>
                                                <template v-slot:append>
                                                    <button type="button" class="btn form-btn form-time" v-on="on"></button>
                                                </template>
                                            </v-text-field>
                                        </template>
                                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                                        <v-select v-model="endTimeSelectModel.apm" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="endTimeSelectModel.hour" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}시</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="endTimeSelectModel.minute" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}분</span>
                                            </template>
                                        </v-select>
                                    </v-menu>
                                </div>
                            </div>
                        </div>
                        <div class="form-item post-cnt" style="height:120px;">
                            <textarea class="form-textarea" placeholder="수업 내용을 100자 이내로 작성해 주세요."></textarea>
                        </div>
                    </div>


                    <div class="popup-form-btm">
                        <div class="form-add-btn">
                            <ul class="clearfix">
                                <li><a href=""><img :src="require('@/assets/images/image.svg')" alt=""></a></li>
                                <li>
                                    <form method="post" enctype="multipart/form-data">
                                        <div>
                                            <label for="image_uploads" ><img :src="require('@/assets/images/file.svg')" alt=""></label>
                                            <input type="file" id="image_uploads" class="image_uploads_test" name="image_uploads" accept=".jpg, .jpeg, .png">
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>

                        <div class="preview">
                            <div class="add-file">

                                <div class="add-item-top">
                                    <p class="add-item-tit">첨부 파일 3</p>
                                    <div class="add-item-btn">
                                        <a href="" class="txt-btn">전체삭제</a>
                                    </div>
                                </div>

                                <ul class="add-file-list">
                                    <li class="list-item">
                                        <p>6학년 2학기 수학 II 3단원 .pdf</p>
                                        <a href="" class="add-file-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a>
                                    </li>
                                    <li class="list-item">
                                        <p>수학 II 3단원 정리 .hwp</p>
                                        <a href="" class="add-file-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a>
                                    </li>
                                    <li class="list-item">
                                        <p>수학 I 개념 정리.pdf</p>
                                        <a href="" class="add-file-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></a>
                                    </li>
                                </ul>
                            </div>

                            <!--<ul>-->
                            <!--<li v-for="(todoItem, index) in todoItems" :key="todoItem" class="shadow">-->
                            <!--<i class="checkBtn fas fa-check" aria-hidden="true"></i>-->
                            <!--{{ todoItem }}-->
                            <!--<span class="removeBtn" type="button" @click="removeTodo(todoItem, index)">-->
                            <!--<a href="" class="add-file-delete" aria-hidden="true"><img :src="require('@/assets/images/delete.svg')" alt=""></a>-->
                            <!--</span>-->
                            <!--</li>-->
                            <!--</ul>-->

                        </div>
                    </div>



                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <button type="button" class="btn navi" disabled>완료</button>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.5.3 (교육과정 - 상세) -->
    <transition name="modal">
        <modal v-if="isClassCurrMore" size="600px" body-padding="0" @modalClose="isClassCurrMore=false">
            <div slot="header">
                <!-- header custom coding-->
                <p class="popup-header-tit">{{ getCurrItemTitleById( curriculumList.curriculum.title ) }}</p>

                <div class="popup-btn">
                    <div class="list-popup mgl-20">
<!--                        <button type="button" class="list-popup-btn" @click="moreMenuToggle()"><img :src="require('@/assets/images/more.svg')" alt=""></button>-->
<!--                        &lt;!&ndash; 더보기 &ndash;&gt;-->
<!--                        <div class="list-popup-menu pos-right" :class="{'active': isMoreMenu}" style="transform:translate3d(35px, 0, 0);">-->
<!--                            <button class="list-popup-item" value="0" @click>교육과정 수정</button>-->
<!--                            <button class="list-popup-item active" value="1" @click>교육과정 삭제</button>-->
<!--                        </div>-->
                        <v-menu
                                nudge-left="30px"
                                origin="center top"
                                transition="scale-transition"
                                content-class="time-select-menu bg-white"
                                offset-y offset-x>
                            <template v-slot:activator="{ on, attrs }">
                                <button type="button" class="list-popup-btn"
                                        v-bind="attrs"
                                        v-on="on"><img :src="require('@/assets/images/more.svg')" class="sm" alt=""></button>
                            </template>
                            <v-list>
                                <v-list-item
                                        v-for="(item, index) in currentSettingItems"
                                        :key="index"
                                        @click="EduSettingsModel=item">
                                    <v-list-item-title>{{ item }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </div>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-form">
                    <div class="popup-form-top">
                        <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                            <p>
                                <span class="icon"><img :src="getProfileImg(myClassHomeModel.image_url)" class="icon-img" alt=""></span>
                                <span class="gr-name">{{myClassHomeModel.g_name}}</span>
                                <strong class="cls-name">{{myClassHomeModel.name}}</strong>
                            </p>

                            <p class="post-writer">김미영선생님</p>
                        </div>
                    </div>
                </div>

                <div class="popup-feed-detail scroll-body" style="max-height:500px;">
                    <div class="fd-cnt">
                        <p class="fd-txt">{{ curriculumList.curriculum.text }}</p>

                        <div class="fd-inner">
                            <div class="curriculum-list">
                                <div v-for="(item, index) in curriculumList.curriculum.course_list" :key="index" class="curriculum-item">
                                    <span class="turn">{{ item.index }} 회차</span>
                                    <div class="curriculum-info">
                                        <a href="#" @click="curriculumDetailClickHandler( item.id )">
                                            <p class="subject-tit">{{ item.title }}</p>
                                            <div class="subject-schedule">
                                                <span>{{ item.startDay }}</span>
                                                <span>{{ item.startTime }}</span>
                                            </div>
                                            <div class="subject-sub">
                                                <span>이미지 2</span>
                                                <span>파일 1</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.5.3.1 (교육과정 - 상세) -->
    <transition name="modal">
        <modal v-if="isClassCurrDetail" size="600px" body-padding="0" @modalClose="isClassCurrDetail=false">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon edu"></div>
                <div class="popup-close">
                    <button class="close" @click="isClassCurrDetail = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <p class="popup-txt type2">{{ curriculumList.curriculum.title }}</p>
                    <h2 class="popup-tit pdb-0">{{ getCurrCourseItemTitleById( courseList.course.title ) }}</h2>
                </div>

                <div class="popup-form">
                    <div class="popup-form-top">
                        <div class="form-item pd-desc">
                            <ul class="feed-info period clearfix">
                                <li>{{ courseList.course.startDay }}</li>
                                <li>{{ courseList.course.startTime }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="popup-feed-detail">
                    <div class="fd-cnt">
                        <p class="fd-txt">
                            {{ courseList.course.contents }}
                        </p>

                        <div class="fd-inner">
                            <ul class="img-list clearfix">
                                <li><a href=""><img :src="require('@/assets/images/pic.png')" alt=""></a></li>
                                <li><a href=""><img :src="require('@/assets/images/pic2.png')" alt=""></a></li>
                                <li><a href=""><img :src="require('@/assets/images/pic3.png')" alt=""></a></li>
                            </ul>
                        </div>

                        <div class="fd-inner">
                            <p class="fd-inner-txt">첨부 파일 3</p>
                            <ul class="file-list clearfix">
                                <li>
                                    <a href="">첨부파일1.pdf</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / (수업 회차 50 초과 입력시 안내 팝업) -->
    <transition name="modal">
        <modal v-if="isCreateError" size="540px" body-padding="0" @modalClose="isClassCurr=false">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon error"></div>
                <div class="popup-close">
                    <button class="close" @click="isCreateError = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <!-- body custom coding-->
                <div class="popup-cnt">
                    <h2 class="popup-tit">잘못된 회차 설정입니다.</h2>
                    <p class="popup-txt">
                        회차 설정은 최대 50회까지 입력할 수 있습니다.
                    </p>
                </div>
            </div>
            <div slot="footer">
                <!-- footer custom coding-->
                <div class="btn-group rt">
                    <button type="button" @click="isCreateError = false" class="btn navi">확인</button>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->
</section>
</v-app>

