<div>
  <!-- start: 공통 팝업 / 파일명 : W.4.5.5.1 (교육과정 수정) (4.5.5.1 ~ 4.5.5.1.1)-->
  <transition name="modal">
    <modal v-if="isOpen" size="600px" body-padding="0" @modalClose="popupChange(false)">
      <div slot="header">
        <!-- header custom coding-->
        <p class="popup-header-tit mgb-0">교육과정 수정</p>
        <div class="popup-close">
          <button class="close" @click="popupChange(false)"><img :src="require('@/assets/images/close.svg')" alt=""></button>
        </div>
      </div>
      <div slot="body">
        <!-- body custom coding-->
        <div class="popup-form">
          <div class="popup-form-top">
            <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
              <p>
                <span class="icon"><img :src="require('@/assets/images/bg-icon.png')" class="icon-img" alt=""></span>
                <span class="gr-name">{{ myClassHomeModel.g_name }}</span>
                <strong class="cls-name">{{ myClassHomeModel.name }}</strong>
              </p>
            </div>
            <div class="form-item">
              <input type="text"
                     id="curriculumModifyTitle"
                     class="form-control popup-type"
                     v-model="curriculumDetailItemModel.title">
            </div>
          </div>
          <div class="popup-form-cnt">
            <div class="form-item post-cnt" style="height:154px;">
              <textarea class="form-textarea" v-model="curriculumDetailItemModel.text"></textarea>
            </div>

            <div class="add-curriculum bd-top">
              <p class="tit mgb-0">수업 설정</p>

              <div class="add-curr-item">
                <p class="add-curr-tit">수업 회차</p>
                <div class="form-box">
                  <div class="form-group">
                    <input type="number"
                           class="form-control"
                           v-model="curriculumDetailDataNum"
                           @click="inFocus"
                           @input="setCourseList($event.target.value)">
                  </div>
                </div>
              </div>
              <div class="scroll-body" style="height:124px;">
                <div v-for="(item, index) in curriculumDetailItemModel.course_list" class="add-curr-item" :key="`curriculumDetailDataNum-${index}`">

                  <a href="#" class="add-curr-tit" @click.prevent="onModifyCoursePopupOpen( curriculumDetailItemModel.id, item.id )">
                    <span class="curr-num">{{ index+1 }} 회차</span>
                    <span>{{ item.title }}</span>
                  </a>

                  <div class="form-box">
                    <div class="list-popup">
                      <v-menu
                              nudge-left="30px"
                              origin="center top"
                              transition="scale-transition"
                              content-class="time-select-menu bg-white"
                              offset-y offset-x>
                        <template v-slot:activator="{ on, attrs }">
                          <button type="button" class="list-popup-btn"
                                  v-bind="attrs"
                                  v-on="on"><img :src="require('@/assets/images/more.svg')" class="sm" alt=""></button>
                        </template>
                        <v-list>
                          <v-list-item>
                            <v-list-item-title class="lt" @click="onModifyCoursePopupOpen(cardId, item.id)">수업 내용 수정</v-list-item-title>
                          </v-list-item>
                          <v-list-item>
                            <v-list-item-title class="lt" @click="deleteCourse(item.id)">수업 내용 삭제</v-list-item-title>
                          </v-list-item>
                        </v-list>
                      </v-menu>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div slot="footer">
        <!-- footer custom coding-->
        <div class="btn-group rt">
          <btn type="navi" @btnClick="modifyConfirm">등록</btn>
        </div>
      </div>
    </modal>
  </transition>
  <!-- end: 공통 팝업 -->

  <modify-course-popup
        :is-modify-course="isModifyClassCourse"
        :course-idx="courseId"
        @change="onModifyCoursePopupStatus"
        @modifyCourse="getModifyCourseData">
  </modify-course-popup>

  <notice-popup
        :is-open="isOpenError"
        :title="errorTitle"
        :msg="errorMessage"
        @change="onDeleteNoticePopupClose">
  </notice-popup>

</div>
