<!--start: 공통 팝업 / 파일명 : W.4.5.5.2 (교육과정 수정 - 수업내용수정) (4.5.5.2 ~ 4.5.5.2.2)-->
<transition name="modal">
    <modal v-if="isModifyCourse" size="540px" body-padding="0" @modalClose="popupChange(false)">
        <div slot="header">
            <!-- header custom coding-->
            <div class="popup-icon edu"></div>
            <div class="popup-close">
                <button class="close" @click="popupChange(false)"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-cnt">
                <p class="popup-txt type2">교육과정</p>
                <h2 class="popup-tit pdb-0">{{countCourseNumber + 1}} 회차 수업</h2>
            </div>

            <div class="popup-form">
                <div class="scroll-body" style="max-height:432px;">
                    <div class="popup-form-top">
                        <div class="form-item">
                            <input
                                    type="text"
                                    id="courseModifyTitle"
                                    class="form-control popup-type"
                                    v-model="courseDetailItemModel.title"
                                    @input="modifyCourseChangeTitle($event.target.value, countCourseNumber)">
                        </div>
                    </div>
                    <div class="popup-form-cnt">
                        <div class="form-item">
                            <p>수업 날짜</p>
                            <!--<div class="form-box">-->
                            <!--<div class="form-group date">-->
                            <!--<input type="text" class="form-control" size="10" value="2020. 2. 28">-->
                            <!--<span class="date-area">2020. 2. 28</span>-->
                            <!--<button type="button" class="btn form-btn form-calendar"></button>-->
                            <!-- </div>-->
                            <!--</div>-->

                            <div class="form-box">
                                <div class="form-group date" style="float:left;">
                                    <!--
                                 <v-menu
                                           top  //absolute 위치로 상단 정렬
                                           nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                                           nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                                           origin="center center"  // transform-origin
                                           v-model="timeMenu"  // value 값으로 노출
                                           :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                                           :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                                           transition="scale-transition" // 스케일 모션
                                           content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                                           offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                                 -->
                                    <v-menu
                                            v-model="startDateMenu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            offset-y
                                            min-width="auto">
                                        <template v-slot:activator="{ on, attrs }">
                                            <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                                            <v-text-field
                                                    v-model="courseDetailItemModel.startDay"
                                                    v-bind="attrs"
                                                    v-on="on"
                                                    hide-details
                                                    :attach="`date-${curriculumDetailDataNum}`"
                                                    solo
                                                    flat>
                                                <template v-slot:append>
                                                    <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
                                                </template>
                                            </v-text-field>
                                        </template>
                                        <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  상세 텍스트 제거 -->
                                        <v-date-picker v-model="courseDetailItemModel.startDay" :id="`date-${curriculumDetailDataNum}`" no-title @input="startDatePickerChange(countCourseNumber)"></v-date-picker>
                                    </v-menu>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <p>수업 시작 시간</p>
                            <div class="form-box">
                                <!--<div class="form-group time">-->
                                <!--<input type="text" class="time-control no-time" size="8" value="시간 없음">-->
                                <!--<button type="button" class="btn form-btn form-time"></button>-->
                                <!--</div>-->
                                <div class="form-group time">
                                    <v-menu
                                            nudge-left="30px"
                                            origin="center top"
                                            v-model="startTimeMenu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            content-class="time-select-menu bg-white"
                                            offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                    v-model="courseDetailItemModel.startTime"
                                                    v-bind="attrs"
                                                    v-on="on"
                                                    hide-details solo flat>
                                                <template v-slot:append>
                                                    <button type="button" class="btn form-btn form-time" v-on="on"></button>
                                                </template>
                                            </v-text-field>
                                        </template>
                                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                                        <v-select v-model="startTimeSelectModel.apm" @input="modifyCourseChangeStartTime(countCourseNumber)" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="startTimeSelectModel.hour" @input="modifyCourseChangeStartTime(countCourseNumber)" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}시</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="startTimeSelectModel.minute" @input="modifyCourseChangeStartTime(countCourseNumber)" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{item}}분</span>
                                            </template>
                                        </v-select>
                                    </v-menu>
                                </div>

                            </div>
                        </div>
                        <div class="form-item">
                            <p>수업 종료 시간</p>
                            <div class="form-box">
                                <!--<div class="form-group time">-->
                                <!--<input type="text" class="time-control no-time" size="8" value="시간 없음">-->
                                <!--<button type="button" class="btn form-btn form-time"></button>-->
                                <!--</div>-->
                                <div class="form-group time" style="float:left;margin-left:0;">
                                    <v-menu
                                            nudge-left="30px"
                                            origin="center top"
                                            v-model="endTimeMenu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            content-class="time-select-menu bg-white"
                                            offset-y>
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                    v-model="courseDetailItemModel.endTime"
                                                    v-bind="attrs"
                                                    v-on="on"
                                                    hide-details solo flat>
                                                <template v-slot:append>
                                                    <button type="button" class="btn form-btn form-time" v-on="on"></button>
                                                </template>
                                            </v-text-field>
                                        </template>
                                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                                        <v-select v-model="endTimeSelectModel.apm" @input="getModifyCourseEndTime(countCourseNumber)" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{ item }}</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="endTimeSelectModel.hour" @input="getModifyCourseEndTime(countCourseNumber)" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{ item }}시</span>
                                            </template>
                                        </v-select>
                                        <v-select v-model="endTimeSelectModel.minute" @input="getModifyCourseEndTime(countCourseNumber)" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px">
                                            <template v-slot:selection="{item, index}">
                                                <span style="font-size:14px;">{{ item }}분</span>
                                            </template>
                                        </v-select>
                                    </v-menu>
                                </div>

                            </div>
                        </div>
                        <div class="form-item post-cnt" style="height:120px;">
                            <textarea class="form-textarea"
                                      v-model="courseDetailItemModel.contents"
                                      @input="modifyCourseChangeText($event.target.value, countCourseNumber)"></textarea>
                        </div>

                        <!-- start: 첨부 이미지 파일 미리보기 -->
                        <image-preview :file-items="imgFileURLItemsModel"
                                       @remove="removeImgPreviewItems"
                                       @loaded="imageLoadedCheck"
                                       @removeAll="removeAllPreview"></image-preview>
                        <!-- end: 첨부 이미지 파일 미리보기 -->

                        <!-- start: 첨부 파일 리스트 -->
                        <file-preview :file-items="attachFileItems"
                                      @removeFile="removeAttachFileItem"
                                      @removeAttachFileAll="removeAllAttachFile"></file-preview>
                        <!-- end: 첨부 파일 리스트 -->
                    </div>
                </div>
                <div class="popup-form-btm">
                    <div class="form-add-btn">
                        <ul class="clearfix">
                            <li>
                                <a href="#" class="info-img" @click.prevent="modifyImgFileInputFocus">
                                    <img :src="require('@/assets/images/image.svg')" alt="">
                                    <input class="input-file"
                                           type="file" name="files"
                                           id="imgFileInputModify"
                                           accept="image/*"
                                           multiple
                                           @change="modifyFileToImage( $event.target.files )"
                                            hidden />
                                </a>

                            </li>
                            <li>
                                <a href="#" @click.prevent="modifyFilesInputFocus">
                                    <img :src="require('@/assets/images/file.svg')" alt="">
                                    <input class="input-file"
                                           type="file"
                                           name="files"
                                           id="attachFileInputModify"
                                           accept=".pdf, .xls, .xlsx, .ppt, .pptx, .doc, .docx"
                                           multiple
                                           @change="modifyAttachFileTo( $event.target.files )"
                                           hidden />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <btn type="navi" @btnClick="modifyCourseConfirm(countCourseNumber)">수정</btn>
            </div>
        </div>
    </modal>
</transition>
<!-- end: 공통 팝업 -->