@charset "utf-8";

@import "./variable.scss";
@import "./mixin.scss";

/* css reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
br,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
strong,
time,
mark,
audio,
video,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-touch-callout: none;
  -webkit-touch-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -user-select: none;
  -webkit-tap-highlight-color: rgba(0, 165, 181, 0.1);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

address,
em,
i {
  font-style: normal;
}

img {
  border: none;
  vertical-align: middle;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: none;
}

legend,
caption {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: -999px;
}

input,
select,
button,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

button,
input[type="button"] {
  padding: 0;
  margin: 0;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[type="password"]::-ms-clear {
  display: none;
}

button:focus {
  outline: 0;
}

button {
  background: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after, .footer-inner:after, .tabs-line:after, .contents-group:after{
  content: "";
  display: block;
  clear: both;
}

/*===========================================================================
	FONT
============================================================================*/
html,
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1d1d1d;
  letter-spacing: -0.5px;
  line-height:1.4;
  background-color: #f6f7fa;
}


.ct {text-align:center !important;}
.lt {text-align:left !important;}
.rt {text-align:right !important;}

.bd-top {border-top:1px solid #f4f5f6;}
.bd-btm {border-bottom:1px solid #f4f5f6;}

.fc-red {color:#ff4d4d !important;}
.fc-gray {color:#57576d !important;}

.fs-12 {font-size:12px !important;}
.fs-16 {font-size:16px !important;}
.fs-18 {font-size:18px !important;}

.vt {vertical-align: top !important;}

.bd-none {border:none !important;}
.pd-none {padding:0 !important;}

.required {
  &:after {
    content:'';
    display:inline-block;
    width:4px;
    height:4px;
    margin-left:6px;
    border-radius:50%;
    vertical-align:middle;
    background-color:#ff4d4d;
  }
}

.after-line {
  position:relative;

  &:after {
    content:'';
    position:absolute;
    display:block;
    width:1px;
    height:16px;
    top:50%;
    right:0;
    transform:translateY(-50%);
    background-color:#848499;
  }
}

.thumb, .icon-img {width:100%;}

.color-mark {
  position:absolute;
  display: block;
  width:12px;
  height:12px;
  bottom:0;
  right:0;
  border-radius:50%;
  border:2px solid #fff;

  &.red {background-color:#ff4d4d;}
  &.yellow {background-color:#ffd100;}
  &.blue {background-color:#2183de;}
  &.pink {background-color:#ff90aa;}
  &.aqua {background-color:#1cdbc9;}
  &.black {background-color:#0f0f15;}
}

.profile-img {
  width:32px;
  height:32px;
  display:inline-block;
}

// tab-list
.tabs-line {
  border-bottom:1px solid #f4f5f6;

  @include columnWidth('.item');

  .item {
    float:left;
    margin-bottom:10px;
    text-align:center;
    font-size:16px;
    color:#57576d;
    letter-spacing:0;

    &.active {
      a {
        position:relative;
        display:inline-block;
        padding:0 6px;
        font-weight:500;

        &:after {
          content:'';
          position:absolute;
          width:100%;
          height:2px;
          bottom:-11px;
          left:0;
          background-color:#0f0f15;
        }
      }
    }
  }
}


// tb-style
.tb-style {
  display:table;
  &.full {
    width:100%;
  }
}
.tb-row {display:table-row;}
.tb-cell {
  display:table-cell;
  vertical-align:middle;
}


// checkbox group
.checkbox-group {
  .btn-radio:first-child,
  .btn-checkbox:first-child{margin-left:0;}

  .btn-radio,
  .btn-checkbox{
    display: inline-block;
    margin-left:40px;
  }

  .disabled {
    opacity:0.2;
  }
}

// checkbox
.btn-checkbox {

  label {
    position: relative;
    font-size:14px;
    color:#57576d;
    font-weight:400;
    //line-height:34px;
  }

  &.inline {
    display:inline-block;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;

    + label {
      padding-left:35px;
      vertical-align:middle;

      &:before {
        content:'';
        position:absolute;
        display:block;
        width:24px;
        height:24px;
        top:50%;
        left:0;
        transform:translateY(-50%);
        background:url(../../assets/images/checkbox-outline.svg) no-repeat;
      }

      &.big {
        padding-left:37px;

        &:before, &:after {
          width:27px;
          height:27px;
        }
      }
    }

    &:checked {
      + label {
        &:before {
          background:url(../../assets/images/checkbox-marked.svg) no-repeat;
        }
      }
    }
  }
}

// radio box
.btn-radio {
  label {
    position:relative;
    font-size:14px;
    color:#57576d;
    font-weight:400;
    //line-height:34px;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;

    + label {
      padding-left:30px;
      vertical-align:middle;

      &:before {
        content:'';
        position:absolute;
        width:24px;
        height:24px;
        top:50%;
        left:0;
        transform:translateY(-50%);
        border-radius:50%;
        background:url(../../assets/images/checkbox-circle-outline.svg) no-repeat;
      }
    }

    &[disabled] {
      + label {opacity:0.2;}
      &:checked + label {
        opacity: 1;
        &:before, &:after {opacity: 0.2;}
      }
    }

    &:checked {
      + label {
        &:before {
          background:url(../../assets/images/checkbox-circle-radio.svg) no-repeat;
        }
      }
    }
  }
}


// accordion
.accordion {
  .accordion-tit {
    position:relative;
    border-bottom:1px solid #f4f5f6;

    button.accordion-btn {
      position:absolute;
      display:block;
      width:24px;
      height:24px;
      top:50%;
      right:20px;
      transform: translateY(-50%) rotate(0deg);
      -webkit-transition: all 0.5s ease;
      transition: all 0.2s ease;
      background:url(../../assets/images/arrow-down.svg) no-repeat center;

      &.active {
        transform: translateY(-50%) rotate(-180deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.2s ease;
      }
    }

    a.accordion-btn {
      position:relative;
      display:block;

      &:after {
        content:'';
        position:absolute;
        display:block;
        width:24px;
        height:24px;
        top:50%;
        right:0;
        transform: translateY(-50%) rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.2s ease;
        background:url(../../assets/images/arrow-down.svg) no-repeat center;
      }

      &.active {
        &:after {
          transform: translateY(-50%) rotate(-180deg);
          -webkit-transition: all 0.5s ease;
          transition: all 0.2s ease;
        }
      }
    }
  }

  .accordion-cnt {
    display:none;
    &.active {
      display:block;
    }
  }
}

// pagination
.pagination {
  width:100%;
  text-align:center;

  ul {
    display:inline-block;
    overflow: hidden;

    li {
      float:left;

      a {
        display:block;
        padding:2px 0;
        width:32px;
        height:32px;
        border-radius:50%;
        line-height:32px;
        text-align:center;
      }

      &.active {
        a{
          background-color:#ff4d4d;
          color:#fff;
        }
      }

      &.arrow {
        margin:0 10px;
      }
    }
  }
}


.main-txt {
  padding:80px 0 180px 30px;
  background:url(../../assets/images/illust-welcome.png) no-repeat right top;

  p {
    font-size:16px;
    color:#57576d;
    strong {
      font-weight:500;
    }
  }
}

.main-tit {
  font-size:26px;
  font-weight:500;
  line-height:1.5;
}


.all-form {
  text-align:center;
  margin-top:40px;
  padding-bottom:75px;

  .form-progress {
    margin-top:20px;

    .progress-list {
      display:inline-block;

      .item {
        position:relative;
        float:left;
        height:20px;

        &:before {
          content:'';
          display:inline-block;
          width:6px;
          height:6px;
          border-radius:50%;
          vertical-align: middle;
          background-color:#0f0f15;
        }

        &:after {
          content:'';
          display:inline-block;
          width:20px;
          height:1px;
          margin:0 4px;
          vertical-align:middle;
          background-color:#c9cad5;
        }

        &.active:before {
          width:20px;
          height:20px;
          background-color:#fff;
          border:7px solid #ff4d4d;
        }

        &:last-child:after {
          display:none;
        }
      }
    }
  }

  .form-wrapper {
    width:800px;
    padding:40px 60px;
    margin:30px auto 0 auto;
    text-align:left;
    background-color:#fff;
    box-shadow: 0 0 10px 0 rgba(15, 15, 21, 0.05);

    .form-sub-tit {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 20px;
      border-bottom: 1px solid #f4f5f6;
    }
  }

  .form-cnt {
    position:relative;
    min-height:280px;

    .agreement {
      height:200px;
      padding:20px 20px 20px 54px;
      overflow-y: auto;
      line-height:1.57;
      text-align:left;
      font-size:14px;
      color:#57576d;
      background-color:#f4f5f6;
      p, li {
        margin-bottom:8px;
      }
    }

    .form-tit {
      padding:18px 20px;
      input {
        + label {
          font-size:16px;
          color:#0f0f15;
        }
      }
    }

    .form-card {
      margin-top:30px;
      text-align:center;

      .card-tit {
        font-size:18px;
        color:#0f0f15;

        &.fw-500 {
          font-weight:500;
        }
      }

      .card-txt {
        margin:20px 0 24px 0;
        font-size:14px;
        color:#5b5b70;
        line-height:1.57;
        letter-spacing:0;
      }

      &.bg {
        &:after {
          content:'';
          display:block;
          position:absolute;
          width:233px;
          height:199px;
          bottom:0;
          left:50%;
          transform:translateX(-50%);
          background:url(../../assets/images/illust-confirm-small.png) no-repeat center bottom;
        }
      }

      &.bg2 {
        &:after {
          content:'';
          display:block;
          position:absolute;
          width:233px;
          height:232px;
          bottom:0;
          left:50%;
          transform:translateX(-50%);
          background:url(../../assets/images/illust-welcome-small.png) no-repeat center bottom;
        }
      }
    }
  }

  .all-form-data {
    padding:30px 35px;
  }

  .form-btm {
    margin-top:30px;
  }
}



