<div class="mypage-cnt">
    <div class="cnt-top">
        <h2 class="cnt-tit">보관함</h2>
    </div>

    <div class="my-bookmark">
        <div class="bookmark-top">
            <a href="" class="txt-btn active">보관된 알림</a>
            <a href="" class="txt-btn">보관된 일정</a>
            <div class="bookmark-btn"><a href="" class="btn primary grey sm">비우기</a></div>
        </div>

        <div class="bookmark-list">
            <div class="bookmark-item">
                <div class="item-top">
                    <span class="bookmark-class">1학년 3반 수학</span>
                    <p class="bookmark-tit">수학 2단원 관련 공지사항</p>

                    <div class="bookmark-option-btn">
                        <button type="button" class="btn only-ico-btn sm bookmark active"></button>

                        <div class="list-popup">
                            <button type="button" class="list-popup-btn"><img src="assets/images/more.svg" alt=""></button>
                            <div class="list-popup-menu pos-right" style="transform:translate3d(35px, 0, 0);">
                                <a href="" class="list-popup-item">알림 수정</a>
                                <a href="" class="list-popup-item">해당 클래스의 공지로 등록</a>
                                <a href="" class="list-popup-item">다른 클래스에도 등록하기</a>
                                <a href="" class="list-popup-item">알림 보관 해제</a>
                                <a href="" class="list-popup-item">해당 클래스에서 알림 삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-cnt">
                    <p class="post-txt">안녕하세요, 박수한 선생님입니다. 2020년을 맞이하여 1학년 1학기부터 3학년 1학기까지의 문제가 추가되었습니다. 기존에 제공하던 2학년 2학기 문제는 교과 과정이 개편되면서 많은 것들이…</p>
                    <div class="post-sub">
                        <span>박수한선생님</span>
                        <span class="date">1분 전</span>
                    </div>
                </div>
            </div>

            <div class="bookmark-item">
                <div class="item-top">
                    <span class="bookmark-class">꿈꾸는 5학년 1반</span>
                    <p class="bookmark-tit">2019년 10월 가을체험학습 학부모 참가신청 안내 및 공지사항 안내</p>

                    <div class="bookmark-option-btn">
                        <button type="button" class="btn only-ico-btn sm bookmark active"></button>

                        <div class="list-popup">
                            <button type="button" class="list-popup-btn"><img src="assets/images/more.svg" alt=""></button>
                            <div class="list-popup-menu pos-right" style="transform:translate3d(35px, 0, 0);">
                                <a href="" class="list-popup-item">알림 수정</a>
                                <a href="" class="list-popup-item">해당 클래스의 공지로 등록</a>
                                <a href="" class="list-popup-item">다른 클래스에도 등록하기</a>
                                <a href="" class="list-popup-item">알림 보관 해제</a>
                                <a href="" class="list-popup-item">해당 클래스에서 알림 삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-cnt">
                    <p class="post-txt">안녕하세요, 박수한 선생님입니다. 2020년을 맞이하여 1학년 1학기부터 3학년 1학기까지의 문제가 추가되었습니다. 기존에 제공하던 2학년 2학기 문제는 교과 과정이 개편되면서 많은 것들이…</p>
                    <div class="post-sub">
                        <span>김지영선생님</span>
                        <span class="date">2019. 10. 28</span>
                    </div>
                </div>
            </div>

            <div class="bookmark-item">
                <div class="item-top">
                    <span class="bookmark-class">꿈꾸는 5학년 1반</span>
                    <p class="bookmark-tit">11월 급식표입니다.</p>

                    <div class="bookmark-option-btn">
                        <button type="button" class="btn only-ico-btn sm bookmark active"></button>

                        <div class="list-popup">
                            <button type="button" class="list-popup-btn"><img src="assets/images/more.svg" alt=""></button>
                            <div class="list-popup-menu pos-right" style="transform:translate3d(35px, 0, 0);">
                                <a href="" class="list-popup-item">알림 수정</a>
                                <a href="" class="list-popup-item">해당 클래스의 공지로 등록</a>
                                <a href="" class="list-popup-item">다른 클래스에도 등록하기</a>
                                <a href="" class="list-popup-item">알림 보관 해제</a>
                                <a href="" class="list-popup-item">해당 클래스에서 알림 삭제</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-cnt">
                    <p class="post-txt none">게시글이 등록되었습니다.</p>
                    <div class="post-sub">
                        <span>박수한선생님</span>
                        <span class="date">1분 전</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>