<div class="form-cnt pd-desc" style="overflow:hidden;">
  <!-- Nav tabs -->
  <div class="form-tab">
    <ul class="tabs-line" data-column="2">
      <li class="item" v-for="( item, index ) in listInfos" :key="item.id" :class="{'active':isActive(index) }">
        <a href="" @click.prevent="gotoLink(index)">{{ item.title }}</a>
      </li>
      <!--<li class="item active"><a href="#a5" role="tab" data-toggle="tab"  @click.prevent="gotoFindIdHandler">아이디 찾기</a></li>
      <li class="item"><a href="#a6" role="tab" data-toggle="tab" @click.prevent="gotoResetPassWordHandler">비밀번호 재설정</a></li>-->
    </ul>
  </div>

  <transition name="slide-out" mode="out-in">
    <router-view></router-view>
  </transition>

</div>
