<div class="contents-inner">
  <div class="notice">
    <div class="notice-cnt">
      <p class="notice-tit">
        <strong>Notice</strong>
        <span>파파야 웹사이트 2.0 업데이트</span>
        <a href=""><img :src="require('@/assets/images/arrow-right-small.png')" alt="" style="height:16px;"></a>
      </p>
    </div>
  </div>

  <div class="home-main">
    <div class="main-txt">
      <h2 class="main-tit mgb-10">안녕하세요, {{ userName }}님!</h2>
      <p>즐거운 교육 놀이터, 파파야에 오신 것을 환영합니다.<br>클래스를 한번 둘러볼까요?</p>
    </div>
  </div>

  <div class="home-classes">
    <div class="cnt-top">
      <h3 class="cnt-tit">MY 클래스 <span class="fc-red">{{ classItemLists.length }}</span></h3>
      <div class="list-align">
        <div class="form-group">
          <select class="form-select">
            <option value="" selected>최신 업데이트순</option>
            <option value="">주간</option>
            <option value="">일간</option>
          </select>
        </div>
      </div>
    </div>

    <div class="classes-card">
      <template  v-if="originalClassItems.length<1">
        <ul class="classes">
          <li class="item new-classes">
            <a href="">
              <p>새로운 클래스<br>생성하기</p>
            </a>
          </li>
        </ul>
      </template>
      <template v-else>
        <transition-group class="classes" name="slideY" tag="ul" @before-enter="beforeEnter" @after-enter="afterEnter">
          <li class="item"
              v-for="( item, index ) in classItemLists"
              :data-index="index"
              :key="item.me.class_id"
              :class="{'new-classes':index===0}">
            <template v-if="index===0">
              <a href="" >
                <p>새로운 클래스<br>생성하기</p>
              </a>
            </template>
            <template v-else>
              <a href="" class="class-info">
                <div class="info-img crown">
                  <span><img :src="imgNullCheck(item.me.profile_image)" class="thumb" alt=""></span>
                </div>
                <div class="info-tit">
                  <p>{{  item.name }}</p>
                  <span>{{imgNullCheck( item.me.nickname ) }}</span>
                </div>
                <div class="info-sub">
                  <span>{{ getYears( item.me.createdAt )}}</span>
                  <span>{{ item.me.status ==='0'? '대기' : '승인' }}</span>
                  <span>멤버 {{ item.me.memberNum }}</span>
                </div>
              </a>
              <div class="class-update">
                <span class="update" :class="{'active': item.me.isUpdated === 1}">{{ updatedDiffDate( item.me.updatedAt ) }}</span>
                <button type="button" class="btn only-ico-btn heart" :class="{'active': item.is_bookmarked}" @click="bookmarkToggle(item)"></button>
              </div>
            </template>
          </li>
        </transition-group>
      </template>
      <btn @btnClick="getMoreDisplay"  v-if="classItemLists.length>0">더보기</btn>
    </div>
  </div>
</div>
