<div class="contents-inner">
  <div class="notice">
    <div class="notice-cnt">
      <p class="notice-tit">
        <strong>Notice</strong>
        <a href="" @click.prevent="onNoticeClick"><span>{{ noticeTitle | split(15)  }}</span><img :src="require('@/assets/images/arrow-right-small.png')" alt="" style="height:16px;"></a>
      </p>
    </div>
  </div>

  <div class="home-main">
    <div class="main-txt">
      <h2 class="main-tit mgb-10">안녕하세요, {{ userName }}님!</h2>
      <p>즐거운 교육 놀이터, 파파야에 오신 것을 환영합니다.<br>클래스를 한번 둘러볼까요?</p>
    </div>
  </div>

<!--  가입 클래스 목록 -->
  <my-class-list-view
          :class-list-data="classItemLists"
          :list-total="originalClassItems.length"
          :more-info="classListMoreInfos"
          :list-load-num="numOfPage"
          :start-num="startNum"
          :end-num="endNum"
          @updateBookmark="updateBookmark"
          @moreClick="moreClickEventHandler"
          @listClick="gotoClassListDetailView"></my-class-list-view>
</div>
