<section class="contents-right">
  <div class="classes-feed home" v-if="isPageLoaded">
    <h2 class="cnt-tit mgb-30">클래스 홈</h2>

    <div class="top-notify" v-if="this.noticeSchedule.length>0">
      <div class="accordion">
        <!-- accordion 1-->
        <div class="accordion-tit">
          <a href="javascript:void(0);" class="accordion-btn" :class="{'active':isNoticeChk}" @click.prevent="onNoticeMenuClick">
            <span class="icon"><img :src="require('@/assets/images/announcement-outline.svg')" class="icon-img" alt=""></span>
            <span class="mgr-10">공지</span>
            <span class="fc-gray">{{ getNoticeMainTitle() }}</span>
          </a>
        </div>

        <div class="accordion-cnt" id="accordion1"  :class="{'active':isNoticeChk}">
          <div class="fd-head notify-feed" v-for="(item, index) in noticeScheduleModel" :key="`noticeItem-${index}`">
            <h3 class="fd-tit">{{ item.title }}</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name" :class="{'manager': isOwner( item.owner.user_id, item.user_id) }">{{ item.owner.nickname }}</span>
                <span class="time">{{ item.updatedAt }}</span>
              </p>
            </div>
            <div class="fd-btn">
              <button type="button" class="btn only-ico-btn sm bookmark active"></button>
              <div class="list-popup">
                <v-menu
                        min-width="200px"
                        :close-on-click="true">
                  <template v-slot:activator="{ on, attrs }">
                    <button
                            v-if="isOwner( item.owner.user_id, item.user_id)"
                            type="button"
                            class="list-popup-btn"
                            v-bind="attrs"
                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                    </button>
                  </template>
                  <v-list>
                    <v-list-item @click="">
                      <v-list-item-title>알림 수정</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>공재 해제</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>알림 삭제</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>
          </div>

          <!--<div class="notify-feed">
            <h3 class="fd-tit">2019년 수학경시대회 안내사항</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name crown">김미영선생님</span>
                <span class="time">어제</span>
              </p>
            </div>
            <div class="fd-btn">
              <button type="button" class="btn only-ico-btn sm bookmark"></button>
              <div class="list-popup">
                <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt="">
                </button>
                <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                  <a href="" class="list-popup-item">list1</a>
                  <a href="" class="list-popup-item">list2</a>
                  <a href="" class="list-popup-item">list3</a>
                </div>
              </div>
            </div>
          </div>-->
        </div>
        <!-- //accordion 1-->
      </div>
    </div>
    <div class="no-notify" v-if="allDataModel.length===0">
      <div class="no-data">
        <img :src="require('@/assets/images/icn-80-class.svg')" alt="">
        <p>등록된 게시글이 없습니다.</p>
        <span>왼편의 메뉴를 통해서 첫 게시글을 작성해 보세요.</span>
      </div>

      <div class="noti-add">
        <a href="" class="classes-add-btn"></a>
      </div>
    </div>
    <template v-for="i in allDataModel.length" v-else>
      <template v-for="item in allDataModel[i-1]" >
        <div class="feed-item cal" v-if="item.name==='schedule'">
          <div class="fd-head">
            <h3 class="fd-tit">{{ item.list.title }}</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name" :class="{'manager':isOwner( item.list.owner.user_id, item.list.user_id)}">{{  item.list.owner.nickname }}</span>
                <span class="time">{{ item.list.updatedAt }}</span>
                <span class="noti">{{ item.list.type === 0 ? '일반' : '공지' }}</span>
              </p>
            </div>
            <div class="fd-btn">
              <div class="list-popup">

                <v-menu
                        min-width="200px"
                        :close-on-click="true">
                  <template v-slot:activator="{ on, attrs }">
                    <button v-if="isOwner( item.list.owner.user_id, item.list.user_id)"
                            type="button"
                            class="list-popup-btn"
                            v-bind="attrs"
                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                    </button>
                  </template>
                  <v-list>
                    <v-list-item @click="">
                      <v-list-item-title>일정 수정</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>공지로 등록</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>일정 보관</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>일정 삭제</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>

              </div>
            </div>
          </div>
          <div class="fd-cnt">
            <p class="fd-txt">{{ item.list.text }}</p>

            <div class="fd-inner">
              <ul class="schedule-list">
                <li><a href="">{{ item.list.startAt }} - {{ item.list.endAt }}</a></li>
              </ul>

              <!-- start: attach 에 이미지파일이 있는 경우 -->
              <template v-if="getImgFileDataSort(item.list.attachment).length>0">
                <ul class="img-list clearfix">
                  <li v-for="imgItem in getImgFileDataSort(item.list.attachment)"><a href=""><img :src="imgItem.location" alt=""></a></li>
                </ul>
              </template>
              <!-- end: attach 에 이미지파일이 있는 경우 -->

              <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
              <template v-if="getFileDataSort(item.list.attachment).length>0">
                <p class="fd-inner-txt">첨부 파일 {{ getFileDataSort(item.list.attachment).length }}</p>
                <ul class="file-list clearfix">
                  <li v-for="fileItem in getFileDataSort(item.list.attachment)"><a :href="fileItem.location">{{fileItem.originalname }}</a></li>
                </ul>
              </template>
            </div>
          </div>
        </div>

        <div class="feed-item edu" v-if="item.name==='curriculum'">
          <div class="fd-head">
            <h3 class="fd-tit">{{ item.list.title }}</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name" :class="{'manager':isOwner( item.list.owner.user_id, item.list.user_id)}">{{ item.list.owner.nickname }}</span>
                <span class="time">{{ item.list.updatedAt }}</span>
              </p>
            </div>
            <div class="fd-btn">
              <div class="list-popup">
                <v-menu  v-if="isOwner( item.list.owner.user_id, item.list.user_id)"
                        min-width="200px"
                        :close-on-click="true">
                  <template v-slot:activator="{ on, attrs }">
                    <button type="button"
                            class="list-popup-btn"
                            v-bind="attrs"
                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                    </button>
                  </template>
                  <v-list>
                    <v-list-item @click="">
                      <v-list-item-title>교육과정 수정</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>교육과정 삭제</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>
          </div>
          <div class="fd-cnt">
            <p class="fd-txt">{{ item.list.text }}</p>
            <p class="fd-txt">총 {{ item.list.course_list.length }}회의 수업이 있습니다.</p>
          </div>
        </div>

        <div class="feed-item noti" v-if="item.name==='post'">
          <div class="fd-head">
            <h3 class="fd-tit">{{ item.list.title }}</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name crown" :class="{'manager':isOwner( item.list.owner.user_id, item.list.user_id)}">{{ item.list.owner.nickname }}</span>
                <span class="time">{{ item.list.updatedAt }}</span>
              </p>
            </div>
            <div class="fd-btn">
              <div class="list-popup">
                <v-menu  v-if="isOwner( item.list.owner.user_id, item.list.user_id)"
                        min-width="200px"
                        :close-on-click="true">
                  <template v-slot:activator="{ on, attrs }">
                    <button type="button"
                            class="list-popup-btn"
                            v-bind="attrs"
                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                    </button>
                  </template>
                  <v-list>
                    <v-list-item @click="">
                      <v-list-item-title>알림 수정</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>공지로 등록/등록 해제</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>알림 삭제</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>
          </div>
          <div class="fd-cnt">
            <p class="fd-txt">{{ item.list.text }}</p>

            <div class="fd-inner">

              <!-- start: attach 에 이미지파일이 있는 경우 -->
              <template v-if="getImgFileLen(item.list.attachment)>0">
                <ul class="img-list clearfix">
                  <li class="img-item" v-for="( imgItem, imgIndex ) in getImgFileDataSort(item.list.attachment)"
                      :key="`img-${imgIndex}`" >
                    <a :href="imgItem.location"
                       :data-count="getImgFileMoreCheck(item.list.attachment)"
                       :class="{'pseudo-del': getImgTotalNum(item.list.attachment) }">
                      <img :src="imgItem.location" alt="">
                    </a>
                  </li>
                </ul>
              </template>
              <!-- end: attach 에 이미지파일이 있는 경우 -->

              <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
              <template v-if="getFileDataSort(item.list.attachment).length>0">
                <p class="fd-inner-txt">첨부 파일 {{ getFileDataSort(item.list.attachment).length }}</p>
                <ul class="file-list clearfix">
                  <li v-for="fileItem in getFileDataSort(item.list.attachment)"><a :href="fileItem.location">{{fileItem.originalname }}</a></li>
                </ul>
              </template>
              <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->

              <!-- start:  투표가 있는 경우 -->
              <template v-if="item.list.vote!==null">
                <p class="fd-inner-txt fc-red">{{ isVote(item.list.vote.finishAt)? '투표 중' : '투표마감'}}</p>
                <div class="vote-area">
                  <p class="vote-tit">{{ item.list.vote.title }}</p>
                  <ul class="vote-option clearfix">
                    <li>{{ (item.list.vote.multi_choice)? '복수선택' : '단일선택'}}</li>
                    <li>{{ (item.list.vote.anonymous_mode)? '익명투표' : '공개투표' }}</li>
                    <li>{{ (item.list.vote.finishAt)? item.list.vote.finishAt+' 마감': '종료일자없음'}} </li>
                  </ul>
                </div>
              </template>
              <!-- end:  투표가 있는 경우 -->

              <!-- grid guide
              <ul class="img-list clearfix">
                <li class="img-item" v-for="imgItem in item.list.attachment">
                  <a href="" data-count="+3"><img :src="imgItem.location" alt=""></a>
                </li>
              </ul>
              -->

            </div>
          </div>





          <!--<div class="fd-foot clearfix">
            <span class="fd-viewer">124명 읽음</span>
            <span class="fd-comment">댓글 12</span>
          </div>-->
        </div>
      </template>
    </template>

  </div>
</section>


