<section class="contents-right">
  <div class="classes-feed home" v-if="isPageLoaded">
    <h2 class="cnt-tit mgb-30">클래스 홈</h2>

    <div class="top-notify" v-if="this.noticePost.length>0">
      <div class="accordion">
        <!-- accordion 1-->
        <div class="accordion-tit">
          <a href="javascript:void(0);" class="accordion-btn" :class="{'active':isNoticeChk}" @click.prevent="onNoticeMenuClick">
            <span class="icon"><img :src="require('@/assets/images/announcement-outline.svg')" class="icon-img" alt=""></span>
            <span class="mgr-10">공지</span>
            <span class="fc-gray">{{ getNoticeMainTitle() }}</span>
          </a>
        </div>

        <div class="accordion-cnt" id="accordion1"  :class="{'active':isNoticeChk}">
          <div class="fd-head notify-feed" v-for="(item, index) in noticePost" :key="`noticeItem-${index}`">
            <h3 class="fd-tit">{{ item.title }}</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name" :class="{'manager': isOwner( item.owner.user_id, item.user_id) }">{{ item.owner.nickname }}</span>
                <span class="time">{{ item.updatedAt }}</span>
              </p>
            </div>
            <div class="fd-btn">
              <button type="button" class="btn only-ico-btn sm bookmark" :class="{'active': item.isBookmark }" @click="onKeepPostClick(item.id)"></button>
              <div class="list-popup">
                <v-menu
                        min-width="200px"
                        :close-on-click="true">
                  <template v-slot:activator="{ on, attrs }">
                    <button
                            v-if="isOwner( item.owner.user_id, item.user_id)"
                            type="button"
                            class="list-popup-btn"
                            v-bind="attrs"
                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                    </button>
                  </template>
                  <v-list>
                    <v-list-item @click="">
                      <v-list-item-title>알림 수정</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>공지 해제</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>알림 삭제</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>
          </div>

          <!--<div class="notify-feed">
            <h3 class="fd-tit">2019년 수학경시대회 안내사항</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name crown">김미영선생님</span>
                <span class="time">어제</span>
              </p>
            </div>
            <div class="fd-btn">
              <button type="button" class="btn only-ico-btn sm bookmark"></button>
              <div class="list-popup">
                <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt="">
                </button>
                <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                  <a href="" class="list-popup-item">list1</a>
                  <a href="" class="list-popup-item">list2</a>
                  <a href="" class="list-popup-item">list3</a>
                </div>
              </div>
            </div>
          </div>-->
        </div>
        <!-- //accordion 1-->
      </div>
    </div>
    <div class="no-notify" v-if="allDataModel.length===0">
      <div class="no-data">
        <img :src="require('@/assets/images/icn-80-class.svg')" alt="">
        <p>등록된 게시글이 없습니다.</p>
        <span>왼편의 메뉴를 통해서 첫 게시글을 작성해 보세요.</span>
      </div>

      <div class="noti-add">
        <a href="" class="classes-add-btn"></a>
      </div>
    </div>
    <template v-else>
      <template v-if="isMember">
        <template v-for="i in allDataModel.length">
          <template v-for="item in allDataModel[i-1]" >
            <!-- start: 일정 -->
            <div class="feed-item cal" v-if="item.name==='schedule'">
              <div class="fd-head">
                <h3 class="fd-tit">{{ item.list.title }}</h3>
                <div class="fd-writer type2">
                  <p class="writer">
                    <span class="name" :class="{'manager':isOwner( item.list.owner.user_id, item.list.user_id)}">{{  item.list.owner.nickname }}</span>
                    <span class="time">{{ item.list.updatedAt }}</span>
                    <span class="noti">{{ item.list.type === 0 ? '일반' : '공지' }}</span>
                  </p>
                </div>
                <!-- 스케쥴의 더보기 버튼 (  일정 수정/ 일정 보관/ 일정 삭제  )
                <div class="fd-btn">
                  <div class="list-popup">
                    <v-menu
                            min-width="200px"
                            :close-on-click="true">
                      <template v-slot:activator="{ on, attrs }">
                        <button v-if="isOwner( item.list.owner.user_id, item.list.user_id)"
                                type="button"
                                class="list-popup-btn"
                                v-bind="attrs"
                                v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                        </button>
                      </template>
                      <v-list>
                        <v-list-item @click="">
                          <v-list-item-title>일정 수정</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="">
                          <v-list-item-title>일정 보관</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="onDeleteByScheduleId( item.list.id )">
                          <v-list-item-title>일정 삭제</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>

                  </div>
                </div>
                -->
              </div>
              <div class="fd-cnt" @click.stop.capture="onScheduleClick( item.list.id )" style="cursor:pointer;">
                <p class="fd-txt">{{ item.list.text }}</p>

                <div class="fd-inner">
                  <ul class="schedule-list">
<!--                    <li><a href="">{{ item.list.startAt }} - {{ item.list.endAt }}</a></li>-->
                    <li><p>{{ item.list.startAt }} - {{ item.list.endAt }}</p></li>
                  </ul>

                  <!-- start: attach 에 이미지파일이 있는 경우 -->
                  <list-in-img-preview :file-items="item.list.attachment" location="location"></list-in-img-preview>
                  <!-- end: attach 에 이미지파일이 있는 경우 -->

                  <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
                  <list-in-file-preview :file-items="item.list.attachment" name="originalname" location="location"></list-in-file-preview>
                  <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->

                </div>
              </div>
            </div>
            <!-- end: 일정 -->

            <!-- start: 교육과정 -->
            <div class="feed-item edu" v-if="item.name==='curriculum'">
              <div class="fd-head">
                <h3 class="fd-tit">{{ item.list.title }}</h3>
                <div class="fd-writer type2">
                  <p class="writer">
                    <span class="name" :class="{'manager':isOwner( item.list.owner.user_id, item.list.user_id)}">{{ item.list.owner.nickname }}</span>
                    <span class="time">{{ item.list.updatedAt }}</span>
                  </p>
                </div>
                <div class="fd-btn">
                  <div class="list-popup">
                    <v-menu  v-if="isOwner( item.list.owner.user_id, item.list.user_id)"
                             min-width="200px"
                             :close-on-click="true">
                      <template v-slot:activator="{ on, attrs }">
                        <button type="button"
                                class="list-popup-btn"
                                v-bind="attrs"
                                v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                        </button>
                      </template>
                      <v-list>
                        <v-list-item @click="">
                          <v-list-item-title>교육과정 수정</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="">
                          <v-list-item-title>교육과정 삭제</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </div>
                </div>
              </div>
              <div class="fd-cnt" @click.capture="onCurriculumClick( item.list.id )" style="cursor: pointer;">
                <p class="fd-txt">{{ item.list.text }}</p>
                <p class="fd-txt">총 {{ item.list.course_list.length }}회의 수업이 있습니다.</p>
              </div>
            </div>
            <!-- end: 교육과정 -->

            <!-- start: 알림 -->
            <div class="feed-item noti" v-if="item.name==='post'">
              <div class="fd-head">
                <h3 class="fd-tit">{{ item.list.title }}</h3>
                <div class="fd-writer type2">
                  <p class="writer">
                    <span class="name crown" :class="{'manager':isOwner( item.list.owner.user_id, item.list.user_id)}">{{ item.list.owner.nickname }}</span>
                    <span class="time">{{ item.list.updatedAt }}</span>
                  </p>
                </div>
                <div class="fd-btn">
                  <div class="list-popup">
                    <v-menu  v-if="isOwner( item.list.owner.user_id, item.list.user_id)"
                             min-width="200px"
                             :close-on-click="true">
                      <template v-slot:activator="{ on, attrs }">
                        <button type="button"
                                class="list-popup-btn"
                                v-bind="attrs"
                                v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                        </button>
                      </template>
                      <v-list>
                        <v-list-item @click="">
                          <v-list-item-title>알림 수정</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="">
                          <v-list-item-title>공지로 등록/등록 해제</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="">
                          <v-list-item-title>알림 삭제</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </div>
                </div>
              </div>
              <div class="fd-cnt" @click.stop="onNotificationClick( item.list.id )" style="cursor:pointer">
                <p class="fd-txt">{{ item.list.text }}</p>

                <div class="fd-inner">

                  <a href="javascript:void(0);">
                    <!-- start: attach 에 이미지파일이 있는 경우 -->
                    <list-in-img-preview :file-items="item.list.attachment" location="location"></list-in-img-preview>
                    <!-- end: attach 에 이미지파일이 있는 경우 -->

                    <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
                    <list-in-file-preview :file-items="item.list.attachment" name="originalname" location="location"></list-in-file-preview>
                    <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->

                    <!-- start:  투표가 있는 경우 -->
                    <list-in-vote-preview
                            :file-items="item.list.vote"
                            title="title"
                            choice="multi_choice"
                            finish-at="finishAt"
                            mode="anonymous_mode"></list-in-vote-preview>
                    <!-- end:  투표가 있는 경우 -->

                    <!-- start: 링크가 있는 경우-->
                    <list-in-link-preview
                            :file-items="item.list.link"
                            title="title"
                            url="url" children="link_items"></list-in-link-preview>
                    <!-- end: 링크가 있는 경우 -->
                  </a>
                </div>
              </div>

              <!--<div class="fd-foot clearfix">
                <span class="fd-viewer">124명 읽음</span>
                <span class="fd-comment">댓글 12</span>
              </div>-->
            </div>
            <!-- end: 알림 -->

          </template>
        </template>
        <!--<div class="loader-container">
          <div class="hollow-dots-spinner">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>

        <button class="loader-checker" style="visibility: hidden;">loader checker</button>-->
        <scroll-observer :is-loader="loaderModel" @viewportIn="scrollObserver"></scroll-observer>

        <!-- start: 일정 상세 팝업 -->
        <schedule-detail-popup
                :is-open="isOpenDetailSch"
                @change="onDetailScheduleClose" @delete="onDeleteCheck" @editApplyTo="onEditSchedule"></schedule-detail-popup>
        <!-- end: 일정 상세 팝업 -->

        <!-- start: 커리큘럼 상세 팝업 -->
        <curriculum-detail-popup
                :is-open="isOpenDetailCurriculum"
                :curriculum-detail-item="curriculumDetailItem"
                @change="onDetailCurriculumPopupStatus"></curriculum-detail-popup>
        <!-- end: 커리큘럼 상세 팝업 -->

        <!-- start: 알림 상세 팝업 -->
        <notify-detail-popup
                :is-open="isOpenDetailNotification"
                @change="onDetailPostPopupStatus"></notify-detail-popup>
        <!-- end: 알림 상세 팝업 -->


      </template>
      <template  v-for="item in allDataModel" v-else>
        <!-- start: 알림 -->
        <div class="feed-item noti" >
          <div class="fd-head">
            <h3 class="fd-tit">{{ item.title }}</h3>
            <div class="fd-writer type2">
              <p class="writer">
                <span class="name crown" :class="{'manager':isOwner( item.owner.user_id, item.user_id)}">{{ item.owner.nickname }}</span>
                <span class="time">{{ item.updatedAt }}</span>
              </p>
            </div>
            <div class="fd-btn">
              <div class="list-popup">
                <v-menu  v-if="isOwner( item.owner.user_id, item.user_id)"
                         min-width="200px"
                         :close-on-click="true">
                  <template v-slot:activator="{ on, attrs }">
                    <button type="button"
                            class="list-popup-btn"
                            v-bind="attrs"
                            v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
                    </button>
                  </template>
                  <v-list>
                    <v-list-item @click="">
                      <v-list-item-title>알림 수정</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>공지로 등록/등록 해제</v-list-item-title>
                    </v-list-item>
                    <v-list-item @click="">
                      <v-list-item-title>알림 삭제</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </div>
            </div>
          </div>
          <div class="fd-cnt">
            <p class="fd-txt">{{ item.text }}</p>

            <div class="fd-inner">

              <!-- start: attach 에 이미지파일이 있는 경우 -->
              <list-in-img-preview :file-items="item.attachment" location="location"></list-in-img-preview>
              <!-- end: attach 에 이미지파일이 있는 경우 -->

              <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
              <list-in-file-preview :file-items="item.attachment" name="originalname" location="location"></list-in-file-preview>
              <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->

              <!-- start:  투표가 있는 경우 -->
              <list-in-vote-preview
                      :file-items="item.vote"
                      title="title"
                      choice="multi_choice"
                      finish-at="finishAt"
                      mode="anonymous_mode"></list-in-vote-preview>
              <!-- end:  투표가 있는 경우 -->

              <!-- start: 링크가 있는 경우-->
              <list-in-link-preview
                      :file-items="item.link"
                      title="title"
                      url="url" children="link_items"></list-in-link-preview>
              <!-- end: 링크가 있는 경우 -->

            </div>
          </div>

          <!--<div class="fd-foot clearfix">
            <span class="fd-viewer">124명 읽음</span>
            <span class="fd-comment">댓글 12</span>
          </div>-->
        </div>

        <!-- end: 알림 -->
      </template>
    </template>

    <confirm-popup
            :is-open="isConfirmPopupOpen"
            :title="updateConfirmTitle"
            :msg="updateConfirmDesc"
            @confirm="onConfirmClose"></confirm-popup>
    <notice-popup :is-open="isNoticePopupOpen"
                  :title="updateNoticeTitle"
                  :msg="updateNoticeDesc"
                  @change="onNoticePopupClose"></notice-popup>
  </div>
</section>


