<div class="contents join">
  <!-- start: join -->
  <div class="join">

    <div class="contents">
      <div class="contents-inner">
        <div class="all-form">
          <h2 class="main-tit">{{ pageTitle }}</h2>

          <div class="form-progress">
            <ul class="progress-list clearfix">
              <li v-for="idx in stepTotal" :key="idx" class="item" :class="{'active':currentStep===idx}"></li>
            </ul>
          </div>

          <transition name="slide-out" mode="out-in">
            <router-view @updateStep="updateCount"></router-view>
          </transition>
        </div>
      </div>
    </div>
  </div>
  <!-- //end : join -->
</div>


