<div>
  <!-- start: 공통 팝업 / 파일명 : W.4.5.3.3.4.2 (일정 만들기) (4.5.3.3.1 ~ 4.5.3.3.4.2) isPopup=false;loopRangeCheck = false-->
  <transition name="modal">
    <modal v-if="isOpen && scheduleDetailModel" size="600px" body-padding="0" @modalClose="popupClose">
      <div slot="header">
        <!-- header custom coding-->
        <p class="popup-header-tit">일정 수정하기</p>
        <div class="popup-close" @click.prevent="popupClose">
          <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
        </div>
      </div>
      <div slot="body">
        <!-- body custom coding-->
        <div class="popup-form">
          <div class="scroll-body" style="height:50vh">
            <div class="popup-form-top">
              <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                <p>
                  <span class="icon"><img :src="getProfileImg(myClassHomeModel.image_url)" class="icon-img" alt=""></span>
                  <span class="gr-name">{{ myClassHomeModel.g_name }}</span>
                  <strong class="cls-name">{{ myClassHomeModel.name }}</strong>
                </p>
              </div>
              <div class="form-item">
                <!--              <input type="text" class="form-control popup-type" placeholder="제목을 20자 이내로 작성해 주세요.">-->
                <txt-field add-class="popup-type" placeholder="제목을 20자 이내로 작성해 주세요." v-model="scheduleDataModel.title" @input="addScheduleTitleChange"></txt-field>
              </div>
            </div>
            <div class="popup-form-cnt">
              <div class="form-item">
                <p>하루종일</p>
                <div class="form-box">
                  <div class="form-switcher">
                    <input type="checkbox" id="toggle1" v-model="scheduleDataModel.fullday"  @input="fulldayCheckChange(  $event.target.value )">
                    <label for="toggle1"></label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <p>시작일시</p>

                <div class="form-box">
                  <div class="form-group date" style="float:left;">
                    <!--
                 <v-menu
                           top  //absolute 위치로 상단 정렬
                           nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                           nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                           origin="center center"  // transform-origin
                           v-model="timeMenu"  // value 값으로 노출
                           :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                           :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                           transition="scale-transition" // 스케일 모션
                           content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                           offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                 -->
                    <v-menu
                            v-model="startDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                        <v-text-field
                                v-model="startDatePickerModel"
                                v-bind="attrs"
                                v-on="on"
                                hide-details
                                solo
                                flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  상세 텍스트 제거 -->
                      <v-date-picker v-model="startDatePickerModel" no-title @input="startDatePickerChange"></v-date-picker>
                    </v-menu>
                  </div>

                  <div class="form-group time" style="float:left;margin-left:0;">
                    <v-menu
                            nudge-left="30px"
                            origin="center top"
                            v-model="startTimeMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            content-class="time-select-menu bg-white"
                            offset-y>
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                                v-model="currentStartTimeModel"
                                v-bind="attrs"
                                v-on="on"
                                hide-details solo flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-time" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                      <v-select v-model="startTimeSelectModel.apm" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;" @input="addStartApmSchedule">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}</span>
                        </template>
                      </v-select>
                      <v-select v-model="startTimeSelectModel.hour" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;" @input="addStartApmSchedule">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}시</span>
                        </template>
                      </v-select>
                      <v-select v-model="startTimeSelectModel.minute" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px"  @input="addStartApmSchedule">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}분</span>
                        </template>
                      </v-select>
                    </v-menu>
                  </div>

                </div>

              </div>

              <div class="form-item">
                <p>종료일시</p>
                <div class="form-box">
                  <div class="form-group date" style="float:left;">
                    <!--
                 <v-menu
                           top  //absolute 위치로 상단 정렬
                           nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                           nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                           origin="center center"  // transform-origin
                           v-model="timeMenu"  // value 값으로 노출
                           :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                           :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                           transition="scale-transition" // 스케일 모션
                           content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                           offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                 -->
                    <v-menu
                            v-model="endDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                        <v-text-field
                                v-model="endDatePickerModel"
                                v-bind="attrs"
                                v-on="on" hide-details solo flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  상세 텍스트 제거 -->
                      <v-date-picker v-model="endDatePickerModel" no-title @input="endDateMenu = false"></v-date-picker>
                    </v-menu>
                  </div>

                  <div class="form-group time" style="float:left;margin-left:0;">
                    <v-menu
                            nudge-left="30px"
                            origin="center top"
                            v-model="endTimeMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            content-class="time-select-menu bg-white"
                            offset-y>
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                                v-model="currentEndTimeModel"
                                v-bind="attrs"
                                v-on="on"
                                hide-details solo flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-time" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                      <v-select v-model="endTimeSelectModel.apm" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}</span>
                        </template>
                      </v-select>
                      <v-select v-model="endTimeSelectModel.hour" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}시</span>
                        </template>
                      </v-select>
                      <v-select v-model="endTimeSelectModel.minute" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}분</span>
                        </template>
                      </v-select>
                    </v-menu>
                  </div>

                </div>
              </div>
              <div class="form-item">
                <p>반복</p>

                <div class="form-box">

                  <div class="list-popup">

                    <!--<div class="list-popup-menu pos-right" style="transform:translate3d(87px, 0, 0)">
                      <a href="" class="list-popup-item">반복 없음</a>
                      <a href="" class="list-popup-item">매일</a>
                      <a href="" class="list-popup-item">매주</a>
                      <a href="" class="list-popup-item">매월</a>
                      <a href="" class="list-popup-item">매년</a>
                    </div>-->
                    <v-menu
                            nudge-left="30px"
                            origin="center top"
                            v-model="loopRangeCheck"
                            transition="scale-transition"
                            content-class="time-select-menu bg-white"
                            offset-y
                            offset-x
                            min-width="180px">
                      <template v-slot:activator="{ on, attrs }">
                        <button type="button" class="list-popup-btn"
                                v-model="loopRangeModel"
                                v-bind="attrs"
                                v-on="on">
                          <span>{{ loopRangeModel }}</span><img :src="require('@/assets/images/arrow-right.svg')" class="sm" alt="">
                        </button>
                      </template>
                      <v-list>
                        <v-list-item
                                v-for="(item, index) in currentLoopRangeItems"
                                :key="index"
                                @click="loopRangeModel=item.txt">
                          <v-list-item-title>{{ item.txt }}</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </div>

                </div>

              </div>
              <div class="form-item">
                <p>반복 횟수</p>
                <div class="form-box">
                  <div class="form-group">
                    <!--                  <input type="number" class="form-control" value="10">-->
                    <txt-field input-type="number" v-model="scheduleDataModel.repeat_count" @change="loopRangeCountClickHandler"></txt-field>
                  </div>
                </div>
              </div>
              <div class="form-item post-cnt" style="max-height:300px;height:auto;overflow-y:auto;overflow-x:hidden;margin:0;">

                <!-- start: 일정 상세 내용 입력창 -->
                <textarea
                        style="padding: 0 40px;"
                        ref="scheduleDetailAreaTxt"
                        v-model="scheduleDataModel.body"
                        class="form-textarea auto-resize"
                        placeholder="일정 내용을 작성해 주세요."
                        @input="scheduleDetailAreaInputHandler( $event.target.value )"></textarea>
                <!-- end: 일정 상세 내용 입력창 -->
              </div>
            </div>
            <div class="popup-form-btm">
              <!--start: 첨부 이미지 파일 미리보기-->
              <!--<image-preview :file-items="imgFileURLItemsModel"
                             @remove="removeImgPreviewItems"
                             @loaded="imageLoadedCheck"
                             @removeAll="removeAllPreview"></image-preview>-->

              <image-preview :file-items="imgFileURLItemsModel"
                             @remove="onRemoveImgPreviewItems"
                             @removeAll="onRemoveAllPreview"></image-preview>
              <!-- end: 첨부 이미지 파일 미리보기 -->

              <!-- start: 첨부 파일 리스트 -->
              <file-preview :file-items="attachFileItemsModel"
                            @removeFile="removeAttachFileItem"
                            name="name"
                            @removeAttachFileAll="removeAllAttachFile"></file-preview>
              <!-- end: 첨부 파일 리스트 -->
            </div>
          </div>

          <div class="form-add-btn">
            <ul class="clearfix">
              <li>
                <a href="#" class="info-img" @click.prevent="addImgFileInputFocus">
                  <img :src="require('@/assets/images/image.svg')" alt="">
                  <input class="input-file" type="file" name="files" id="imgFileInput" accept="image/*" multiple @change="addFileToImage( $event.target.files )" hidden />
                </a>

              </li>
              <li>
                <a href="#" @click.prevent="addFilesInputFocus">
                  <img :src="require('@/assets/images/file.svg')" alt="">
                  <input class="input-file" type="file" name="files" id="attachFileInput" accept=".pdf, .xls, .xlsx, .ppt, .pptx, .doc, .docx" multiple @change="addAttachFileTo( $event.target.files )" hidden />
                </a>
              </li>
            </ul>

          </div>

        </div>
      </div>
      <div slot="footer">
        <!-- footer custom coding-->
        <div class="btn-group rt pdt-30 pdb-30">
          <button type="button" class="btn primary navi"  @click="onEditSubmitSchedule">수정하기</button>
        </div>
      </div>
    </modal>
  </transition>
  <!-- end: 공통 팝업 -->
</div>
