<section class="contents-right" style="position:relative">
  <div class="cnt-top">
    <h2 class="cnt-tit">일정</h2>
    <div class="pos-right">
      <v-btn fab text small color="grey darken-2">
        <v-icon>mdi-cog-outline</v-icon>
      </v-btn>
    </div>
  </div>
  <!-- start: 상단 컨트롤러 -->
  <v-sheet height="64">
    <v-toolbar flat color="white">
      <v-btn fab text x-small outlined color="grey darken-2" @click="prev">
        <v-icon small>mdi-chevron-left</v-icon>
      </v-btn>
      <v-btn class="ml-2" fab text x-small outlined color="grey darken-2" @click="next">
        <v-icon small>mdi-chevron-right</v-icon>
      </v-btn>
      <v-toolbar-title v-if="$refs.calendar" class="ml-4 ft-bold">{{ $refs.calendar.title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn rounded depressed class="mr-4" @click="setToday">오늘</v-btn>
      <v-menu bottom right>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
                  rounded
                  outlined
                  v-bind="attrs"
                  v-on="on"
                  min-width="100px">
            <span>{{ typeToLabel[type] }}</span>
            <v-icon right>mdi-menu-down</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="type = 'day'">
            <v-list-item-title>일간</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = 'week'">
            <v-list-item-title>주</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = 'month'">
            <v-list-item-title>월간</v-list-item-title>
          </v-list-item>
          <v-list-item @click="type = '4day'">
            <v-list-item-title>4 days</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>
  </v-sheet>
  <!-- end: 상단 컨트롤러 -->

  <!-- start: 캘린더 -->
  <v-sheet height="674">
    <!--
           @click:more="viewDay"
            @click:date="viewDay"
            @click:event="showEvent"
            @click:more="viewMoreDay"
            @mousedown:event="startDrag"
            @mousedown:time="startTime"
            @mousemove:time="mouseMove"
            @mouseup:time="endDrag"
            @mouseleave.native="cancelDrag"
            -->
    <v-calendar
            ref="calendar"
            v-model="calendarModel"
            color="primary"
            :events="scheduleEvents"
            :event-color="getEventColor"
            :type="type"
            :weekdays="weekdays"
            :weekday-format="getDay"
            :day-format="(timestamp) => new Date(timestamp.date).getDate()"
            :month-format="(timestamp)=> (new Date(timestamp.date).getMonth()+1)+'월' "
            @change="updateRange"
            @click:event="showEvent"
    >
      <template v-slot:event="{ event, timed, eventSummary }">
        <div class="v-event-draggable" v-html="eventSummary()"></div>
        <div v-if="timed" class="v-event-drag-bottom" @mousedown.stop="extendBottom(event)"></div>
      </template>
    </v-calendar>

    <!-- start: 상세내역 팝업 -->
    <!--<v-menu
            v-model="selectedOpen"
            :close-on-content-click="false"
            :activator="selectedElement"
            offset-x>
      <v-card color="grey lighten-4" min-width="350px" flat>
        <v-toolbar :color="selectedEvent.color" dark>
          <v-btn icon><v-icon>mdi-pencil</v-icon></v-btn>
          <v-toolbar-title v-html="selectedEvent.name"></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon><v-icon>mdi-heart</v-icon></v-btn>
          <v-btn icon><v-icon>mdi-dots-vertical</v-icon></v-btn>
        </v-toolbar>
        <v-card-text><span v-html="selectedEvent.details"></span></v-card-text>
        <v-card-actions>
          <v-btn text color="secondary" @click="selectedOpen = false">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-menu>-->
    <!-- end: 상세내역 팝업 -->

  </v-sheet>
  <!-- end: 캘린더 -->

  <div class="add-schedule">
    <a href="" class="add-schedule-btn" @click.stop.prevent="addScheduleOpen"></a>
  </div>

  <!-- start: 공통 팝업 / 파일명 : W.4.5.3.3.4.2 (일정 만들기) (4.5.3.3.1 ~ 4.5.3.3.4.2) isPopup=false;loopRangeCheck = false-->
  <transition name="modal">
    <modal v-if="isPopup" size="600px" body-padding="0" @modalClose="onAddSchedulePopupCloseHandler">
      <div slot="header">
        <!-- header custom coding-->
        <p class="popup-header-tit">새 일정 등록</p>
        <div class="popup-close" @click="onAddSchedulePopupCloseHandler">
          <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
        </div>
      </div>
      <div slot="body">
        <!-- body custom coding-->
        <div class="popup-form">
          <div class="scroll-body" style="height:70vh">
            <div class="popup-form-top">
              <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                <p>
                  <span class="icon"><img :src="getProfileImg(myClassHomeModel.image_url)" class="icon-img" alt=""></span>
                  <span class="gr-name">{{ myClassHomeModel.g_name }}</span>
                  <strong class="cls-name">{{ myClassHomeModel.name }}</strong>
                </p>
              </div>
              <div class="form-item">
                <!--              <input type="text" class="form-control popup-type" placeholder="제목을 20자 이내로 작성해 주세요.">-->
                <txt-field add-class="popup-type" placeholder="제목을 20자 이내로 작성해 주세요." v-model="scheduleData.title" @input="addScheduleTitleChange"></txt-field>
              </div>
            </div>
            <div class="popup-form-cnt">
              <div class="form-item">
                <p>하루종일</p>
                <div class="form-box">
                  <div class="form-switcher">
                    <input type="checkbox" id="toggle1" v-model="scheduleData.fullday"  @input="fulldayCheckChange(  $event.target.value )">
                    <label for="toggle1"></label>
                  </div>
                </div>
              </div>
              <div class="form-item">
                <p>시작일시</p>

                <div class="form-box">
                  <div class="form-group date" style="float:left;">
                    <!--
                 <v-menu
                           top  //absolute 위치로 상단 정렬
                           nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                           nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                           origin="center center"  // transform-origin
                           v-model="timeMenu"  // value 값으로 노출
                           :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                           :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                           transition="scale-transition" // 스케일 모션
                           content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                           offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                 -->
                    <v-menu
                            v-model="startDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                        <v-text-field
                                v-model="startDatePickerModel"
                                v-bind="attrs"
                                v-on="on"
                                hide-details
                                solo
                                flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  상세 텍스트 제거 -->
                      <v-date-picker v-model="startDatePickerModel" no-title @input="startDatePickerChange"></v-date-picker>
                    </v-menu>
                  </div>

                  <div class="form-group time" style="float:left;margin-left:0;">
                    <v-menu
                            nudge-left="30px"
                            origin="center top"
                            v-model="startTimeMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            content-class="time-select-menu bg-white"
                            offset-y>
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                                v-model="currentStartTimeModel"
                                v-bind="attrs"
                                v-on="on"
                                hide-details solo flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-time" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                      <v-select v-model="startTimeSelectModel.apm" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;" @input="addStartApmSchedule">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}</span>
                        </template>
                      </v-select>
                      <v-select v-model="startTimeSelectModel.hour" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;" @input="addStartApmSchedule">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}시</span>
                        </template>
                      </v-select>
                      <v-select v-model="startTimeSelectModel.minute" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px"  @input="addStartApmSchedule">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}분</span>
                        </template>
                      </v-select>
                    </v-menu>
                  </div>

                </div>

              </div>

              <div class="form-item">
                <p>종료일시</p>
                <div class="form-box">
                  <div class="form-group date" style="float:left;">
                    <!--
                 <v-menu
                           top  //absolute 위치로 상단 정렬
                           nudge-bottom="40px" // 하단을 기준으로 추가 px 조절
                           nudge-left="30px" // 좌측을 기준으로 추가 px 조절 수치가 클수록 왼쪽으로 배치된다.
                           origin="center center"  // transform-origin
                           v-model="timeMenu"  // value 값으로 노출
                           :close-on-content-click // 값이 true -> 메뉴의 컨텐츠를 클릭하면 메뉴를 닫음
                           :close-on-click  //값이 true -> 활성자의 바깥을 클릭하면 메뉴를 닫음
                           transition="scale-transition" // 스케일 모션
                           content-class="time-select-menu bg-white" // 해당 메뉴에 추가 클래스
                           offset-y   // 메뉴 버튼을 중심으로 y 값으로 정렬 배치
                 -->
                    <v-menu
                            v-model="endDateMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto">
                      <template v-slot:activator="{ on, attrs }">
                        <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                        <v-text-field
                                v-model="endDatePickerModel"
                                v-bind="attrs"
                                v-on="on" hide-details solo flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-calendar" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- no-title //상단에 타이틀 성격의 날짜 없앰  hide-details  상세 텍스트 제거 -->
                      <v-date-picker v-model="endDatePickerModel" no-title @input="endDateMenu = false"></v-date-picker>
                    </v-menu>
                  </div>

                  <div class="form-group time" style="float:left;margin-left:0;">
                    <v-menu
                            nudge-left="30px"
                            origin="center top"
                            v-model="endTimeMenu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            content-class="time-select-menu bg-white"
                            offset-y>
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                                v-model="currentEndTimeModel"
                                v-bind="attrs"
                                v-on="on"
                                hide-details solo flat>
                          <template v-slot:append>
                            <button type="button" class="btn form-btn form-time" v-on="on"></button>
                          </template>
                        </v-text-field>
                      </template>
                      <!-- hide-details //디테일 텍스트 없앰  solo // 단독 표시  flat  //평평한 박스 및 쉐도우 없앰   -->
                      <v-select v-model="endTimeSelectModel.apm" :items="['오전', '오후'] " placeholder="오전" hide-details solo flat style="display:inline-block;width:70px;">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}</span>
                        </template>
                      </v-select>
                      <v-select v-model="endTimeSelectModel.hour" :items="[ '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] " placeholder="12 시" hide-details solo flat style="display:inline-block;width:70px;">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}시</span>
                        </template>
                      </v-select>
                      <v-select v-model="endTimeSelectModel.minute" :items="[ '5', '10','15', '20','25', '30','35', '40', '45', '50', '55', '00'] " placeholder="00 분" hide-details solo flat style="display:inline-block;width:70px">
                        <template v-slot:selection="{item, index}">
                          <span style="font-size:14px;">{{ item }}분</span>
                        </template>
                      </v-select>
                    </v-menu>
                  </div>

                </div>
              </div>
              <div class="form-item">
                <p>반복</p>

                <div class="form-box">

                  <div class="list-popup">

                    <!--<div class="list-popup-menu pos-right" style="transform:translate3d(87px, 0, 0)">
                      <a href="" class="list-popup-item">반복 없음</a>
                      <a href="" class="list-popup-item">매일</a>
                      <a href="" class="list-popup-item">매주</a>
                      <a href="" class="list-popup-item">매월</a>
                      <a href="" class="list-popup-item">매년</a>
                    </div>-->
                    <v-menu
                            nudge-left="30px"
                            origin="center top"
                            v-model="loopRangeCheck"
                            transition="scale-transition"
                            content-class="time-select-menu bg-white"
                            offset-y
                            offset-x
                            min-width="180px">
                      <template v-slot:activator="{ on, attrs }">
                        <button type="button" class="list-popup-btn"
                                v-model="loopRangeModel"
                                v-bind="attrs"
                                v-on="on">
                          <span>{{ loopRangeModel }}</span><img :src="require('@/assets/images/arrow-right.svg')" class="sm" alt="">
                        </button>
                      </template>
                      <v-list>
                        <v-list-item
                                v-for="(item, index) in currentLoopRangeItems"
                                :key="index"
                                @click="loopRangeModel=item">
                          <v-list-item-title>{{ item }}</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </div>

                </div>

              </div>
              <div class="form-item">
                <p>반복 횟수</p>
                <div class="form-box">
                  <div class="form-group">
                    <!--                  <input type="number" class="form-control" value="10">-->
                    <txt-field input-type="number" v-model="loopRangeCount" @input="loopRangeCountClickHandler"></txt-field>
                  </div>
                </div>
              </div>
              <div class="form-item post-cnt" style="max-height:300px;height:auto;overflow-y:auto;overflow-x:hidden;margin:0;">

                <!-- start: 일정 상세 내용 입력창 -->
                <textarea
                        style="margin: 0 40px;"
                        ref="scheduleDetailAreaTxt"
                        v-model="scheduleData.body"
                        class="form-textarea auto-resize"
                        placeholder="일정 내용을 작성해 주세요."
                        @input="scheduleDetailAreaInputHandler( $event.target.value )"></textarea>
                <!-- end: 일정 상세 내용 입력창 -->
              </div>
            </div>
            <div class="popup-form-btm">
              <!-- start: 첨부 이미지 파일 미리보기 -->
              <image-preview :file-items="imgFileURLItemsModel"
                             @remove="removeImgPreviewItems"
                             @loaded="imageLoadedCheck"
                             @removeAll="removeAllPreview"></image-preview>
              <!-- end: 첨부 이미지 파일 미리보기 -->

              <!-- start: 첨부 파일 리스트 -->
              <file-preview :file-items="attachFileItems"
                            name="name"
                            @removeFile="removeAttachFileItem"
                            @removeAttachFileAll="removeAllAttachFile"></file-preview>
              <!-- end: 첨부 파일 리스트 -->
            </div>
          </div>

          <div class="form-add-btn">
            <ul class="clearfix">
              <li>
                <a href="#" class="info-img" @click.prevent="addImgFileInputFocus">
                  <img :src="require('@/assets/images/image.svg')" alt="">
                  <input class="input-file" type="file" name="files" id="imgFileInput" accept="image/*" multiple @change="addFileToImage( $event.target.files )" hidden />
                </a>

              </li>
              <li>
                <a href="#" @click.prevent="addFilesInputFocus">
                  <img :src="require('@/assets/images/file.svg')" alt="">
                  <input class="input-file" type="file" name="files" id="attachFileInput" accept=".pdf, .xls, .xlsx, .ppt, .pptx, .doc, .docx" multiple @change="addAttachFileTo( $event.target.files )" hidden />
                </a>
              </li>
            </ul>

          </div>

        </div>
      </div>
      <div slot="footer">
        <!-- footer custom coding-->
        <div class="btn-group rt pdt-30 pdb-30">
          <button type="button" class="btn primary navi"  @click="submitAddSchedule">등록</button>
        </div>
      </div>
    </modal>
  </transition>
  <!-- end: 공통 팝업 -->

  <!-- start: 공통 팝업 / 파일명 : W.4.5.3.4 (일정 상세) -->
  <transition name="modal">
    <modal v-if="selectedOpen" size="600px" body-padding="0" footerPadding="0" @modalClose="selectedOpen=false">
      <div slot="header">
        <!-- header custom coding-->
        <p class="popup-header-tit">{{ selectedEvent.name }}</p>

        <div class="popup-btn">
          <button type="button" class="btn only-ico-btn sm bookmark active"></button>

          <v-menu bottom nudge-right="" min-width="200px" offset-x>
            <template v-slot:activator="{ on, attrs }">
              <button type="button"
                      class="list-popup-btn ml-4"
                      v-bind="attrs"
                      v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
              </button>
              <!--<v-btn
                      rounded
                      outlined
                      v-bind="attrs"
                      v-on="on"
                      min-width="100px">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>-->
            </template>
            <v-list>
              <v-list-item @click="">
                <v-list-item-title>일정 수정</v-list-item-title>
              </v-list-item>
              <v-list-item @click="">
                <v-list-item-title>일정 보관</v-list-item-title>
              </v-list-item>
              <v-list-item @click="">
                <v-list-item-title>일정 삭제</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <!--<div class="list-popup mgl-20">
            <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt="">
            </button>
            <div class="list-popup-menu pos-right active" style="transform:translate3d(42px, 0,0);">
              <a href="" class="list-popup-item">일정 수정</a>
              <a href="" class="list-popup-item">일정 보관</a>
              <a href="" class="list-popup-item">일정 삭제</a>
            </div>
          </div>-->
        </div>
      </div>
      <div slot="body">
        <!-- body custom coding-->
        <div class="scroll-body" style="height:70vh;">
          <div class="popup-form">
            <div class="popup-form-top">
              <div class="form-item pd-desc">
                <ul class="feed-state clearfix">
                  <li class="state-item"><p class="period">{{ getFullDay( selectedEvent.start) }} - {{ getFullDay( selectedEvent.end ) }}</p></li>
                  <li class="state-item"><p class="repeat">{{ selectedEvent.repeat }}</p></li>
                </ul>
              </div>

              <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                <p>
                  <span class="icon"><img :src="getProfileImg(myClassHomeModel.image_url)" class="icon-img" alt=""></span>
                  <span class="gr-name">{{ myClassHomeModel.g_name }}</span>
                  <strong class="cls-name">{{ myClassHomeModel.name }}</strong>
                </p>

                <p class="post-writer" :class="{ 'crown':myClassHomeModel.me.level ===1}">{{ myClassHomeModel.me.nickname }}</p>
              </div>
            </div>
          </div>

          <div class="popup-feed-detail pdb-40">
            <div class="fd-cnt">
              <p class="fd-txt">
                {{ selectedEvent.details }}
              </p>

              <div class="fd-inner">
                <ul class="img-list clearfix">
                  <li><a href=""><img :src="require('@/assets/images/pic.png')" alt=""></a></li>
                  <li><a href=""><img :src="require('@/assets/images/pic2.png')" alt=""></a></li>
                  <li><a href=""><img :src="require('@/assets/images/pic3.png')" alt=""></a></li>
                </ul>
              </div>

              <div class="fd-inner">
                <p class="fd-inner-txt">첨부 파일 3</p>

                <ul class="file-list clearfix">
                  <li><a href="">6학년 2학기 수학 II 3단원 .pdf</a></li>
                  <li><a href="">수학 II 3단원 정리 .hwp</a></li>
                  <li><a href="">수학 I 개념 정리.pdf</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="popup-feed-comment">
            <div class="comment-top">
              <p>댓글 {{ commentItemsModel.length }}</p>
            </div>
            <div class="comment-cnt">
              <div v-for="(item, idx ) in commentItemsModel" class="comment pdt-0" :key="`comment-${idx}`">
                <div class="main-comment">
                  <p class="comment-writer">{{ item.owner.nickname }} <span class="wr-time">{{ updatedDiffDate(item.createdAt) }}</span></p>
                  <p class="comment-txt">{{ item.comment }}</p>

                  <div class="reply-state">
                    <a href="" class="txt-btn" @click.prevent>답글 {{ replyItemsModel[idx]!==undefined ? replyItemsModel[idx].comment_list.length : 0 }}</a>
                    <a href="" class="txt-btn" @click.prevent="replyInputToggle(idx)">답글달기</a>
                  </div>
                </div>

                <template v-if="replyItemsModel[idx]!==undefined">
                  <div v-for="( replyItem, jdx) in replyItemsModel[idx].comment_list" class="reply" :key="`reply-${jdx}`">
                    <p class="comment-writer">{{ replyItem.owner.nickname }} <span class="wr-time">{{ updatedDiffDate(replyItem.createdAt) }}</span></p>
                    <p class="comment-txt">{{ replyItem.comment }}</p>
                  </div>
                </template>

                <div class="comment-btm reply hide">
                  <input v-model="reply" type="text" class="form-control popup-type sm" placeholder="댓글을 작성해 주세요." style="width:466px;">
                  <a href="" class="txt-btn disabled" @click.prevent="addReply(item.id)">등록</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div slot="footer">
          <div class="comment-btm">
            <button type="button" class="btn only-ico-btn"><img :src="require('@/assets/images/image.svg')" alt=""></button>
            <input v-model="comment" type="text" class="form-control popup-type sm" placeholder="댓글을 작성해 주세요." style="width:466px;">
            <a href="" class="txt-btn disabled" @click.prevent="addComment">등록</a>
          </div>
        </div>
    </modal>
  </transition>
  <!-- end: 공통 팝업 -->
</section>
