<div>
  <transition name="modal">
    <modal v-if="isOpen && scheduleDetailModel" size="600px" body-padding="0" footerPadding="0"
           @modalClose="popupClose">
      <div slot="header">
        <!-- header custom coding-->
        <p class="popup-header-tit">{{ scheduleDetailModel.title }}</p>

        <div class="popup-btn" v-if="isEditAuth(  scheduleDetailModel.owner.user_id )">
          <button type="button" class="btn only-ico-btn sm bookmark active"></button>

          <v-menu bottom nudge-right="" min-width="200px" offset-x>
            <template v-slot:activator="{ on, attrs }">
              <button type="button"
                      class="list-popup-btn ml-4"
                      v-bind="attrs"
                      v-on="on"><img :src="require('@/assets/images/more.svg')" alt="">
              </button>
              <!--<v-btn
                      rounded
                      outlined
                      v-bind="attrs"
                      v-on="on"
                      min-width="100px">
                <span>{{ typeToLabel[type] }}</span>
                <v-icon right>mdi-menu-down</v-icon>
              </v-btn>-->
            </template>
            <v-list>
              <v-list-item @click="onEditSchedule">
                <v-list-item-title>일정 수정</v-list-item-title>
              </v-list-item>
              <v-list-item @click="onKeepSchedule">
                <v-list-item-title>일정 보관</v-list-item-title>
              </v-list-item>
              <v-list-item @click="onDeleteByScheduleId( scheduleDetailModel.id )">
                <v-list-item-title>일정 삭제</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

        </div>
      </div>
      <div slot="body">
        <!-- body custom coding-->
        <div class="scroll-body" style="height:70vh;">
          <div class="popup-form">
            <div class="popup-form-top">
              <div class="form-item pd-desc">
                <ul class="feed-state clearfix">
                  <li class="state-item"><p class="period">{{ getFullDay(scheduleDetailModel.startAt) }} -
                                                           {{ getFullDay(scheduleDetailModel.endAt) }}</p></li>
                  <li class="state-item"><p class="repeat">{{ scheduleDetailModel.count }}</p></li>
                </ul>
              </div>

              <div class="form-item post-classes selected"> <!-- class 선택 시 form-item에 selected 추가됨 -->
                <p>
                  <span class="icon"><img :src="getProfileImg(myClassHomeModel.image_url)" class="icon-img" alt=""></span>
                  <span class="gr-name">{{ myClassHomeModel.g_name }}</span>
                  <strong class="cls-name">{{ myClassHomeModel.name }}</strong>
                </p>

                <p class="post-writer" :class="{ 'manager':myClassHomeModel.me.level ===1}">{{ myClassHomeModel.me.nickname }}</p>
              </div>
            </div>
          </div>

          <div class="popup-feed-detail pdb-40">
            <div class="fd-cnt">
              <p class="fd-txt word-bk">
                {{ scheduleDetailModel.text }}
              </p>

              <a href="" @click.prevent="openPhotoViewer">
                <!-- start: attach 에 이미지파일이 있는 경우 -->
                <list-in-img-preview
                        add-class="w254"
                        :file-items="imgPreviewInit( scheduleDetailModel.attachment )"
                        location="location"></list-in-img-preview>
                <!-- end: attach 에 이미지파일이 있는 경우 -->
              </a>

              <!-- start: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
              <list-in-file-preview :file-items="attachFilePreviewInit( scheduleDetailModel.attachment )" name="originalname" location="location"></list-in-file-preview>
              <!-- end: attach 에 이미지 말고 다른 확장자를 가진 파일 즉 첨부파일인 경우 -->
            </div>
          </div>

          <!-- start: 댓글 -->
          <comment-area :parent-item="scheduleDetailModel"
                        :member-id="myClassHomeModel.me.id"></comment-area>
          <!-- end: 댓글 -->

        </div>
      </div>
      <div slot="footer">
        <comment-btm :parent-item="scheduleDetailModel"
                     :member-id="myClassHomeModel.me.id"></comment-btm>
      </div>
    </modal>
  </transition>

  <photo-viewer v-if="isPhotoViewer" :is-photo-viewer="isPhotoViewer" :img-data="imgPreviewInit(scheduleDetailModel.attachment)" @change="onPhotoViewerStatus"></photo-viewer>

  <edit-schedule :is-open="isEditPopupOpen" @change="onEditClose" @editComplete="onEditComplete"></edit-schedule>

  <confirm-popup
          :is-open="isConfirmPopupOpen"
          title="일정 삭제 확인"
          msg="선택하신 일정을 정말 삭제하시겠습니까?" @confirm="onDeleteConfirm"></confirm-popup>
  <notice-popup :is-open="isNoticePopupOpen" title="일정 삭제" msg="요청하신 일정을 삭제 하였습니다." @change="onDeleteNoticePopupClose"></notice-popup>
</div>
