<div class="my-terms">
    <p class="section-tit pdl-20 pdb-10">제목</p>
    <div class="accordion-container">
        <ul class="accordion panel-group">
            <!--start :panel -->
            <li v-for="(item, idx) in termsList" class="panel">
                <!-- start: heading -->
                <div class="panel-heading"><a class="bt-cnt collapsed" @click="accordionToggle(idx)">{{ item.tit }}
                    <span v-if="isUser" class="agr-txt mgr-30">{{ (idx===0) ? String(myInfo.createdAt).substr(0,10) : String(myInfo.marketingAgreeAt).substr(0,10) }}일에 동의함</span>
                    <div class="bt-icon"><img :src="require('@/assets/images/icn-18-arrow-down.png')"></div>
                </a></div>
                <!-- end: heading -->

                <!-- start: body / collapse 로 펼쳐질 부분 -->
                <div class="collapse">
                    <div class="panel-body" style="background-color: #fff">
                        <div class="txt-cnt bg-grey" style="height: 400px; overflow-y: scroll">
                            <ul class="notice-dep1">
                                <p v-html="$options.filters.n2br(item.desc)"></p>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end: body / collapse 로 펼쳐질 부분 -->
            </li>
            <!--end :panel -->
        </ul>
    </div>
</div>
