<div class="contents">

    <!-- start: 공통 팝업 / 파일명 : W.6.3.1 (새 일정 등록 - 대상 클래스 선택) -->
    <modal v-if="true">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">새 일정 등록</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div style="height:65vh;">
                <div class="popup-form">
                    <div class="popup-form-top">
                        <div class="form-item post-classes">
                            <p><span class="icon"><img :src="require('@/assets/images/profile-myplan.svg')" alt=""> <span class="color-mark red"></span></span>클래스를 선택해 주세요.</p>
                            <div class="post-classes-select">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></button>
                                    <div class="list-popup-menu pos-right active" style="width:300px; transform:translate3d(42px, 0,0);">
                                        <p class="list-popup-tit">클래스 선택</p>
                                        <div class="list-popup-scroll" style="height:280px;">
                                            <a href="" class="list-popup-item">
                                                <div class="list-popup-pic"><img :src="require('@/assets/images/profile-myplan.png')" class="thumb" alt=""><span class="color-mark red"></span></div>
                                                <span class="pdl-52">내 일정</span>
                                            </a>
                                            <a href="" class="list-popup-item">
                                                <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark yellow"></span></div>
                                                <span class="pdl-52">1학년 3반 수학</span>
                                            </a>
                                            <a href="" class="list-popup-item">
                                                <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark blue"></span></div>
                                                <span class="pdl-52">특목 고등학교 입시 미술반</span>
                                            </a>
                                            <a href="" class="list-popup-item">
                                                <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark pink"></span></div>
                                                <span class="pdl-52">6학년 3반 독서부</span>
                                            </a>
                                            <a href="" class="list-popup-item">
                                                <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark aqua"></span></div>
                                                <span class="pdl-52">미술 아동반</span>
                                            </a>
                                            <a href="" class="list-popup-item">
                                                <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark black"></span></div>
                                                <span class="pdl-52">검정고시반</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <input type="text" class="form-control popup-type" placeholder="제목을 20자 이내로 작성해 주세요.">
                        </div>
                    </div>
                    <div class="popup-form-cnt">
                        <div class="form-item">
                            <p>하루종일</p>
                            <div class="form-box">
                                <div class="form-switcher">
                                    <input type="checkbox" id="toggle1">
                                    <label for="toggle1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <p>시작일시</p>
                            <div class="form-box">
                                <div class="form-group date">
                                    <input type="text" class="form-control" size="10" value="2020. 2. 28">
                                    <span class="date-area">2020. 2. 28</span>
                                    <button type="button" class="btn form-btn form-calendar"></button>
                                </div>
                                <div class="form-group time">
                                    <input type="text" class="time-control" size="12" value="오후 12시 00분">
                                    <button type="button" class="btn form-btn form-time"></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <p>종료일시</p>
                            <div class="form-box">
                                <div class="form-group date">
                                    <input type="text" class="form-control" size="10" value="2020. 2. 28">
                                    <span class="date-area">2020. 2. 28</span>
                                    <button type="button" class="btn form-btn form-calendar"></button>
                                </div>
                                <div class="form-group time">
                                    <input type="text" class="time-control" size="12" value="오후 12시 00분">
                                    <button type="button" class="btn form-btn form-time"></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-item">
                            <p>반복</p>
                            <div class="form-box">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><span>반복 없음</span><img :src="require('@/assets/images/arrow-right.svg')" class="sm" alt=""></button>
                                    <div class="list-popup-menu pos-right" style="transform:translate3d(87px, 0, 0)">
                                        <a href="" class="list-popup-item">반복 없음</a>
                                        <a href="" class="list-popup-item">한 번 반복</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-item post-cnt" style="height:154px;">
                            <textarea class="form-textarea" placeholder="일정 내용을 작성해 주세요."></textarea>
                        </div>
                    </div>

                    <div class="popup-form-btm">
                        <div class="form-add-btn">
                            <ul class="clearfix">
                                <li><a href=""><img :src="require('@/assets/images/image.svg')" alt=""></a></li>
                                <li><a href=""><img :src="require('@/assets/images/file.svg')" alt=""></a></li>
                            </ul>

                            <div class="form-temp-save"><a href="" class="txt-btn">임시저장</a></div>
                        </div>
                    </div>
                </div>
                <div class="popup-search-result">
                </div>
            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn primary navi" disabled>등록</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

</div>



