
<div class="contents home">
    <div class="contents-inner">

        <div class="contents-group">
            <section class="contents-left">
                <div class="class-notify">
                    <div class="notify-top">
                        <p class="class-tit">클래스별 알림</p>
                    </div>
                    <div class="notify-cnt">
                        <ul class="notify-list">
                            <li>
                                <a href="" class="all-class active">
                                    <span class="class-photo"><img src="assets/images/profile-class.png" class="thumb" alt=""></span>
                                    <span class="class-name">모든 클래스 알림</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="class-photo"><img src="assets/images/bg-icon.png" class="thumb" alt=""></span>
                                    <span class="class-name">1학년 3반 수학</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="class-photo"><img src="assets/images/pic5.png" class="thumb" alt=""></span>
                                    <span class="class-name">특목 고등학교 입시 미술반</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="class-photo"><img src="assets/images/bg-icon.png" class="thumb" alt=""></span>
                                    <span class="class-name">미술 아동반</span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="class-photo"><img src="assets/images/pic5.png" class="thumb" alt=""></span>
                                    <span class="class-name">6학년 3반 독서부</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 다가오는 일정 영역 -->
                <div class="classes-todo">
                    <div class="schedule-top">
                        <p class="class-tit">다가오는 일정</p>
                    </div>
                    <div class="schedule-cnt">
                        <ul class="schedule-list">
                            <li>
                                <div class="date"><span>2. 29</span></div>

                                <div class="detail">
                                    <div class="detail-list">
                                        <div class="item">
                                            <span class="bullet orange"></span>
                                            <p class="schedule-tit">서울여대 동창회 모임</p>
                                            <span class="time">오후 5시 - 8시</span>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="date">
                                    <p>3. 2</p>
                                </div>
                                <div class="detail">
                                    <div class="detail-list">
                                        <div class="item">
                                            <span class="bullet green"></span>
                                            <p class="schedule-tit">주말 독서 (1/2)</p>
                                            <span class="time">2020. 3. 2 - 2020. 3. 3</span>
                                        </div>

                                        <div class="item">
                                            <span class="bullet ps-blue"></span>
                                            <p class="schedule-tit">미술대회 일정 안내</p>
                                            <span class="time">2020. 3. 2 - 2020. 3. 3</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 다가오는 일정 영역 -->
            </section>
            <section class="contents-right">
                <div class="classes-schedule">
                    <div class="cnt-top">
                        <h2 class="cnt-tit">모든 클래스 일정</h2>
                        <div class="cnt-top-btn"><a href=""><img src="assets/images/classmenu-setting-outline.svg" alt=""></a></div>
                    </div>

                    <div class="schedule-calendar">
                        <div class="calendar-top">
                            <div class="tb-style full">
                                <div class="tb-cell" style="width:74px;">
                                    <div class="calendar-arrow-btn">
                                        <button type="button" class="btn only-ico-btn prev"></button>
                                        <button type="button" class="btn only-ico-btn next"></button>
                                    </div>
                                </div>
                                <div class="tb-cell">
                                    <p class="calendar-date">2020년 2월 29일</p>
                                </div>
                                <div class="tb-cell rt">
                                    <div class="form-group">
                                        <button type="button" class="btn primary grey sm">오늘</button>
                                        <select class="form-select">
                                            <option value="">월간</option>
                                            <option value="">주간</option>
                                            <option value="" selected>일간</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- 스크립트로 right 조절 필요 -->
        <a href="" class="classes-add-btn"></a>
    </div>



    <!-- start: 공통 팝업 -->
    <modal v-if="true">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">새 일정 등록</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-form">
                <div class="popup-form-top">
                    <div class="form-item post-classes">
                        <p><span class="icon"><img :src="require('@/assets/images/profile-myplan.svg')" alt=""> <span class="color-mark red"></span></span>클래스를 선택해 주세요.</p>
                        <div class="post-classes-select">
                            <div class="list-popup">
                                <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></button>
                                <div class="list-popup-menu pos-right active" style="width:300px; transform:translate3d(42px, 0,0);">
                                    <p class="list-popup-tit">클래스 선택</p>
                                    <div class="list-popup-scroll" style="height:280px;">
                                        <a href="" class="list-popup-item">
                                            <div class="list-popup-pic"><img :src="require('@/assets/images/profile-myplan.png')" class="thumb" alt=""><span class="color-mark red"></span></div>
                                            <span class="pdl-52">내 일정</span>
                                        </a>
                                        <a href="" class="list-popup-item">
                                            <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark yellow"></span></div>
                                            <span class="pdl-52">1학년 3반 수학</span>
                                        </a>
                                        <a href="" class="list-popup-item">
                                            <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark blue"></span></div>
                                            <span class="pdl-52">특목 고등학교 입시 미술반</span>
                                        </a>
                                        <a href="" class="list-popup-item">
                                            <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark pink"></span></div>
                                            <span class="pdl-52">6학년 3반 독서부</span>
                                        </a>
                                        <a href="" class="list-popup-item">
                                            <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark aqua"></span></div>
                                            <span class="pdl-52">미술 아동반</span>
                                        </a>
                                        <a href="" class="list-popup-item">
                                            <div class="list-popup-pic"><img :src="require('@/assets/images/bg-icon.png')" class="thumb" alt=""><span class="color-mark black"></span></div>
                                            <span class="pdl-52">검정고시반</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <input type="text" class="form-control popup-type" placeholder="제목을 20자 이내로 작성해 주세요.">
                    </div>
                </div>
                <div class="popup-form-cnt">
                    <div class="form-item">
                        <p>하루종일</p>
                        <div class="form-box">
                            <div class="form-switcher">
                                <input type="checkbox" id="toggle1">
                                <label for="toggle1"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <p>시작일시</p>
                        <div class="form-box">
                            <div class="form-group date">
                                <input type="text" class="form-control" size="10" value="2020. 2. 28">
                                <span class="date-area">2020. 2. 28</span>
                                <button type="button" class="btn form-btn form-calendar"></button>
                            </div>
                            <div class="form-group time">
                                <input type="text" class="time-control" size="12" value="오후 12시 00분">
                                <button type="button" class="btn form-btn form-time"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <p>종료일시</p>
                        <div class="form-box">
                            <div class="form-group date">
                                <input type="text" class="form-control" size="10" value="2020. 2. 28">
                                <span class="date-area">2020. 2. 28</span>
                                <button type="button" class="btn form-btn form-calendar"></button>
                            </div>
                            <div class="form-group time">
                                <input type="text" class="time-control" size="12" value="오후 12시 00분">
                                <button type="button" class="btn form-btn form-time"></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <p>반복</p>
                        <div class="form-box">
                            <div class="list-popup">
                                <button type="button" class="list-popup-btn"><span>반복 없음</span><img :src="require('@/assets/images/arrow-right.svg')" class="sm" alt=""></button>
                                <div class="list-popup-menu pos-right" style="transform:translate3d(87px, 0, 0)">
                                    <a href="" class="list-popup-item">반복 없음</a>
                                    <a href="" class="list-popup-item">한 번 반복</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item post-cnt" style="height:154px;">
                        <textarea class="form-textarea" placeholder="일정 내용을 작성해 주세요."></textarea>
                    </div>
                </div>

                <div class="popup-form-btm">
                    <div class="form-add-btn">
                        <ul class="clearfix">
                            <li><a href=""><img :src="require('@/assets/images/image.svg')" alt=""></a></li>
                            <li><a href=""><img :src="require('@/assets/images/file.svg')" alt=""></a></li>
                        </ul>

                        <div class="form-temp-save"><a href="" class="txt-btn">임시저장</a></div>
                    </div>
                </div>
            </div>
            <div class="popup-search-result">

            </div>
        </div>
        <div slot="footer">
            <!-- footer custom coding-->
            <div class="btn-group rt">
                <button type="button" class="btn primary navi" disabled>등록</button>
            </div>
        </div>
    </modal>
    <!-- end: 공통 팝업 -->

</div>



