<section class="contents-right">
    <div class="non-popup">
        <!-- popup header -->
        <div class="popup-header">
            <p class="popup-header-tit">멤버 활동 관리</p>
            <div class="popup-close">
                <button class="close" @click="goBack"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <!--// popup header -->

        <!-- popup-body -->
        <div class="popup-body">
            <div class="member-activity">
                <div class="activity-tit">
                    <p>차단된 멤버 {{ blockedMemberList.length }}</p>
                </div>
                <div class="member-management-list scroll-body" style="height:540px;">
                    <ul>
                        <li v-for="(item, idx) in blockedMemberList"
                            :key="idx"
                            class="member-item">
                            <p class="member-name">{{ item.nickname }}</p>
                            <p class="member-date">{{ item.updatedAt }} 차단</p>
                            <button type="button" class="member-more clear" @click="unblockModalOpen(item.id)">차단 해제하기</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// popup-body -->
    </div>

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.3.2 (멤버 활동 관리 - 차단목록-차단해제확인) -->
    <transition name="modal">
        <modal v-if="isUnblockModal" size="540px" body-padding="0" @modalClose="isUnblockModal=false;">
            <!-- popup header -->
            <div slot="header">
                <div class="popup-icon add"></div>
                <div class="popup-close">
                    <button class="close" @click="isUnblockModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <!--// popup header -->

            <!-- popup body -->
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">선택한 멤버를 차단 해제하시곘습니까?</h2>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type"
                                     :class="memberLevelIcon(blockedMemberLevel)">
                                    <p class="member-name">{{ blockedMemberNickname }}</p>
                                    <p class="member-tit">{{ memberLevelTxt(blockedMemberLevel) }}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// popup body -->

            <!-- popup footer -->
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="isUnblockModal = false">취소</btn>
                    <btn type="navi" @btnClick="isUnblockModal = false; isUnblockCompleteModal = true">차단 해제</btn>
                </div>
            </div>
            <!--// popup footer -->
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.8.3.3 (멤버 활동 관리-차단목록-차단해제완료) -->
    <transition name="modal">
        <modal v-if="isUnblockCompleteModal" size="540px" body-padding="0" @modalClose="isUnblockCompleteModal=false;">
            <!-- popup header -->
            <div slot="header">
                <div class="popup-icon confirm"></div>
                <div class="popup-close">
                    <button class="close" @click="isUnblockCompleteModal = false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <!--// popup header -->

            <!-- popup body -->
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">멤버 차단 해제가 완료되었습니다.</h2>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type staff">
                                    <p class="member-name">정재진엄마</p>
                                    <p class="member-tit">스탭 멤버</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// popup body -->

            <!-- popup footer -->
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="navi" @btnClick="isUnblockCompleteModal = false">확인</btn>
                </div>
            </div>
            <!--// popup footer -->
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->
</section>