<section class="contents-right">
    <div class="non-popup">
        <!-- popup header -->
        <div class="popup-header">
            <p class="popup-header-tit">
                <a href="#" class="mgr-10" @click.stop.prevent="goBack">
                    <img :src="require('@/assets/images/arrow-left.svg')" alt="">
                </a>
                스탭 추가하기 목록
            </p>
            <div class="popup-close">
                <button class="close" @click="goBack"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <!--// popup header -->

        <!-- popup-body -->
        <div class="popup-body">
            <div class="member-activity">
                <div class="activity-tit">
                    <p>일반 멤버 {{ totalMemberNum }}</p>
                </div>
                <div class="member-management-list scroll-body" style="height:586px;">
                    <ul>
                        <li v-for="(item, idx) in classMemberList"
                            :key="idx"
                            class="member-item">
                            <div class="member-type member">
                                <p class="member-name">{{ item.nickname }}</p>
                                <p class="member-tit">일반 멤버</p>
                            </div>
                            <a href="#" class="member-more" @click.stop.prevent="changePopupOpen(item.id, item.nickname)">스탭 추가하기</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--// popup-body -->
    </div>

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.9.1.1 (스탭 관리-스탭 추가 목록-권한 설정) -->
    <transition name="modal">
        <modal v-if="isChangePopup" size="540px" body-padding="0" @modalClose="isChangePopup=false">
            <div slot="header">
                <div class="popup-icon add"></div>
                <div class="popup-close">
                    <button class="close" @click="isChangePopup=false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">스탭 추가하기</h2>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none pdb-0">
                                <div class="member-type member mgb-15">
                                    <p class="member-name">{{ nickname }}</p>
                                    <p class="member-tit">
                                        <span>일반 멤버</span>
                                        <img :src="require('@/assets/images/arrow-line.svg')" class="icon-img sm" alt="">
                                        <span>스탭 멤버</span>
                                    </p>
                                </div>
                                <ul class="auth-list">
                                    <li>
                                        <p class="auth-tit">알림 관리</p>
                                        <div class="auth-btn">
                                            <div class="form-switcher">
                                                <input type="checkbox" id="authNotice" checked>
                                                <label for="authNotice"></label>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="auth-tit">일정 관리</p>
                                        <div class="auth-btn">
                                            <div class="form-switcher">
                                                <input type="checkbox" id="authSchedule" checked>
                                                <label for="authSchedule"></label>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="auth-tit">교육과정 관리</p>
                                        <div class="auth-btn">
                                            <div class="form-switcher">
                                                <input type="checkbox" id="authEdu" checked>
                                                <label for="authEdu"></label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="isChangePopup=false">취소</btn>
                    <btn type="navi" @btnClick="submitAuthChange">스탭 추가</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.9.1.2 (스탭 관리-스탭 추가 목록-추가 완료) -->
    <transition name="modal">
        <modal v-if="isChangeCompletePopup" size="540px" body-padding="0" @modalClose="closeChangeCompletePopup">
            <div slot="header">
                <div class="popup-icon confirm"></div>
                <div class="popup-close">
                    <button class="close" @click="closeChangeCompletePopup"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">스탭 멤버로 전환 완료되었습니다.</h2>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type staff">
                                    <p class="member-name">{{ nickname }}</p>
                                    <p class="member-tit">스탭 멤버</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="navi" @btnClick="closeChangeCompletePopup">확인</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->
</section>