<div class="contents">
    <div class="contents-inner">
        <div class="all-form">
            <h2 class="main-tit">일반 회원가입</h2>

            <div class="form-progress">
                <ul class="progress-list clearfix">
                    <li class="item"></li>
                    <li class="item"></li>
                    <li class="item active"></li>
                </ul>
            </div>

            <div class="form-wrapper">
                <h3 class="form-sub-tit ct">개인 정보 입력</h3>
                <div class="form-cnt">
                    <div class="all-form-data">
                        <p>개인 정보를 입력해 주세요.</p>
                        <span class="fs-12 fc-gray">( <span class="required" style="margin-left:-6px;"></span> ) 표시는 필수 입력 사항입니다.</span>

                        <div class="mgt-45">
                            <div class="tb-cnt">
                                <ValidationObserver>
                                    <table class="tb tb-form">
                                        <colgroup>
                                            <col style="width:120px;">
                                            <col style="width:auto;">
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th><label for="input2" class="required">이름</label></th>
                                            <td>
                                                <div class="form-group">
                                                    <ValidationProvider rules="requiredName" v-slot="{ errors }">
                                                        <input type="text" class="form-control" id="input2" :placeholder="messages.name"  style="width:390px">
                                                        <p class="form-message error">{{ errors[0] }}</p>
                                                    </ValidationProvider>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><label for="input3" class="required">아이디</label></th>
                                            <td>
                                                <div class="form-group inline">
                                                    <ValidationProvider rules="requiredId" v-slot="{ errors }">
                                                        <input type="text" class="form-control" id="input3" :placeholder="messages.id"  style="width:390px">
                                                        <p class="form-message error">{{ errors[0] }}</p>
                                                    </ValidationProvider>
                                                    <button type="button" class="btn basic x32 sm secondary fill" disabled>중복확인</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="top"><label for="input4" class="required">비밀번호</label></th>
                                            <td>
                                                <div class="form-group">
                                                    <ValidationProvider name="first" rules="requiredPw" v-slot="{ errors }">
                                                        <input type="password" class="form-control" id="input4"
                                                              :placeholder="messages.pw" v-model="pwdFormData.pwd" style="width:390px">
                                                        <p class="form-message error">{{ errors[0] }}</p>
                                                    </ValidationProvider>
                                                </div>
                                                <div class="form-group">
                                                    <ValidationProvider name="confirm" rules="requiredPw|confirmedPw:@first" v-slot="{ errors }">
                                                        <input type="password" class="form-control"
                                                              :placeholder="messages.pwRe" v-model="pwdFormData.rePwd" style="width:390px">
                                                        <p class="form-message error">{{ errors[0] }}</p>
                                                    </ValidationProvider>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="top"><label class="required">모바일 번호</label></th>
                                            <td>
                                                <div class="btn-checkbox">
                                                    <input type="checkbox" id="allCheck">
                                                    <label for="allCheck">본인 인증 모바일 번호 불러오기</label>
                                                </div>
                                                <div class="form-group inline mgt-20">
                                                    <input type="text" class="form-control" :placeholder="messages.mobileReq"  style="width:390px">
                                                    <button type="button" class="btn basic x32 sm secondary fill" disabled>인증</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="top"><label for="input5">이메일 주소</label></th>
                                            <td>
                                                <div class="form-group inline">
                                                    <input type="text" class="form-control" id="input5" :placeholder="messages.email"  style="width:390px">
                                                    <button type="button" class="btn basic x32 sm secondary fill" disabled>인증</button>
                                                </div>
                                                <div class="checkbox-group mgt-40">
                                                    <div class="btn-radio">
                                                        <input type="radio" name="email" id="radio1" disabled>
                                                        <label for="radio1">수신</label>
                                                    </div>
                                                    <div class="btn-radio">
                                                        <input type="radio" name="email" id="radio2" disabled>
                                                        <label for="radio2">미수신</label>
                                                    </div>
                                                    <p class="disabled mgt-7">수신 동의 시 이메일 서비스를 받아 보실 수 있습니다. </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ValidationObserver>
                                <table class="tb tb-form">
                                    <colgroup>
                                        <col style="width:120px;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th><label for="input2" class="required">이름</label></th>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="input2" placeholder="이름을 입력해 주세요."  style="width:390px">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="input3" class="required">아이디</label></th>
                                        <td>
                                            <div class="form-group inline">
                                                <input type="text" class="form-control" id="input3" placeholder="아이디를 입력해 주세요."  style="width:390px">
                                                <button type="button" class="btn basic x32 sm outline fill" disabled>중복확인</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="top"><label for="input4" class="required">비밀번호</label></th>
                                        <td>
                                            <div class="form-group">
                                                <input type="password" class="form-control" id="input4" placeholder="비밀번호를 입력해 주세요."  style="width:390px">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="비밀번호를 다시 입력해 주세요."  style="width:390px">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="top"><label class="required">모바일 번호</label></th>
                                        <td>
                                            <div class="btn-checkbox">
                                                <input type="checkbox" id="allCheck">
                                                <label for="allCheck">본인 인증 모바일 번호 불러오기</label>
                                            </div>
                                            <div class="form-group inline mgt-20">
                                                <input type="text" class="form-control" placeholder="모바일 번호 ‘-‘없이 입력해 주세요."  style="width:390px">
                                                <button type="button" class="btn basic x32 sm outline fill" disabled>인증</button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="top"><label for="input5">이메일 주소</label></th>
                                        <td>
                                            <div class="form-group inline">
                                                <input type="text" class="form-control" id="input5" placeholder="이메일 주소를 입력해 주세요."  style="width:390px">
                                                <button type="button" class="btn basic x32 sm outline fill" disabled>인증</button>
                                            </div>
                                            <div class="checkbox-group mgt-40">
                                                <div class="btn-radio">
                                                    <input type="radio" name="email" id="radio1" disabled>
                                                    <label for="radio1">수신</label>
                                                </div>
                                                <div class="btn-radio">
                                                    <input type="radio" name="email" id="radio2" disabled>
                                                    <label for="radio2">미수신</label>
                                                </div>
                                                <p class="disabled mgt-7">수신 동의 시 이메일 서비스를 받아 보실 수 있습니다. </p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-btm">
                    <div class="btn-group rt">
                        <router-link class="btn basic x40 sm outline ct" :to="{path:'verify'}">이전</router-link>
                        <router-link class="btn basic x40 sm primary navi ct" disabled :to="{path: ''}">다음</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
