<!-- Tab panes -->
<div class="tab-content" style="height:588px;">
  <div role="tabpanel">

    <!-- start: 아이디 찾기 -->
    <div v-if="!isConfirmComplete">
      <p class="find-txt">아이디 찾기를 위한 방법을 선택해 주세요.</p>

      <!-- 모바일 번호로 아이디 찾기 -->
      <div class="find-info">
        <div class="find-type">
          <radio-button btn-id="radio1"
                        radio-name="radio"
                        btn-value="mobile"
                        :active-value="formData.radioValue"
                        v-model="formData.radioValue"
                        @click="optionFindChange">전체 회원 정보에 등록된 모바일 번호로 아이디 찾기
          </radio-button>
        </div>
        <div class="find-info-input" :class="{'active':activeInputField('mobile')}">
          <div class="form-group inline">
            <!--<ValidationProvider name="모바일인증" rules="require" v-slot="{ errors }">
              <input type="text" class="form-control"
                   v-model="formData.mobile" :placeholder="messages.mobile" style="width:216px;"/>
            &lt;!&ndash;<button type="button" class="btn sm grey"
                    :disabled="!userMobileState" @click.stop="getUserIdByMobile">인증
            </button>&ndash;&gt;
            <btn type="grey" size="sm" :disabled="!userMobileState" @btnClick="getUserIdByMobile">인증</btn>
            <p class="form-message approval" v-if="isMobileChk">모바일 인증이 완료 되었습니다. 하단에 확인 버튼을 눌러 주세요.</p>
            <p class="form-message error" v-else>{{ errors[0] }}</p>
            </ValidationProvider>-->

            <txt-field size="216"
                    :placeholder="messages.mobile"
                    v-model="formData.mobile"
                    rules="required|mobile"
                    valid-name="모바일번호"></txt-field>
            <btn type="grey" size="sm" :disabled="!userMobileState" @btnClick="getUserIdByMobile">인증</btn>
          </div>
        </div>
      </div>

      <!-- 이메일로 아이디 찾기 -->
      <div class="find-info">
        <div class="find-type">
          <radio-button btn-id="radio2"
                        radio-name="radio"
                        btn-value="email"
                        v-model="formData.radioValue"
                        @click="optionFindChange">회원 정보에 등록된 이메일로 아이디 찾기
          </radio-button>
        </div>
        <div class="find-info-input" :class="{'active':activeInputField('email')}">
          <div class="form-group inline">
            <!--<input type="text" class="form-control"
                   v-model="formData.email" :placeholder="messages.email" style="width:216px;">
            &lt;!&ndash;<button type="button" class="btn sm grey"
                    :disabled="!userEmailState" @click.stop="getUserIdByEmail">인증
            </button>&ndash;&gt;
            <btn type="grey" size="sm" :disabled="!userEmailState" @btnClick="getUserIdByEmail">인증</btn>
            <p class="form-message approval" v-if="isEmailChk">이메일 인증이 완료 되었습니다. 하단에 확인 버튼을 눌러 주세요.</p>
            <p class="form-message error" v-else>{{ errorMsg }}</p>-->

            <txt-field size="216"
                       :placeholder="messages.email"
                       v-model="formData.email"
                       rules="required|email"
                       valid-name="이메일"></txt-field>
            <btn type="grey" size="sm" :disabled="!userEmailState" @btnClick="getUserIdByEmail">인증</btn>
          </div>
        </div>
      </div>

      <div class="find-btn">
        <div class="btn-group">
          <!--<button type="button" class="btn basic lg primary red wd-full"
                  :class="{'disabled':!verificationConfirm() }" @click="confirmClickHandler">확인
          </button>-->
          <btn size="wide" :disabled="!verificationConfirm()" @btnClick="confirmClickHandler">확인</btn>
        </div>
      </div>
      <div class="page-back"><a href="" @click.prevent="gotoLoginHandler">로그인으로 돌아가기</a></div>
    </div>
    <!-- end: 아이디 찾기 -->

    <!-- start: 아이디 찾기 / 비밀번호 재설정 결과 화면 -->
    <div v-else>
      <div class="find-card result" v-if="mobileChk">
        <p class="card-tit">
          회원님의 아이디는<br>
          <span class="fc-red">{{ findUserId }}</span>입니다.
        </p>
      </div>
      <div class="find-card send" v-else>
        <p class="card-tit">
          회원님의 이메일( {{ findInputUserEmail }} )로<br>
          아이디가 전송되었습니다.
        </p>
      </div>

      <div class="find-btn">
        <div class="btn-group">
          <!--<button type="button" class="btn primary red lg wd-full" @click.prevent="gotoLoginHandler">로그인으로 돌아가기</button>-->
          <btn type="primary" size="wide" @btnClick="gotoLoginHandler">로그인으로 돌아가기</btn>
        </div>
      </div>
    </div>
    <!-- end: 아이디 찾기 / 비밀번호 재설정 결과 화면 -->

  </div>

  <!-- start: 공통 조회 성공 팝업 -->
  <transition name="modal">
  <modal v-if="successOpenPopup">
    <div slot="header">
      <h3>인증 완료.</h3>
      <div class="popup-close" @click="closeSuccessPopup">
        <button type="button" class="close" ><img :src="require('@/assets/images/close.svg')" alt=""></button>
      </div>
    </div>
    <div slot="body">
      <div class="msg-container"
           v-html="$options.detailCurriculumIds.addMsg( getCurrentMsg() )" ></div>
    </div>
    <div slot="footer">
      <div class="btn-group ct">
        <btn @btnClick="closeSuccessPopup">확인</btn>
      </div>
    </div>
  </modal>
  </transition>
  <!-- end: 공통 조회 성공 팝업 -->

  <!-- start: 공통 에러 팝업 -->
  <transition name="modal">
  <modal v-if="errorOpenPopup">
    <div slot="header">
      <h3>인증 실패</h3>
      <div class="popup-close" @click="closeErrorPopup">
        <button type="button" class="close" ><img :src="require('@/assets/images/close.svg')" alt=""></button>
      </div>
    </div>
    <div slot="body">{{ errorMsg }}</div>
    <div slot="footer">
      <div class="btn-group ct">
        <btn @btnClick="closeErrorPopup">확인</btn>
      </div>
    </div>
  </modal>
  </transition>
  <!-- end: 공통 에러 팝업 -->
</div>

