<!--
    클래스 찾기 모음
    4.2.3.1 / 4.2.3.2 / 4.2.3.3 / 4.2.3.4
-->

<div class="contents">
    <div class="contents-inner">
        <div class="result-top">
            <h2><strong>‘파파야’</strong>에 대한 <strong class="fc-red">223</strong>건의 검색결과</h2>
            <div class="result-filter">
                <div class="checkbox-group">
                    <div class="btn-radio">
                        <input type="radio" name="radio1" id="allCheck" checked>
                        <label for="allCheck">전체</label>
                    </div>

                    <div class="btn-radio">
                        <input type="radio" name="radio1" id="radio1">
                        <label for="radio1">소속기관</label>
                    </div>

                    <div class="btn-radio">
                        <input type="radio" name="radio1" id="radio2">
                        <label for="radio2">클래스</label>
                    </div>

                    <div class="btn-radio">
                        <input type="radio" name="radio1" id="radio3">
                        <label for="radio3">태그</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="result-cnt">
            <div class="search-classes">
                <div class="tb-cnt">
                    <table class="tb tb-search">
                        <colgroup>
                            <col style="width:380px">
                            <col style="width:180px">
                            <col style="width:470px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th><strong>클래스</strong></th>
                            <th>운영자</th>
                            <th>태그</th>
                        </tr>
                        </thead>
                      <transition-group tag="tbody" name="slideY" @before-enter="beforeEnter" @after-enter="afterEnter">
                        <tr v-for="( bestItem, index ) in bestItems" :key="`cell-${index}`" :data-index="index">
                          <td>
                            <a href="" @click.prevent="gotoLink( bestItem )">
                              <div class="tb-style">
                                <div class="tb-cell wd-30">{{ bestItem.rank }}</div>
                                <div class="tb-cell">
                                  <img :src="getProfileImg(  bestItem.class.image_url )" alt="" style="width:32px; height:32px;border-radius:50%;">
                                </div>
                                <div class="tb-cell pdl-10">
                                  <span class="group-tit">{{ bestItem.class.g_name }}</span>
                                  <p class="class-tit">{{ bestItem.class.name }}</p>
                                </div>
                              </div>
                            </a>
                          </td>
                          <td>
                            <p class="class-admin">{{ bestItem.class.owner.nickname }}</p>
                          </td>
                          <td>
                            <div class="class-tag">
                              <a href="" @click.prevent="gotoLink( bestItem )">
                                <p>{{ getHashTag(bestItem.class.class_tags) }}</p>
                                <span class="search-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></span>
                              </a>
                            </div>
                          </td>
                        </tr>
                      </transition-group>

                    </table>
                </div>
            </div>
        </div>

        <div class="result-footer">
            <div class="pagination">
                <ul>
                    <li class="arrow"><a href=""><img :src="require('@/assets/images/arrow-left.svg')" alt=""></a></li>
                    <li class="num active"><a href="">1</a></li>
                    <li class="num"><a href="">2</a></li>
                    <li class="num"><a href="">3</a></li>
                    <li class="num"><a href="">4</a></li>
                    <li class="arrow active"><a href=""><img :src="require('@/assets/images/arrow-right.svg')" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
