<!--
    클래스 찾기 모음
    4.2.1 / 4.2.2
-->

<div class="contents search">
    <div class="search-page">
        <div class="search-top">
            <div class="search-inner">
                <div class="search-bar clearfix">
                    <div class="tb-style full">
                        <div class="tb-cell" style="width:80%;"><input type="text" class="form-search" placeholder="검색어를 입력해 주세요."></div>
                        <div class="tb-cell rt"><button type="button" class="btn primary red">검색</button></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-cnt">
            <div class="recommend">
                <p class="recommend-tit">#추천 키워드</p>
                <div class="keyword">
                    <div class="search-inner">
                        <ul class="keyword-list clearfix">
                            <li><a href="">해외유학정보</a></li>
                            <li><a href="">온라인스터디</a></li>
                            <li><a href="">중국어조기교육</a></li>
                            <li><a href="">코딩교육</a></li>
                            <li><a href="">영어학원</a></li>
                            <li><a href="">파파야</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="search-classes">
                <div class="search-inner">
                    <div class="tb-cnt">
                        <table class="tb tb-search">
                            <colgroup>
                                <col style="width:380px">
                                <col style="width:180px">
                                <col style="width:470px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th><strong>TOP 5 인기 클래스</strong></th>
                                <th>운영자</th>
                                <th>태그</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="search-classes bg-white">
                <div class="search-inner">
                    <div class="tb-cnt">
                        <table class="tb tb-search">
                            <colgroup>
                                <col style="width:380px">
                                <col style="width:180px">
                                <col style="width:470px">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="tb-style">
                                        <div class="tb-cell wd-30">1</div>
                                        <div class="tb-cell"><img :src="require( '@/assets/images/pic5.png')" alt="" style="width:32px; height:32px;"></div>
                                        <div class="tb-cell pdl-10">
                                            <span class="group-tit">김주영 영어학원</span>
                                            <p class="class-tit">김주영 선생님의 영어교육</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="class-admin">김망고</p>
                                </td>
                                <td>
                                    <div class="class-tag">
                                        <a href="">
                                            <p>#미술학원 #고고미술학원 #태그태그태그</p>
                                            <span class="search-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="tb-style">
                                        <div class="tb-cell wd-30">2</div>
                                        <div class="tb-cell"><img :src="require('@/assets/images/pic5.png')" alt="" style="width:32px; height:32px;"></div>
                                        <div class="tb-cell pdl-10">
                                            <span class="group-tit">고고입시학원</span>
                                            <p class="class-tit">2019 입시 정보 공유</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="class-admin">고고고쌤</p>
                                </td>
                                <td>
                                    <div class="class-tag">
                                        <a href="">
                                            <p>#입시정보 #2019 #고고입시학원 #수능 #대학교입학 #일이삼사오육칠팔구십</p>
                                            <span class="search-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="tb-style">
                                        <div class="tb-cell wd-30">3</div>
                                        <div class="tb-cell"><img :src="require('@/assets/images/pic5.png')" alt="" style="width:32px; height:32px;"></div>
                                        <div class="tb-cell pdl-10">
                                            <span class="group-tit">소모임</span>
                                            <p class="class-tit">유아교육 심화 클래스</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="class-admin">유아인</p>
                                </td>
                                <td>
                                    <div class="class-tag">
                                        <a href="">
                                            <p>#입시정보 #2019 #고고입시학원 #수능 #대학교입학 #입시학원</p>
                                            <span class="search-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="tb-style">
                                        <div class="tb-cell wd-30">4</div>
                                        <div class="tb-cell"><img :src="require('@/assets/images/pic5.png')" alt="" style="width:32px; height:32px;"></div>
                                        <div class="tb-cell pdl-10">
                                            <span class="group-tit">소모임</span>
                                            <p class="class-tit">그림쟁이들의 모임</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="class-admin">김그림원장</p>
                                </td>
                                <td>
                                    <div class="class-tag">
                                        <a href="">
                                            <p>#그림쟁이 #취미 #모임 #미술 #스케치 #고양이</p>
                                            <span class="search-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="tb-style">
                                        <div class="tb-cell wd-30">5</div>
                                        <div class="tb-cell"><img :src="require('@/assets/images/pic5.png')" alt="" style="width:32px; height:32px;"></div>
                                        <div class="tb-cell pdl-10">
                                            <span class="group-tit">소모임</span>
                                            <p class="class-tit">제주도 여행의 모든것</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="class-admin">박제주선생님</p>
                                </td>
                                <td>
                                    <div class="class-tag">
                                        <a href="">
                                            <p>#제주도에관한모든것을공유하는모임 #제주도여행 #소모임 #취미생활 #한라산 #여행</p>
                                            <span class="search-more"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
