<section class="contents-right">
    <div class="non-popup">
        <!-- popup header -->
        <div class="popup-header">
            <p class="popup-header-tit">가입 현황 관리</p>
            <div class="popup-close">
                <button class="close" @click="goBack"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <!--// popup header -->

        <!-- popup-body -->
        <div class="popup-body">
            <div class="popup-cnt">
                <p class="popup-txt">가입 신청자 대기 리스트입니다.</p>
            </div>

            <div v-if="applyMembers.length>0" class="apply-list scroll-body" style="height:580px;">
                <ul>
                    <li v-for="(item, idx) in applyMembers"
                        :key="idx"
                        class="apply-item">
                        <p class="apply-name">{{ item.nickname }}</p>
                        <span class="apply-date">{{ item.createdAt }} 신청</span>
                        <button class="apply-more" @click="openJoinDetail(item.id)"><img :src="require('@/assets/images/arrow-right.svg')" alt=""></button>
                    </li>
                </ul>
            </div>
            <!-- 가입 신청자 없음 -->
            <div v-else class="no-notify" style="height:540px">
                <div class="no-data">
                    <p>가입 신청자가 없습니다.</p>
                </div>
            </div>
        </div>
        <!--// popup-body -->
    </div>

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.7.1 (클래스 가입 신청 상세) -->
    <transition name="modal">
        <modal v-if="isJoinDetail" size="540px" body-padding="0" @modalClose="isJoinDetail=false">
            <div slot="header">
                <div class="popup-icon add"></div>
                <div class="popup-close">
                    <button class="close" @click="isJoinDetail=false"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit pdb-0">가입 신청 상세</h2>
                </div>
                <div class="member-profile">
                    <p class="request-date">{{ classMemberInfo.createdAt }}에 신청</p>

                    <div class="join-detail">
                        <div class="join-detail-top">
                            <p class="join-top-tit">클래스 닉네임</p>
                            <span class="join-top-txt">{{ classMemberInfo.nickname }}</span>
                        </div>

                        <div class="join-detail-cnt">
                            <div v-for="(item, idx) in answerList"
                                 :key-="idx"
                                 class="join-qna">
                                <p class="join-qna-q">{{ idx+1 }}. {{ item.question }}</p>
                                <p class="join-qna-a">{{ item.answer }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="outline" @btnClick="isJoinDetail=false">거절</btn>
                    <btn type="navi" @btnClick="joinAccept">신청 수락</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->
</section>