<div class="contents home">
    <div class="contents-inner">
        <div class="contents-group">
            <section class="contents-left">
                <div class="class-home">
                    <div class="class-home-info">
                        <div class="info-img">
                            <img :src="require('@/assets/images/bg-icon.png')" alt="">
                        </div>
                        <div class="info-txt">
                            <p class="info-cn">홍대 감성카페 모임</p>
                            <span class="info-or">소모임</span>
                            <ul class="info-list">
                                <li>2019</li>
                                <li>비공개클래스</li>
                                <li><a href="">멤버 2122</a></li>
                            </ul>
                            <p class="info-tag">#꿈꾸는아이들 #파파야초등학교 #재미있는 #파파야 #어드벤처</p>
                        </div>
                        <div class="class-bookmark">
                            <button type="button" class="btn primary navi" style="font-size: 12px;">가입하기</button>
                        </div>
                    </div>
                    <div class="class-menu">
                        <ul class="menu-list">
                            <li><a href="" class="type1 active">클래스 홈</a></li>
                            <li><a href="" class="type2">알림</a></li>
                            <li><a href="" class="type3">일정</a></li>
                            <li><a href="" class="type4">파일함</a></li>
                            <li><a href="" class="type5">교육과정</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="contents-right">
                <div class="classes-feed home">
                    <h2 class="cnt-tit">클래스 홈</h2>
                    <div class="top-notify">
                        <div class="accordion">
                            <!-- accordion 1-->
                            <div class="accordion-tit">
                                <a href="javascript:void(0);" class="accordion-btn" data-toggle="collapse" data-target="#accordion1">
                                    <span class="icon"><img :src="require('@/assets/images/announcement-outline.svg')" class="icon-img" alt=""></span>
                                    <span class="mgr-10">공지</span>
                                    <span class="fc-gray">6월의 연남동 카페 리스트</span>
                                </a>
                            </div>

                            <div class="accordion-cnt active" id="accordion1">
                                <div class="notify-feed">
                                    <h3 class="fd-tit">6월의 카페모임 일정 공지드려요</h3>
                                    <div class="fd-writer type2">
                                        <p class="writer">
                                            <span class="name">박수한선생님</span>
                                            <span class="time">2시간 전</span>
                                        </p>
                                    </div>
                                    <div class="fd-btn">
                                        <div class="list-popup">
                                            <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                            <div class="list-popup-menu pos-right active" style="transform:translate3d(42px, 0,0);">
                                                <a href="" class="list-popup-item">알림 수정</a>
                                                <a href="" class="list-popup-item">공지로 등록</a>
                                                <a href="" class="list-popup-item">알림 보관</a>
                                                <a href="" class="list-popup-item">알림 삭제</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="notify-feed">
                                    <h3 class="fd-tit">2019년 수학경시대회 안내사항</h3>
                                    <div class="fd-writer type2">
                                        <p class="writer">
                                            <span class="name crown">김미영선생님</span>
                                            <span class="time">어제</span>
                                        </p>
                                    </div>
                                    <div class="fd-btn">
                                        <div class="list-popup">
                                            <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                            <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                                                <a href="" class="list-popup-item">알림 수정</a>
                                                <a href="" class="list-popup-item">공지로 등록</a>
                                                <a href="" class="list-popup-item">알림 보관</a>
                                                <a href="" class="list-popup-item">알림 삭제</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //accordion 1-->
                        </div>
                    </div>

                    <div class="feed-item cal">
                        <div class="fd-head">
                            <h3 class="fd-tit">6월의 카페모임 일정 공지드려요</h3>
                            <div class="fd-writer type2">
                                <p class="writer">
                                    <span class="name">커피홀릭</span>
                                    <span class="time">2시간 전</span>
                                    <span class="noti">공지</span>
                                </p>
                            </div>
                            <div class="fd-btn">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                    <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                                        <a href="" class="list-popup-item">알림 수정</a>
                                        <a href="" class="list-popup-item">공지로 등록</a>
                                        <a href="" class="list-popup-item">알림 보관</a>
                                        <a href="" class="list-popup-item">알림 삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fd-cnt">
                            <p class="fd-txt">
                                장소는 연남동 브앙카페입니다.
                            </p>

                            <div class="fd-inner">
                                <ul class="schedule-list">
                                    <li><a href="">2019. 12. 10 오전 10시 - 11시</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="feed-item cal">
                        <div class="fd-head">
                            <h3 class="fd-tit">카페의 역사 1~5단원</h3>
                            <div class="fd-writer type2">
                                <p class="writer">
                                    <span class="name">김커피커피장</span>
                                    <span class="time">2시간 전</span>
                                </p>
                            </div>
                            <div class="fd-btn">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                    <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                                        <a href="" class="list-popup-item">알림 수정</a>
                                        <a href="" class="list-popup-item">공지로 등록</a>
                                        <a href="" class="list-popup-item">알림 보관</a>
                                        <a href="" class="list-popup-item">알림 삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fd-cnt">
                            <p class="fd-txt">새로운 교육과정이 등록되었습니다.</p>
                            <p class="fd-txt">총 5회의 수업이 있습니다.</p>
                        </div>
                    </div>

                    <div class="feed-item cal">
                        <div class="fd-head">
                            <h3 class="fd-tit">새로운 카페를 소개시켜드려요</h3>
                            <div class="fd-writer type2">
                                <p class="writer">
                                    <span class="name crown">코스모스커피</span>
                                    <span class="time">2019.12.11</span>
                                </p>
                            </div>
                            <div class="fd-btn">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                    <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                                        <a href="" class="list-popup-item">알림 수정</a>
                                        <a href="" class="list-popup-item">공지로 등록</a>
                                        <a href="" class="list-popup-item">알림 보관</a>
                                        <a href="" class="list-popup-item">알림 삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fd-cnt">
                            <p class="fd-txt">
                                운동회는, 전교생이 청군과 백군으로 나눠 운동장에서 하루 동안 대결을 펼치는 운동회입니다. 달리기를 하면 1등에서 3등까지는 등수 별로 도장을 받았습니다.
                            </p>
                            <p class="fd-txt">
                                손목위에 찍힌 도장을 확인하며, 학용품도 받았죠. 또한, 김밥과 치킨 등 부모님께서 준비한 도시락을 먹는 것도 운동회에 대한 추억입니다. 이번에는 운동회의 역사와 현재의 운동회를 알아보는 시간을 가져보겠습니다.
                            </p>

                            <div class="fd-inner">
                                <ul class="img-list clearfix">
                                    <li><a href=""><img :src="require('@/assets/images/pic.png')" alt=""></a></li>
                                    <li><a href=""><img :src="require('@/assets/images/pic2.png')" alt=""></a></li>
                                    <li><a href=""><img :src="require('@/assets/images/pic3.png')" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="fd-foot clearfix">
                            <span class="fd-viewer">124명 읽음</span>
                            <span class="fd-comment">댓글 12</span>
                        </div>
                    </div>

                    <div class="feed-item cal">
                        <div class="fd-head">
                            <h3 class="fd-tit">6월의 카페모임 일정 공지드려요.</h3>
                            <div class="fd-writer type2">
                                <p class="writer">
                                    <span class="name crown">커피홀릭</span>
                                    <span class="time">2019.12.10</span>
                                </p>
                            </div>
                            <div class="fd-btn">
                                <div class="list-popup">
                                    <button type="button" class="list-popup-btn"><img :src="require('@/assets/images/more.svg')" alt=""></button>
                                    <div class="list-popup-menu pos-right" style="transform:translate3d(42px, 0,0);">
                                        <a href="" class="list-popup-item">알림 수정</a>
                                        <a href="" class="list-popup-item">공지로 등록</a>
                                        <a href="" class="list-popup-item">알림 보관</a>
                                        <a href="" class="list-popup-item">알림 삭제</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fd-cnt">
                            <p class="fd-txt">어디로 가야 하는지 지도와 나침반이 있어야 올바른 길로 올바른 속도로 그리고 올바른 방향으로 갈 수 있죠. 공부에 있어서는 목차가 그러한데요. 오늘은 수학 II 목차를 3단원 내용 모두 다 정리해보려고 합니다.</p>
                            <p class="fd-txt">투표 부탁드립니다.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- start: 공통 팝업 / 파일명 : W.4.4.2.1 (클래스 페이지 - 가입신청 - 오픈 클래스 ) -->
    <transition name="modal">
       <modal v-if="false" size="600px" body-padding="0">
        <div slot="header">
            <!-- header custom coding-->
            <p class="popup-header-tit">가입하기</p>
            <div class="popup-close">
                <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>

        <div slot="body">
            <!-- body custom coding-->
            <div class="popup-form">
                <div class="scroll-body" style="height:524px">
                    <div class="popup-form-top">
                        <div class="form-item post-classes">
                            <p>
                                <span class="icon"><img :src="require('@/assets/images/bg-icon.png')" class="icon-img" alt=""></span>
                                <span class="gr-name">소모임</span>
                                <strong class="cls-name">홍대 감성카페 모임</strong>
                            </p>
                        </div>

                    </div>
                    <div class="popup-form-cnt bd-btm">
                        <p class="form-item post-cnt ft-dsec">
                            홍대피플이라면 가입하고 싶은 홍대감성카페모임입니다. 홍대, 연남동 중심으로 카페를 홍보 및 추천드리고 있으며 아래의 간단한 질문을 답해주시길 바랍니다.
                        </p>
                    </div>
                    <div class="popup-form-btm">
                        <p class="enroll-tit bd-btm" style="font-size: 14px;">클래스 닉네임</p>
                        <div class="popup-search">
                            <div class="form-group inline">
                                <input type="text" class="form-control" placeholder="검색어를 입력해 주세요."
                                       style="width:430px">
                                <btn type="grey" size="sm">중복확인</btn>
                            </div>
                        </div>
                        <ul class="enroll-qna">
                            <li>
                                <p>1. 홍대 감성카페 모임을 알게된 경로가 어떻게 되나요?</p>
                                <textarea class="form-textarea" placeholder="답변을 작성해 주세요."></textarea>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div slot="footer">
            <div class="btn-group rt">
                <btn type="navi">가입하기</btn>
            </div>
        </div>
    </modal>
    </transition>
    <!-- end: 공통 팝업 -->

    <!-- start: 공통 팝업 / 파일명 : W.4.4.3 (클래스 페이지 - 가입완료 안내) -->
    <transition name="modal">
        <modal v-if="false" size="600px" body-padding="0">
            <div slot="header">
                <!-- header custom coding-->
                <div class="popup-icon success"></div>
                <div class="popup-close">
                    <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>

            <div slot="body">
                <div class="popup-cnt">
                    <h2 class="popup-tit">가입이 완료되었습니다.</h2>
                    <p class="popup-txt">
                        환영합니다. <strong>김기수엄마_김지현</strong>님.<br>
                        <strong>꿈꾸는 5학년 1반 클래스</strong>에 가입이 완료되었습니다.
                    </p>
                </div>
                <div class="member-activity">
                    <div class="member-management-list bd-none">
                        <ul>
                            <li class="member-item bd-none">
                                <div class="member-type member">
                                    <p class="member-name">김기수엄마_김지현</p>
                                    <p class="member-tit">일반 멤버</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div slot="footer">
                <div class="btn-group rt">
                    <btn type="outline">취소</btn>
                    <btn type="navi">확인</btn>
                </div>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

</div>
