<div class="contents-inner">
  <div class="login-form clearfix">

    <!-- start: 로그인 부분 -->
    <div class="form-cnt" v-if="loginStatus">
      <h2 class="login-tit">로그인</h2>
      <div class="form-input">
        <div class="form-group" style="width:340px">
          <label for="input1">아이디</label>
          <input type="text" class="form-control" v-model="userId" placeholder="아이디를 입력해 주세요.">
        </div>
        <div class="form-group" style="width:340px">
          <label for="input2">비밀번호</label>
          <input type="text" class="form-control" v-model="userPw" placeholder="비밀번호를 입력해 주세요.">
        </div>

        <div class="btn-group mgt-40">
          <button type="button" class="btn basic big primary red" @click="validate">로그인</button>
        </div>
      </div>
      <div class="login-helper">
        <div class="find-info">
          <a href="" class="after-line" @click.stop.prevent="setAccountStatus(STATUS_FIND_ID)">아이디 찾기</a>
          <a href="" @click.stop.prevent="setAccountStatus(STATUS_PWD_RESET)">비밀번호 재설정하기</a>
        </div>
        <div class="join">
          <span>아직 회원이 아니신가요?</span>
          <a href="">회원가입</a>
        </div>
      </div>
    </div>
    <!-- end: 로그인 부분 -->

    <!-- start: 아이디 찾기 부분 / 비밀번호 재설정 -->
    <div class="form-cnt pd-desc" v-if="findStatus && !verifyComplete">
      <!-- Nav tabs -->
      <div class="form-tab">
        <ul class="tabs-line" role="tablist" data-column="2">
          <li class="item active"><a href="#a5" role="tab" data-toggle="tab">아이디 찾기</a></li>
          <li class="item"><a href="#a6" role="tab" data-toggle="tab">비밀번호 재설정</a></li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="a5">
          <p class="find-txt">아이디 찾기를 위한 방법을 선택해 주세요.</p>
          <div class="find-info">
            <div class="find-type">
              <div class="btn-radio">
                <input type="radio" name="radio" id="radio1" @click="radioBtnChanges">
                <label for="radio1">전체 회원 정보에 등록된 모바일 번호로 아이디 찾기</label>
              </div>
            </div>
            <div class="find-info-input active">
              <div class="form-group inline">
                <!--<input type="text" class="form-control" placeholder="모바일 번호 ‘-‘없이 입력해 주세요."  style="width:216px">
                <button type="button" class="btn basic x32 sm secondary fill" disabled>인증</button>-->
                <p v-if="formData.radioValue ==='mobile'">
                  <input type="text"
                         class="form-control"
                          v-model="formData.mobile"
                          :placeholder="messages.mobile"
                          style="width:216px;"
                          name="mobileVerification" />
                  <label for="mobileVerification" class="blind"></label>
                  <button type="button"
                          class="btn basic x32 sm secondary fill"
                          :disabled="!userMobileState"
                          @click.stop="getAuthMobileNum">{{ isMobileChk? '재전송':'인증' }}</button>
                </p>

                <p v-if="isMobileChk">
                  <input type="text"
                         class="form-control"
                          v-model="mVerificationVal"
                          ref="mVerificationVal" />
                  <button type="button"
                          class="btn basic x32 sm secondary fill"
                          :disabled="mVerificationVal===''"
                          @click.stop="mVerificationConfirm">확인</button>
                </p>
                <small v-if="mVerificationComplete" >모바일 인증이 완료 되었습니다. 하단에 확인 버튼을 눌러 주세요.</small>
              </div>
            </div>
          </div>

          <div class="find-info">
            <div class="find-type">
              <div class="btn-radio">
                <input type="radio" name="radio" id="radio2">
                <label for="radio2">회원 정보에 등록된 이메일로 아이디 찾기</label>
              </div>
            </div>
            <div class="find-info-input">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="이메일 주소를 입력해 주세요."  style="width:306px">
              </div>
            </div>
          </div>

          <div class="find-btn">
            <div class="btn-group">
              <button type="button" class="btn basic big primary red" @click.stop="verificationConfirm" :disabled="!isMobileChk">확인</button>
            </div>
          </div>
          <div class="page-back"><a href="" @click.stop.prevent="setAccountStatus(STATUS_LOGIN)">로그인으로 돌아가기</a></div>
        </div>
      </div>
    </div>
    <!-- end: 아이디 찾기 부분  / 비밀번호 재설정  -->


    <div  class="form-cnt pd-desc" v-show="verifyComplete">
      <div style="padding:30px 40px;border-top:1px solid #f4f5f6;">
        <p class="guide-cmt">회원님의 아이디는 </p>
        <p class="guide-cmt"><strong class="red-color">{{findUserID}}</strong>입니다.</p>
        <div class="mgt-90">
          <img src="../../assets/images/illust-login.png" alt="">
          <div class="page-back"><a href="" @click.stop.prevent="gotoLogin">로그인으로 돌아가기</a></div>
        </div>
      </div>

    </div>


  </div>
</div>
