<section class="contents-right">
    <div class="non-popup">
        <!-- popup header -->
        <div class="popup-header">
            <p class="popup-header-tit">클래스 태그 관리</p>
            <div class="popup-close">
                <button class="close" @click="goBack"><img :src="require('@/assets/images/close.svg')" alt=""></button>
            </div>
        </div>
        <!--// popup header -->

        <!-- popup-body -->
        <div class="popup-body">
            <div class="popup-cnt">
                <p class="popup-txt">클래스를 표현할 수 있는 태그를 추가해 보세요. 총 10개까지 등록 가능합니다.</p>

                <div class="tag-cnt">
                    <span class="label">등록된 태그 <strong>{{ tagList.length }}/10</strong></span>
                    <div class="tag-list mgt-16">
                        <div v-for="(item, idx) in tagList"
                             :key="idx"
                             class="hashtag">
                            <span class="tag-label">{{ item.keyword }}</span>
                            <button type="button" class="tag-delete"><img :src="require('@/assets/images/delete.svg')" alt=""></button>
                        </div>
                        <button type="button" class="btn ico-btn ico-left sm" @click="openTagSearchPopup"><img :src="require('@/assets/images/add.svg')" class="icon" alt="">태그추가</button>
                    </div>
                </div>
            </div>
        </div>
        <!--// popup-body -->

        <!-- popup footer -->
        <div class="popup-footer">
            <div class="btn-group rt">
                <btn type="outline" @btnClick="goBack">취소</btn>
                <btn type="navi">저장</btn>
            </div>
        </div>
        <!--// popup footer -->
    </div>

    <!-- start: 공통 팝업 / 파일명 : W.4.5.7.4.1 ~ W.4.5.7.4.2 (클래스 태그 검색) -->
    <transition name="modal">
        <modal v-if="isClassTagSearch" size="540px" body-padding="0">
            <div slot="header">
                <div class="popup-icon search"></div>
                <div class="popup-close">
                    <button class="close" @click="closeTagSearchPopup"><img :src="require('@/assets/images/close.svg')" alt=""></button>
                </div>
            </div>
            <div slot="body">
                <div class="popup-search">
                    <h2 class="popup-tit">태그를 검색해 보세요.</h2>
                    <div class="form-group inline" style="position:relative;">
                        <!--<input type="text"
                               class="form-control"
                               id="searchSchool"
                               style="width:370px"
                               placeholder="학교 이름을 검색해주세요."
                               v-stream:keyup="keyup$">-->
                        <txt-field
                                id="searchSchool"
                                placeholder="학교 이름을 검색해주세요."
                                size="370" v-model="searchTagValue">
                        </txt-field>
                        <btn type="grey" size="sm" @btnClick="">검색</btn>
                        <!-- start: 로딩 바 -->
                        <div class="lds-roller" v-show="loadingModel"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        <!-- end: 로딩 바 -->

                    </div>
                </div>

                <template v-if="searchResultValue.length >= 1">
                    <div class="search-result">
                        <div class="search-result-cnt">
                            <ul class="search-result-item">
                                <li>
                                    <div class="tb-cell">
                                        <button type="button" class="result-tit"><strong>파파야</strong>초등학교</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </template>

                <template v-else-if="searchResultValue.length === 0">
                    <div class="search-result">
                        <p class="search-none">‘<strong>{{searchResultValue}}</strong>’에 대한 검색 결과가 없습니다.</p>
                    </div>
                </template>
            </div>
        </modal>
    </transition>
    <!-- end: 공통 팝업 -->

</section>