<div class="form-wrapper">
  <h3 class="form-sub-tit ct">{{ pageTitle }}</h3>
  <div class="form-cnt">
    <div class="class-created">
      <p>{{ pageDesc }}</p>

      <div class="class-type">
        <ul class="type-list clearfix">
          <li :class="[item.type, { 'active':isActive(index) }]" v-for="( item, index ) in menuInfos" :key="`item-${index}`">
            <a href="javascript:void(0);" @click="menuClickHandler( index )">{{ item.title }}</a>
          </li>
          <!--<li class="type1"><a href="">학교</a></li>
          <li class="type2"><a href="">단체</a></li>
          <li class="type3"><a href="">소모임</a></li>-->
        </ul>
      </div>

      <template v-if="isSchoolSelected(activeItem)">
        <div class="form-group inline">
          <label for="schoolName">학교 이름</label>
          <txt-field id="schoolName" placeholder="학교를 검색해주세요." size="387"></txt-field>
          <btn type="grey" size="sm" @btnClick="openSchoolSearchPopup">검색</btn>
        </div>
      </template>
      <template v-else-if="isOrganization(activeItem)">
        <div class="form-group inline">
          <label for="groupName">단체 이름</label>
          <txt-field id="groupName" placeholder="단체 이름을 입력해 주세요." size="390"></txt-field>
        </div>
      </template>

    </div>
  </div>
  <div class="form-btm">
    <div class="btn-group rt">
      <button type="button" class="btn primary navi" disabled>다음</button>
    </div>
  </div>


  <!-- start: 공통 팝업 -->
  <modal v-if="isOpenPopup" size="540px" body-padding="10px 0 20px" @modalClose="closeSchoolSearchPopup">
    <div slot="header">
      <!-- header custom coding-->
      <div class="popup-icon search"></div>
      <div class="popup-close" @click="closeSchoolSearchPopup">
        <button class="close"><img :src="require('@/assets/images/close.svg')" alt=""></button>
      </div>
    </div>
    <div slot="body">
      <!-- body custom coding-->
      <div class="popup-search">
        <h2 class="popup-tit">학교 이름을 검색해 주세요.</h2>
        <div class="form-group inline">
          <!--<input type="text"
                 class="form-control"
                 id="searchSchool"
                 style="width:370px"
                 placeholder="학교 이름을 검색해주세요."
                 v-stream:keyup="keyup$">-->
          <txt-field
                  id="searchSchool"
                  placeholder="학교 이름을 검색해주세요."
                  size="370" ></txt-field>
          <btn type="grey" size="sm" @btnClick="">검색</btn>
        </div>
      </div>
      <div class="search-result">
        <div class="search-result-cnt">
          <ul class="search-result-item">
            <li v-for="item in searchResults">
              <a href="" class="result-link">
                <div class="tb-cell result-tit">{{item.name}}</div>
                <div class="tb-cell result-sub">{{ item.rd_addr }}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div slot="footer">
      <!-- footer custom coding-->
      <div class="btn-group ct">
        <btn type="outline" @btnClick="">직접입력</btn>
<!--        <button type="button" class="btn outline">직접입력</button>-->
      </div>
    </div>
  </modal>
  <!-- end: 공통 팝업 -->
</div>



